<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Sales\Block\Order\Email\Items\DefaultItems */

/** @var $_item \Magento\Sales\Model\Order\Item */
$_item = $block->getItem();
$_order = $_item->getOrder();


$_imagehelper = $this->helper('Magento\Catalog\Helper\Image');
if($childProd = current($_item->getChildrenItems()))
{
        $productImage = $_imagehelper->init($childProd->getProduct(), 'category_page_list', array('height' => 77 , 'width'=> 115))->getUrl();
}
else
{
        $productImage = $_imagehelper->init($_item->getProduct(), 'category_page_list', array('height' => 77 , 'width'=> 115))->getUrl();
}

?>


  <tr>
    <td><table width="435" border="0" cellspacing="0" cellpadding="0" >
      <tr>
        <td width="250PX" style="text-align:LEFT; font-family:ARIAL; color:#594933; font-size:14PX; "><strong><?= $block->escapeHtml($_item->getName()) ?> </strong></td>
        <td width="185PX" rowspan="2" style="text-align:LEFT; font-family:ARIAL; color:#594933; font-size:14PX;">Qty: <?= /* @escapeNotVerified */  $_item->getQtyOrdered() * 1 ?> Price:  <?= /* @escapeNotVerified */  $block->getItemPrice($_item); ?></td>
      </tr>
      <tr>
        <td><img src="<?php echo $productImage; ?>" width="115" height="77"></td>
        </tr>
    </table></td>
  </tr>


<?php if ($_item->getGiftMessageId() && $_giftMessage = $this->helper('Magento\GiftMessage\Helper\Message')->getGiftMessage($_item->getGiftMessageId())): ?>
<tr>
    <td colspan="3" class="item-extra">
        <table class="message-gift">
            <tr>
                <td>
                    <h3><?= /* @escapeNotVerified */  __('Gift Message') ?></h3>
                    <strong><?= /* @escapeNotVerified */  __('From:'); ?></strong> <?= $block->escapeHtml($_giftMessage->getSender()) ?>
                    <br /><strong><?= /* @escapeNotVerified */  __('To:'); ?></strong> <?= $block->escapeHtml($_giftMessage->getRecipient()) ?>
                    <br /><strong><?= /* @escapeNotVerified */  __('Message:'); ?></strong>
                    <br /><?= $block->escapeHtml($_giftMessage->getMessage()) ?>
                </td>
            </tr>
        </table>
    </td>
</tr>
<?php endif; ?>
