<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MultiWishlist
 * @author    Webkul
 * @copyright Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<?php
/** @var \Magento\Wishlist\Block\Customer\Wishlist\Items $block */
$columns = $block->getColumns();

?>
<form class="form-wishlist-items" id="wishlist-view-form"
          data-mage-init='{"wishlist":{
          "addToCartUrl":<?php /* @escapeNotVerified */ echo $block->getItemAddToCartParams("%item%");?>,
          "addAllToCartUrl":<?php /* @escapeNotVerified */ echo $block->getAddAllToCartParams(); ?>,
          "commentString":""},
          "validation": {}}' action="<?php /* @escapeNotVerified */ echo $block->getUrl('wishlist/index/update', ['wishlist_id' => $block->getWishlistInstance()->getId()]) ?>" method="post">
    <!-- <input type="hidden" name="multiwishlist_id" id="wishlist_id" value="40"> -->
    <?php 
    $collection = $block->getWishlistNames();
    echo $block->getBlockHtml('formkey');
    $wishlist_count = count($collection);
    foreach($collection as $name) {
		if($name->getWishlistName()=='Default'){
			continue;
		}
		//print_r($name->getWishlistName());exit;
        $name_id = $name->getId();
        $itemCollection = $block->getItems($name_id);
        $items_count = $itemCollection->getSize();
        ?>
        <a href="<?php echo $this->getUrl('multiwishlist/index/wishlist',['id'=>$name_id]); ?>"><span class="wk-wishlist-name"><?php echo $name->getWishlistName(); ?> </span></a>
        
        <?php if ($items_count) { ?>
            
            <div class="wk-primary primary-wk">
                <button type="button" data-role="all-move" data-id="<?php echo $name_id; ?>" title="<?php echo __('Move All to Idea Board');?>" class="action moveall btn btn-primary">
                    <span><?php echo __('Move All to Idea Board');?></span>
                </button>
                <a href="<?php echo $this->getUrl('multiwishlist/index/share',['multiwishlist_id'=>$name_id]) ?>">
                    <button type="button" name="save_and_share" title="<?php echo __('Share Wish List');?>" class="action share btn btn-primary">
                        <span><?php echo __('Share Idea Board');?></span>
                    </button>
                </a>
                <a href="<?php echo $this->getUrl('multiwishlist/index/addcart',['multiwishlist_id'=>$name_id]) ?>">
                    <button type="button" data-role="all-tocart" data-id="<?php echo $name_id; ?>" id="wishlist-<?php echo $name_id; ?>" title="<?php echo __('Add All to Cart');?>" class="btn btn-primary">
                        <span><?php echo __('Add All to Cart');?></span>
                    </button>
                </a>
                <?php if( $name_id!=1 ) { ?>
                <a href="<?php echo $this->getUrl('multiwishlist/index/delete',['multiwishlist_id'=>$name_id])?>">
                    <button type="button" data-role="wishlist-delete" title="<?php echo __('Delete Idea Board');?>" class="action delete btn btn-primary">
                        <span><?php echo __('Delete Idea Board');?></span>
                    </button>
                </a>
                <?php } ?>
            </div>
            <div class="products-grid wishlist">
                <?php $iterator = 1; ?>
                <?php if ($items_count): ?>
                <ol class="product-items">
                    <?php $count=0;?>
                    <?php foreach ($itemCollection as $item): ?>
                    <?php $count++;?>
                    <?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li data-row="product-item" class="product-item" id="item_' . $item->getId() . '">' : '</li><li class="product-item" id="item_' . $item->getId() . '">' ?>
                        <div class="product-item-info">
                            <?php foreach ($columns as $column): ?>
                                <?php $column->setItem($item); echo $column->toHtml($item);?>
                            <?php endforeach; ?>
                        </div>
                    <?php echo($iterator == ($items_count+1)) ? '</li>' : '' ?>
                    <?php if($count == 3){
                        break;
                    } ?>
                    <?php endforeach; ?>
                    <?php if($items_count>3) { ?>
                        <li class="wk-viewmore product-item">
                            <div class="wk-view-more">
                                <span class="outer">
                                    <span class="inner">
                                        <a href="<?php echo $this->getUrl('multiwishlist/index/wishlist',['id'=>$name_id]) ?>"><span class="wk-viewmore-text"><?php echo $items_count."<br/> Items ";  ?></span><span class="wk-viewmore-text"><?php echo __('View >') ?></span></a>
                                    </span>
                                </span>
                            </div>
                        </li>
                    <?php } ?>
                </ol>
                <?php else: ?>
                    <div class="message info empty">
                        <span><?php /* @escapeNotVerified */ echo __('This Idea Board has no Items');?></span>
                    </div>
                <?php endif; ?>
            </div>  <?php 
            
        } else { ?>
                <?php if( $name_id!=1 ) { ?>
                    <div class="wk-primary">
                        <a href="<?php echo $this->getUrl('multiwishlist/index/delete',['multiwishlist_id'=>$name_id])?>">
                            <button type="button" data-role="wishlist-delete" title="<?php echo __('Delete Idea Board');?>" class="action delete custom-delete">
                                <span class="fa fa-trash"></span>
                            </button>
                        </a>
                    </div>
                 <?php  } ?>
                <div class="no-items global-no-items">
                    <span><?php echo __('This Idea Board is empty.') ?></span>
                   
                </div>
        <?php } ?>
        <hr>
        <?php
    }

?>
<?php echo $block->getChildHtml('bottom'); ?>

<?php foreach ($columns as $column): ?>
    <?php echo $column->getAdditionalHtml();?>
<?php endforeach; ?>
</form>

<?php if ($block->getPagerHtml()): ?>
    <div class="order-products-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); ?></div>
<?php endif ?>

<div id="wk-multiwishlist" style="display:none">
    <div class="wk-mw-list">
        
    </div>
    <div class="wk-input">
                <input type="text" name="wk_name" class="wk_name" placeholder="<?php echo __('Enter Idea Board Name') ?>">
    </div>
    <div class="wk-button-div">
        <button class="wk-modal-button action primary"><?php echo __('Add Idea Board')?></button>
    </div>
</div>
<script id="wk-mw-move" type="text/x-magento-template">
    <li class="wk-wishlist-list">
        <input type="radio" name="wk_id" value="<%- data.wishlist_id %>">
            <label><%- data.wishlist_name %></label>
    </li>
</script>

<?php
$formData = [
    'move_all' => $block->getUrl('multiwishlist/index/movecollection', ["_secure" => $this->getRequest()->isSecure()]),
    'move_all_url'=>$block->getUrl('multiwishlist/index/moveall', ["_secure" => $this->getRequest()->isSecure()])
];
$serializedFormData = $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($formData);
?>
<script type="text/x-magento-init">
    {
        "*": {
            "wk_wishlistindex": <?php  echo $serializedFormData; ?>
        }
    }
</script>


<style>
   .multiwishlist-index-index .products-grid .product-item{display:inline-block;width:23%;}
 </style>