<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MultiWishlist
 * @author    Webkul
 * @copyright Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
/** @var \Magento\Wishlist\Block\Customer\Wishlist\Items $block */
$columns = $block->getColumns();
?>
<form class="form-wishlist-items" id="wishlist-view-form"
    data-mage-init='{"wishlist":{
    "addToCartUrl":<?php /* @escapeNotVerified */ echo $block->getItemAddToCartParams("%item%");?>,
    "addAllToCartUrl":<?php /* @escapeNotVerified */ echo $block->getAddAllToCartParams(); ?>,
    "commentString":""},
    "validation": {}}' action="<?php /* @escapeNotVerified */ echo $block->getUrl('wishlist/index/update', ['wishlist_id' => $block->getWishlistInstance()->getId()]) ?>" method="post">
    <input type="hidden" name="multiwishlist_id" value="<?php echo $this->getRequest()->getParam('id');?>" />
<?php

    echo $block->getBlockHtml('formkey');

    $itemCollection = $block->getItems();
    $items_count = $itemCollection->getSize();
    $name_id = $this->getRequest()->getParam('id');
    if ($items_count) { ?>
        <div class="actions-toolbar">
            <div class="primary">
                <?php echo $block->getChildHtml('control_buttons');?>
                <a href="<?php echo $this->getUrl('multiwishlist/index/addcart',['multiwishlist_id'=>$this->getRequest()->getParam('id')]) ?>">
                    <button type="button" data-role="all-tocart" data-id="<?php echo $this->getRequest()->getParam('id'); ?>" id="wishlist-<?php echo $this->getRequest()->getParam('id'); ?>" title="<?php echo __('Add All to Cart')?>" class="action btn btn-primary">
                        <span><?php echo __('Add All to Cart')?></span>
                    </button>
                </a>
                <button type="button" title="<?php echo __('Move All to IdeaBoard') ?>" class="action btn btn-primary wk-move-all"><span><?php echo __('Move All to IdeaBoard')?></span></button>
                <?php if( $name_id!=1 ) { ?>
                    <button type="button" title="<?php echo __('Delete IdeaBoard') ?>" class="action btn btn-primary wk-delete-wishlist"><span><?php echo __('Delete IdeaBoard') ?></span></button>
                <?php } ?>
            </div>
            <div class="secondary">
                <a href="<?php echo $block->escapeUrl($block->getBackUrl()) ?>" class="action back btn btn-primary">
                    <span><?php /* @escapeNotVerified */ echo __('Back') ?></span>
                </a>
            </div>
        </div>
        <div class="products-grid wishlist">
            <?php $iterator = 1; ?>
            <?php if ($items_count): ?>
            <ol class="product-items">
                <?php $count=0;?>
                <?php foreach ($itemCollection as $item): ?>
                <?php $count++;?>
                <?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li data-row="product-item" class="product-item" id="item_' . $item->getId() . '">' : '</li><li class="product-item" id="item_' . $item->getId() . '">' ?>
                    <div class="product-item-info">
                        <?php foreach ($columns as $column): ?>
                            <?php $column->setItem($item); echo $column->toHtml($item);?>
                        <?php endforeach; ?>
                    </div>
                <?php echo($iterator == ($items_count+1)) ? '</li>' : '' ?>
                <?php endforeach; ?>
            </ol>
            <?php else: ?>
                <div class="message info empty">
                    <span><?php /* @escapeNotVerified */ echo __('This IdeaBoard has no Items');?></span>
                </div>
            <?php endif; ?>
        </div>
        <?php
    } else { ?>
        <div class="actions-toolbar">
            <?php if( $name_id!=1 ) { ?>
                <div class="primary">
                    <a href="<?php echo $this->getUrl('multiwishlist/index/delete',['multiwishlist_id'=>$this->getRequest()->getParam('id')]) ?>">
                    <button type="button" title="Delete IdeaBoard" class="action wk-delete-wishlist delete btn btn-primary"><span><?php echo __('Delete IdeaBoard') ?></span></button>
                    </a>
                </div>
            <?php } ?>
        </div>
        <div class="message info empty">
            <span><?php /* @escapeNotVerified */ echo __('This IdeaBoard has no Items');?></span>
        </div>
    <?php } ?>

<?php echo $block->getChildHtml('bottom'); ?>

<?php foreach ($columns as $column): ?>
    <?php echo $column->getAdditionalHtml();?>
<?php endforeach; ?>
</form>

<?php if ($block->getPagerHtml()): ?>
    <div class="order-products-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); ?></div>
<?php endif ?>

<?php
$collectionWishlist = $this->helper('Webkul\MultiWishlist\Helper\Data')->getWishlistNamesToMove($this->getRequest()->getParam('id'));

$formData = [
    'move_url'=>    $this->getUrl("multiwishlist/index/move"),
    'move_all_url'=>$this->getUrl("multiwishlist/index/moveall")
];
$serializedFormData = $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($formData);
?>

<script type="text/x-magento-init">
    {
        "*": {
            "wk_wishlistmove": <?php  echo $serializedFormData; ?>
        }
    }
</script>

<div id="wk-multiwishlist" style="display:none">
    <div class="wk-mw-list">
        
            <?php foreach($collectionWishlist as $wishlistName) { ?>
                <li class="wk-wishlist-list">
                <input type="radio" name="wk_id" value="<?php echo $wishlistName->getId() ?>">
                    <label><?php echo $wishlistName->getWishlistName() ?></label>
                </li>
            <?php } ?>
        
    </div>
    <div class="wk-input">
        <input type="text" name="wk_name" class="wk_name" placeholder="<?php echo __('Enter IdeaBoard Name') ?>">
    </div>
    <div class="wk-button-div">
        <button class="wk-modal-button action primary"><?php echo __('Add IdeaBoard')?></button>
    </div>
</div>

<style>

 ol.product-items  li.product-item{display:inline-block;vertical-align:top;}

</style>