<?php

/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MultiWishlist
 * @author    Webkul
 * @copyright Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
 
    $collectionWishlist = $this->helper('Webkul\MultiWishlist\Helper\Data')->getWishlistNames();
	//added by me
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
		$wishlist = $objectManager->get('\Magento\Wishlist\Model\ItemFactory');
		//print_r($wishlist);exit;
		$wishlist_collection = $wishlist->create()->getCollection()
                    //->addFieldToFilter('wishlist_id', 19)
                    ->addFieldToFilter('wishlist_name_id', 9)
                    ->setOrder('wishlist_item_id', 'DESC');
		//print_r($wishlist_collection->getData());exit;				
		$proData = 	$wishlist_collection->getData();
		//print_r($wishlist_collection->getData());exit;
		$objectManagerProd = \Magento\Framework \App\ObjectManager::getInstance(); 
		$currentproduct = $objectManagerProd->create('Magento\Catalog\Model\Product')->load($proData[0]['product_id']);
		$store = $objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore();
		$imageUrl = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'catalog/product' . $currentproduct->getImage();
		
		
?>

<div id="wk-multiwishlist" style="display:none">
	<div style="text-align:right;">
	<button onclick="myFunction()" type="button" class="create-board">Create Idea Board</button>
    </div>
	<div class="wk-mw-list">
        <?php 
		//print_r($collectionWishlist);exit;
		foreach($collectionWishlist as $key => $wishlistName) {
		$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
		$wishlist = $objectManager->get('\Magento\Wishlist\Model\ItemFactory');
		$wishlist_collection = $wishlist->create()->getCollection()
                    //->addFieldToFilter('wishlist_id', 19)
                    ->addFieldToFilter('wishlist_name_id', 9)
                    ->setOrder('wishlist_item_id', 'DESC');
		//print_r($wishlist_collection->getData());exit;				
		$proData = 	$wishlist_collection->getData();
		//print_r($wishlist_collection->getData());exit;
		$objectManagerProd = \Magento\Framework \App\ObjectManager::getInstance(); 
		$currentproduct = $objectManagerProd->create('Magento\Catalog\Model\Product')->load($proData[0]['product_id']);
		$store = $objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore();
		$imageUrl = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'catalog/product' . $currentproduct->getImage();
		//print_r($imageUrl);exit;	
			
			
		//echo $wishlistName->getId();exit;
		?>
			<!--added by me-->
            <li class="wk-wishlist-list">
             <img src="<?php echo $imageUrl?>" class="wislist-img">
            <input type="checkbox" name="wk_id" value="<?php echo $wishlistName->getId() ?>">
                <label><?php echo $wishlistName->getWishlistName() ?></label>
            </li>
        <?php } ?>
    </div>
	<!--added by me--><div class="wishlist_block" id="myDIV" style="display:none;">
    <div class="wk-input">
        <input type="text" name="wk_name" class="wk_name" placeholder="<?php echo __('Enter Idea Board Name') ?>">
    </div>
    <div class="wk-button-div">
        <button class="wk-modal-button action primary mgl"><?php echo __('Add Idea Board') ?></button>
    </div>
	</div>
</div>
<!--js added by me-->
<style>
.wk-mw-add-to-wishlist>.modal-inner-wrap{width:38%;}
.wk-mw-list{margin:0 0 20px;}
.create-board{border: 1px solid #5d957b;background-color:#5d957b;color: #fff;border-radius:20px;padding:3px 20px;}
.create-board:hover,.create-board:active,.create-board:focus{background-color: #171717;border-color: #171717;}
 .modal-popup .modal-content{border-top:0px;}
  .wislist-img{max-width:60px;height:auto;}
  .wk-wishlist-list{display:block; padding: 6px!important;border-radius: 6px;}
li.wk-wishlist-list:hover{background:#ddd;}
  .wk-wishlist-list:last-child{border-bottom:0px;}
  .wk-mw-list{margin-top:20px;}
   .modal-popup .modal-inner-wrap{margin: 3rem auto;border-radius: 9px}
	.action.primary{border: 1px solid #5d957b;background-color:#5d957b;color: #fff;box-shadow: inset 0 3px 5px rgba(0,0,0,.125);min-width:80px;border-radius:20px;    padding: 3px;}
	.action.primary:hover,.action.primary:active,.action.primary:focus{background-color: #171717;border-color: #171717;}
	.action.primary.mgl{margin-left:10px;min-width:150px;}
 </style>
<script>
   function myFunction() {
    var x = document.getElementById("myDIV");
    if (x.style.display === "block") {
        x.style.display = "none";
    } else {
        x.style.display = "block";
    }
}
</script>


