<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MultiWishlist
 * @author    Webkul
 * @copyright Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
    $collectionWishlist = $this->helper('Webkul\MultiWishlist\Helper\Data')->getWishlistNames();
?>


<?php
  $collectionWishlist = $this->helper('Webkul\MultiWishlist\Helper\Data')->getWishlistNames();
	//added by me
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$wishlist = $objectManager->get('\Magento\Wishlist\Model\ItemFactory');

 ?>

<div id="wk-multiwishlist" style="display:none">
	<div style="text-align:right;">
		<button onclick="showIdeaBoardButton()" type="button" class="create-board">Create Idea Board</button>
	</div>


    <div class="wk-mw-list">
        <?php foreach($collectionWishlist as $wishlistName) { ?>
            <li class="wk-wishlist-list wk-wishlist-list-cat" data-whishlist="<?php echo $wishlistName->getId();  ?>" id="wk-wishlist-<?php echo $wishlistName->getId() ?>">
            <input type="checkbox" name="wk_id" value="<?php echo $wishlistName->getId() ?>" class="wk-wishlist-check" id="wk-wishlist-check-id-<?php echo $wishlistName->getId(); ?>">

				<?php
                    $wishlist_collection = $wishlist->create()->getCollection()
                    //->addFieldToFilter('wishlist_id', 19)
                    ->addFieldToFilter('wishlist_name_id',$wishlistName->getId())
                    ->setOrder('wishlist_item_id', 'DESC');
				    $proData = 	$wishlist_collection->getData();
					if(!empty($proData))
					{
					$objectManagerProd = \Magento\Framework \App\ObjectManager::getInstance();
					$currentproduct = $objectManagerProd->create('Magento\Catalog\Model\Product')->load($proData[0]['product_id']);
					$store = $objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore();
					$imageUrl = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'catalog/product' . $currentproduct->getImage();
				?>
				<img src="<?php echo $imageUrl; ?>" width="40px" />
				 <label><?php echo $wishlistName->getWishlistName() ?></label>
				<?php } ?>
            </li>
        <?php } ?>


    </div>
<!--   <div class="wishlist_block" id="ideaBoardDiv" style="display:none;">
    <div class="wk-input">
        <input type="text" name="wk_name" class="wk_name" placeholder="<?php //echo __('Enter Idea Board Name') ?>">
    </div>
    <div class="wk-button-div">
        <button class="wk-modal-button action primary mgl" title="Add Idea Board"><img class="plus-button-cart" src="https://cdn2.iconfinder.com/data/icons/instagram-ui/48/jee-79-128.png"><?php //echo __('Add Idea Board') ?></button>
    </div>
	</div> -->
</div>

<!--js added by me-->

<!-- <script>
   function showIdeaBoardButton() {
    var x = document.getElementById("ideaBoardDiv");
    if (x.style.display === "block") {
        x.style.display = "none";
    } else {
        x.style.display = "block";
    }
}
</script> -->
