<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MultiWishlist
 * @author    Webkul
 * @copyright Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

// @codingStandardsIgnoreFile

/* @var $block \Magento\Wishlist\Block\Share\Wishlist */
?>

<?php if ($block->hasWishlistItems()): ?>
    <form class="form shared wishlist" action="<?php /* @escapeNotVerified */ echo $block->getUrl('wishlist/index/update') ?>" method="post">
        <div class="wishlist table-wrapper">
            <table class="table data wishlist" id="wishlist-table">
                <caption class="table-caption"><?php /* @escapeNotVerified */ echo __('Idea Boards'); ?></caption>
                <thead>
                <tr>
                    <th class="col product" scope="col"><?php /* @escapeNotVerified */ echo __('Product') ?></th>
                    <th class="col comment" scope="col"><?php /* @escapeNotVerified */ echo __('Comment') ?></th>
                    <th class="col actions" scope="col"><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></th>
                </tr>
                </thead>
                <tbody>
                <?php foreach ($block->getWishlistItems() as $item): ?>
                    <?php
                    $product = $item->getProduct();
                    $isVisibleProduct = $product->isVisibleInSiteVisibility();
                    ?>
                    <tr>
                        <td data-th="<?php echo $block->escapeHtml(__('Product')) ?>" class="col product">
                            <a class="product photo" href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($item) ?>" title="<?php echo $block->escapeHtml($product->getName()) ?>">
                                <?php echo $block->getImage($product, 'customer_shared_wishlist')->toHtml(); ?>
                            </a>
                            <strong class="product name">
                                <a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($item) ?>">
                                    <?php echo $block->escapeHtml($product->getName()) ?>
                                </a>
                            </strong>
                            <?php
                                echo $block->getProductPriceHtml(
                                    $product,
                                    'wishlist_configured_price',
                                    \Magento\Framework\Pricing\Render::ZONE_ITEM_LIST,
                                    ['item' => $item]
                                );
                            ?>
                            <?php echo $block->getDetailsHtml($item) ?>
                        </td>
                        <td data-th="<?php echo $block->escapeHtml(__('Comment')) ?>" class="col comment"><?php /* @escapeNotVerified */ echo $block->getEscapedDescription($item) ?></td>
                        <td data-th="<?php echo $block->escapeHtml(__('Add to Cart')) ?>" class="col actions" data-role="add-to-links">
                            <?php if ($product->isSaleable()): ?>
                                <?php if ($isVisibleProduct): ?>
                                    <button type="button"
                                            title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>"
                                            data-post='<?php /* @escapeNotVerified */ echo $block->getSharedItemAddToCartUrl($item); ?>'
                                            class="action tocart greenbutton">
                                        <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                    </button>
                                <?php endif ?>
                            <?php endif; ?>
                            <a href="#" style="display:none" data-post='<?php /* @escapeNotVerified */ echo $block->getAddToWishlistParams($item); ?>'  onclick="location.assign(this.href); return false;" class="action towishlist" data-action="add-to-wishlist" id='trigger-wishlist-<?php echo $product->getId()?>'>
                                <span><?php /* @escapeNotVerified */ echo __('Add to Idea Board') ?></span>
                            </a>
                            <a href="#" data-id="<?php echo $product->getId() ?>" onclick="location.assign(this.href); return false;" class="wk-towishlist-shared" >
                                <span><?php /* @escapeNotVerified */ echo __('Add to Idea Board') ?></span>
                            </a>
                        </td>
                    </tr>
                <?php endforeach ?>
                </tbody>
            </table>
        </div>

        <div class="actions-toolbar">
            <?php if ($block->isSaleable()):?>
                <div class="primary">
                    <button type="button"
                            title="<?php /* @escapeNotVerified */ echo __('Add All to Cart') ?>"
                            data-post='<?php /* @escapeNotVerified */ echo $block->getSharedAddAllToCartUrl(); ?>'
                            class="action tocart primary greenbutton">
                        <span><?php /* @escapeNotVerified */ echo __('Add All to Cart') ?></span>
                    </button>
                </div>
            <?php endif;?>
            <div class="secondary">
                <a href="<?php echo $block->escapeUrl($block->getBackUrl()) ?>" class="action back">
                    <span><?php /* @escapeNotVerified */ echo __('Back') ?></span>
                </a>
            </div>
        </div>
    </form>
<?php else: ?>
    <div class="message info empty"><div><?php /* @escapeNotVerified */ echo __('Idea Board is empty now.') ?></div></div>
<?php endif ?>
<?php
$collectionWishlist = $this->helper('Webkul\MultiWishlist\Helper\Data')->getWishlistNames();
?>
<div id="wk-multiwishlist" style="display:none">
    <div class="wk-mw-list">
        <?php foreach($collectionWishlist as $wishlistName) { ?>
            <li class="wk-wishlist-list">
            <input type="checkbox" name="wk_id" value="<?php echo $wishlistName->getId() ?>">
                <label><?php echo $wishlistName->getWishlistName() ?></label>
            </li>
        <?php } ?>
    </div>
    <div class="wk-input">
        <input type="text" name="wk_name" class="wk_name" placeholder="<?php echo __('Enter IdeaBoard Name') ?>">
    </div>
    <div class="wk-button-div">
        <button class="wk-modal-button action primary"><?php echo __('Add IdeaBoard')?></button>
    </div>
</div>

<?php
$formData = [];
$serializedFormData = $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($formData);
?>
<script type="text/x-magento-init">
    {
        "*": {
            "multiwishlist_shared": <?php  echo $serializedFormData; ?>
        }
    }
</script>
