<?php 
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MultiWishlist
 * @author    Webkul
 * @copyright Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<?php if ($block->isWishListAllowed()) : ?>
    <a href="#"
       class="action wk-towishlist-view" data-action="add-to-wishlist1"><span><?php /* @escapeNotVerified */ echo __('Create Idea Board') ?></span></a>
<?php endif; ?>
<?php 
$collectionWishlist = $this->helper('Webkul\MultiWishlist\Helper\Data')->getWishlistNames();

$formData = [
        'params' => $block->getWishlistParams()
    ];
$serializedFormData = $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($formData);
?>
<script type="text/x-magento-init">
    {
        "*": {
            "wk_multiwishlist": <?php  echo $serializedFormData; ?>
        },
        "body":{
            "addToWishlist": <?php /* @escapeNotVerified */ echo $block->getWishlistOptionsJson() ?>
        }
    }
</script>

<a href="#" 
        style="display:none"
       class="action towishlist" id='trigger-wishlist'
       data-post='<?php echo $block->getWishlistParams(); ?>'
       data-action="add-to-wishlist" ><span></span><?php /* @escapeNotVerified */ echo __('Add to Idea Board') ?></span>
</a>
<div id="wk-multiwishlist" style="display:none">
    <div class="wk-mw-list">
        <?php foreach($collectionWishlist as $wishlistName) { ?>
            <li class="wk-wishlist-list">
            <input type="checkbox" name="wk_id" value="<?php echo $wishlistName->getId() ?>">
                <label><?php echo $wishlistName->getWishlistName() ?></label>
            </li>
        <?php } ?>
    </div>
    <div class="wk-input">
        <input type="text" name="wk_name" class="wk_name" placeholder="<?php echo __('Enter Idea Board Name') ?>">
    </div>
    <div class="wk-button-div">
        <button class="wk-modal-button action primary"><?php echo __('Create')?></button>
    </div>
</div>

