<?php
/**
 * Plumrocket Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * http://wiki.plumrocket.net/wiki/EULA
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to support@plumrocket.com so we can send you a copy immediately.
 *
 * @package     Plumrocket_SocialLoginFree
 * @copyright   Copyright (c) 2018 Plumrocket Inc. (http://www.plumrocket.com)
 * @license     http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement
 */
?>

<?php
$helper = $this->helper('Plumrocket\SocialLoginFree\Helper\Data');
if($helper->isFakeMail()) : ?>
	<div data-mage-init='{"pslogin":{},"loader":{}}' style="display: none;"></div>
	<script type="text/javascript">
	//<![CDATA[
		require([
		    'jquery',
			'domReady!'
		], function($) {
		    'use strict';

			var errorTemplate = '<div'
				+ ' class="mage-error pslogin-fake-email"'
				+ ' id="email-error"'
				+ ' for="email"'
				+ ' generated="true"'
				+ '>'
				+ '<?= $block->escapeHtml(__('Please enter valid email address.')) ?>'
				+ '</div>';

			$("#email").removeClass("valid").addClass("mage-error").after(errorTemplate);

			var reset = true;
			$("#email").on('click focus', function() {
				if(reset) {
					$(this).removeClass("mage-error").addClass("valid").val('');
					$('#email-error.pslogin-fake-email').remove();
				}

				reset = false;
			});
		});
	//]]>
	</script>
<?php endif; ?>
