<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MultiWishlist
 * @author    Webkul
 * @copyright Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

// @codingStandardsIgnoreFile

?>

<a href="#" title="<?php /* @escapeNotVerified */ echo __('Move Item') ?>" class="action move">
    <span><?php /* @escapeNotVerified */ echo __('Move item');?></span>
</a>
