<!--@subject Signup @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>H & C -Thank you</title>
</head>

<body>
    
    
    <table width="600" border="0" cellspacing="0" cellpadding="0"  align="center">
  <tbody>
    <tr>
      <td valign="top" bgcolor="#f47435" height="10px"><img src="{{store url=""}}/pub/media/theme/email/25px.png" width="1" height="10" alt="" style="display: block; border: none"/></td>
    </tr>
    <tr>
      <td valign="top"><table width="600" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td valign="top" align="left"><a href="{{store url=""}}" target="_blank"><img src="{{store url=""}}/pub/media/theme/email/h&c-logo_02.png" width="117" height="60" alt="" style="display: block; border: none"/></a></td>
      <td valign="top" align="right"><a href="{{store url=""}}" target="_blank"><img src="{{store url=""}}/pub/media/theme/email/shop_04.png" width="113" height="60" alt="" style="display: block; border: none"/></a></td>
    </tr>
  </tbody>
</table>
</td>
    </tr>
    <tr>
      <td valign="top" align="left"><img src="{{store url=""}}/pub/media/theme/email/header-img_05.png" width="600" height="353" alt="" style="display: block; border: none"/></td>
    </tr>
    <tr>
      <td bgcolor="#f9f9f9" valign="top"><img src="{{store url=""}}/pub/media/theme/email/thankyou_06.png" width="600" height="164" alt="" style="display: block; border: none"/>
      </td>
    </tr>
    <tr>
      <td height="25px"><img src="{{store url=""}}/pub/media/theme/email/25px.png" width="1" height="25" alt="" style="display: block; border: none"/></td>
    </tr>
    <tr>
      <td style="text-align: center; font-family: arial; font-size: 15px; color: #4d4d4d; line-height: 25px ">Your home is the one true reflection of yourself. <br/>Let us help make every corner of it look nothing short of perfect <br/>with masterpieces delicately crafted at The Home & Co. <br/>
<br/>You’ll hear from us every now and then and we’ll make sure that <br/>its worth your time.
In the meantime, explore our blog, window shop,<br/>
or jump right into filling your cart.</td>
    </tr>
    <tr>
      <td height="25px"><img src="{{store url=""}}/pub/media/theme/email/25px.png" width="1" height="25" alt="" style="display: block; border: none"/></td>
    </tr>
    <tr>
      <td valign="top" align="center"><img src="{{store url=""}}/pub/media/theme/email/logo.jpg" width="219" height="36" alt="" style="display: block; border: none"/></td>
    </tr>
    <tr>
      <td height="25px"><img src="{{store url=""}}/pub/media/theme/email/25px.png" width="1" height="25" alt="" style="display: block; border: none"/></td>
    </tr>
    <tr>
      <td valign="top" align="center"><a href="{{store url=""}}" target="_blank"><img src="{{store url=""}}/pub/media/theme/email/explore-btn_12.png" width="161" height="33" alt="" style="display: block; border: none"/></a></td>
    </tr>
      <tr>
      <td height="8px" ><img src="{{store url=""}}/pub/media/theme/email/25px.png" width="1" height="8" alt="" style="display: block; border: none"/></td>
    </tr>
    <tr>
      <td style="text-align: center; font-family: arial; font-size: 15px; color: #5a4a34; line-height: 24px; font-weight: bold; text-decoration: underline "><a href="{{store url=""}}" target="_blank">Manage your subscription</a></td>
    </tr>
      <tr>
      <td height="25px" ><img src="{{store url=""}}/pub/media/theme/email/25px.png" width="1" height="25" alt="" style="display: block; border: none"/></td>
    </tr>
    <tr>
      <td bgcolor="#f5f4f2" valign="top" align="center"><table width="218" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td height="25px"><img src="{{store url=""}}/pub/media/theme/email/25px.png" width="1" height="25" alt="" style="display: block; border: none"/></td>
    </tr>
    <tr>
      <td valign="top" align="center"><table width="150px" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td valign="top" align="center"><a href="https://www.instagram.com/thehomeandcompany/"><img src="{{store url=""}}/pub/media/theme/email/insta.png" width="27" height="22" alt="" style="display: block; border: none"/></a></td>
      <td>&nbsp;</td>
      <td valign="top" align="center"><a href="https://www.facebook.com/The-Home-Co-921923047981670/" target="_blank"><img src="{{store url=""}}/pub/media/theme/email/facebook_17.png" width="27" height="22" alt="" style="display: block; border: none"/></a></td>
      <td>&nbsp;</td>
      <!--<td valign="top" align="center"><img src="{{store url=""}}/pub/media/theme/email/pinterest_19.png" width="27" height="22" alt="" style="display: block; border: none"/></a></td>
      <td>&nbsp;</td>-->
      <td valign="top" align="center"><a href="https://twitter.com/TheHomeandCo" target="_blank"><img src="{{store url=""}}/pub/media/theme/email/twitter_20.png" width="27" height="22" alt="" style="display: block; border: none"/></a></td>
    </tr>
  </tbody>
</table>
</td>
    </tr>
      <tr>
      <td valign="top" align="center" height="10px"><img src="{{store url=""}}/pub/media/theme/email/25px.png" width="1" height="10" alt="" style="display: block; border: none"/></td>
    </tr>
    <tr>
      <td valign="top" align="center" height="25px"><img src="{{store url=""}}/pub/media/theme/email/stay-connected_24.png" width="219" height="19" alt="" style="display: block; border: none"/></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
      
  </tbody>
</table>
</td>
    </tr>
      <tr>
      <td>&nbsp;</td>
    </tr>
      <tr>
      <td valign="top" bgcolor="#f47435" height="10px"><img src="{{store url=""}}/pub/media/theme/email/25px.png" width="1" height="10" alt="" style="display: block; border: none"/></td>
    </tr>
  </tbody>
</table>
</body>
</html>
