<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
/** @var $block \Magento\Framework\View\Element\Html\Links */
?>
<?php /** @var $block \Magento\Customer\Block\Account\Navigation */ ?>
<div class="block account-nav">
	<div class="block-title">
		<!--<h4><?php /* @escapeNotVerified */ echo __('My Account'); ?></h4>  -->          
	</div>
    <div class="block-content">
        <nav class="account-nav">
            <ul class="items">
                <?php 
				    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
					$requestInterface = $objectManager->get('Magento\Framework\App\RequestInterface');
                    $routeName      = $requestInterface->getRouteName();
					$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
                    $base_url=$storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);


					if($routeName == 'multiwishlist'){?>
				    
				    <?php echo '<li class="nav item current"><strong><a href="'.$base_url.$routeName.'" />Manage Idea Boards</a></strong></li>';
					
					}else{
						echo $block->getChildHtml();
						
					}
				
				
				?>
            </ul>
        </nav>
    </div>
</div>
