@font-face {
  font-family: 'TrajanPro-Regular';
    src: url('../fonts/TrajanPro-Regular.eot');
	src: url('../fonts/TrajanPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/TrajanPro-Regular.woff') format('woff'),
		url('../fonts/TrajanPro-Regular.ttf') format('truetype'),
		url('../fonts/TrajanPro-Regular.svg#TrajanPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
html { font-size: 100%; /*height:100%;*/}
body { font-size: 16px; line-height:25px; color:#8F8F8F; font-weight: normal; background:#fff;	overflow-x: hidden !important; margin: auto !important; /*height:100%;*/ text-shadow:none }
*{ outline:none !important}
h1,h2,h3,h4,h5,h6 {margin: 0; padding: 0; border: 0; font-size: 100%;  }
h1 {font-size: 30px;}
h2 {font-size: 25px; line-height: 55px;}
h3 {font-size: 20px;}
h4 {font-size: 16px;}
h5 {font-size: 15px;}
h6 {font-size: 14px;}
body.wide .container {width: 1170px;}
mgs-slider-12580756321487402346 img.img-responsive{width:100%;}
.slider_mgs_carousel.owl-loaded .owl-stage-outer{display:block;}
.slider_mgs_carousel.owl-loaded:after{display:none;}
.btn{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif!important;}
.cms-index-index .products-grid .product-content .product-desc .price-box{width:100%;margin-top:10px;float:left;}
.cms-index-index .tocart.btn-icon.btn.btn-addlist{background:none; color:#888; border:none;line-height:0;}
h4.product-name.product-item-name {float: left;}
button.action.towishlist.btn.btn-addlist {border: none;float:left;}
span.fa.fa-heart {color: #aaa;font-size: 17px;text-decoration: none;}
.controls-hover1{text-align:left;}
textarea:hover, input:hover, textarea:active, input:active, textarea:focus, input:focus {outline: 1 !important;outline-color: #e96656 !important;    /*-webkit-appearance:none;*/ -webkit-box-shadow:none !important; box-shadow:none !important;}
.form-control::-moz-placeholder {color: #9b9b9b; opacity: .7; font-size: 16px !important;  font-weight: normal;}
.form-control::-moz-placeholder {  color: #fff;  opacity: .7; font-size: 16px !important;font-weight: bold;}
.form label{color: #8F8F8F;  font-size: 18px;font-weight: bold}
.carousel-indicators { bottom: 10px;}
.btn-default { font-size:20px; text-transform:uppercase; padding:0 20px; line-height:40px; color: #4eb675 !important; background:none;border:2px solid #4eb675;  border-radius:0px;}

.btn-default:hover, .btn-default.focus, .btn-default:focus {background-color: #171717 ;  border-color: #171717 ;}
.col{ padding:0px;}
/* USING BOOTSTRAP 3.0.3 */
.sticky-menu.active-sticky.header-v1 #mainMenu.nav-main > li > a.level0{padding: 0 12px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;font-size:11px;}
li.category-menu{border-right:1px solid #7d7d7d;line-height:16px;}
li.category-menu:last-child{border-right:0;}
.active-sticky.shrink ul#mainMenu {
    margin: 15px 0;
}
ul#mainMenu {
    margin-top: 10px;
}
.active-sticky.header-v1 .setting-pt > div {
    padding: 0px 12px;
}
a.product-item-link {
    font-size: 15px;
    color: #aaa;
    font-weight: normal;
    text-transform: capitalize;
}
.section.home_newsletter {
    margin-top: 50px;
    background: #f5f5f5;
    padding: 15px 0;
    float: left;
    width: 100%;
}
.tab-content .product-desc .controls-hover1 .action.tocompare.btn.btn-addlist{display:none;}
.newsletter-home label {
    float: left;
    text-transform: uppercase;
    font-size: 18px;
    color: #2a2a2a;
    padding-right: 15px;
    line-height: 58px;
    margin: 0;
    font-weight: 700;
}
.language_ul{display:none;}
.form-language {
    float: right;
    width: 22%;
    margin-top: 12px;
}
select#select-language {
    width: 43%;
   box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.form-language label{
    color: #666;
    font-weight: normal;
    line-height: 34px;
    font-size: 16px;
    text-shadow: none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
}
.sticky-menu.active-sticky.header-v1 ul.cart{margin-top:0}
header .navbar{ background:none; margin-bottom:0px; border:0px; }
.navbar .header-top{ padding:20px 0; border-bottom:1px solid #979594; float:left; width:100%}
header .navbar-header { float: left; width: 100%; text-align: center;}
header .navbar-brand { font-size: 30px; width:100%; margin:0px; padding:0px; height:auto;}
header .navbar-brand img{ margin:auto;}
header .navbar-toggle {margin: 13px 15px 13px 0;}
header .navbar-nav {  float: left;  margin: 15px 0;}
header .navbar-nav > li{ border-right:1px solid #7d7d7d;}
header .navbar-nav > li > a {font-size: 13px; padding:0 13px; color:#464646 !important; line-height:13px; transition: all 0.3s ease;}
header .navbar-nav > li:first-child a{ padding-left:0px;}
header .navbar-nav > li:last-child{ border-right:0px;}
header .navbar-inverse .navbar-nav > li > a:focus, header .navbar-inverse .navbar-nav > li > a:hover {color:#48c4a6 !important;}
header .navbar-inverse .navbar-nav > .active > a, header .navbar-inverse .navbar-nav > .active > a:focus, header .navbar-inverse .navbar-nav > .active > a:hover{ background:none; color:#48c4a6 !important;}
header .navbar-collapse{ float:left;}
header ul.cart{ float:right; list-style-type:none; padding:0px;margin-top:0;margin-right:25px;}
header ul.cart li{ float:right;}
header ul.cart li a{ font-size:23px; color:#2a2a2a; line-height:43px; transition: all 0.3s ease;}
header ul.cart li a i{ font-size:25px; padding-right:5px; color:#2a2a2a; transition: all 0.3s ease;}
header ul.cart li a:hover{color:#48c4a6; text-decoration:none;}

header nav.navbar.shrink { background:rgba(255,255,255,.8);height:103px; -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.75);box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.75);}
header .shrink .header-top{  padding: 8px 0;}
header .shrink .navbar-brand img{ width:25%;}
header .shrink ul.header-social li a i{ line-height:42px;}
header .shrink  ul.header-login-and-search li a.btn-login{ line-height:42px; padding:5px 15px;}
header .shrink  .header-login-and-search form[role="search"] button, header .shrink .header-login-and-search form[role="search"] input { padding: 7px 12px;}
header .shrink ul.header-login-and-search .input-group .form-control { height: 44px;}
header .shrink ul.cart li a{ font-size:17px;}
header .shrink ul.cart li a i{ font-size:20px;}
header .shrink li > a {font-size: 11px; padding:0 12px; line-height:12px;}
header .shrink .navbar-toggle {margin: 8px 15px 8px 0; padding: 4px 5px;}


header ul.header-social{ list-style-type:none; padding:0px; margin:0px;}
header ul.header-social li{ display:inline-block; padding:0px;}
header ul.header-social li a{text-decoration:none; display:block; padding:0 10px; line-height:50px; transition: all 0.3s ease;}
header ul.header-social li a i{ font-size:18px;color:#7d7d7d; cursor:pointer; line-height:58px;  transition: all 0.3s ease;} 
header ul.header-social li:first-child a{padding-left:0px;}
header ul.header-login-and-search{ list-style-type:none; padding:0px; margin:0px; text-align:right;}
header ul.header-login-and-search li.hidden-xs{ display:inline-block; padding:0px;  width:65px; transition: all 0.3s ease;float: right;}
header ul.header-login-and-search li a.btn-login{ border:1px solid #2a2a2a;color:#2a2a2a; padding:9px 15px; line-height:58px; transition: all 0.3s ease;}
header ul.header-login-and-search li a.btn-login:hover{ text-decoration:none; background:#2a2a2a; color:#fff;}
header ul.header-login-and-search .input-group{ width:100%;}
header ul.header-login-and-search .active .input-group{ width:100%; background:#2a2a2a}
header ul.header-login-and-search .active .input-group button{ color:#fff;}
header ul.header-login-and-search .input-group .form-control{ height:50px; padding:10px;}
.header-login-and-search  form[role="search"] {position: absolute;top: 4px;right:0px;width: 100%;padding: 0px;margin: 0px;z-index: 0;}
.header-login-and-search  form[role="search"] button, .header-login-and-search  form[role="search"] input {padding: 8px 12px;border-radius: 0px;border: 0px;color:#2a2a2a;background:none; box-shadow: none;	outline: none; transition: all 0.3s ease;	}
.header-login-and-search  form[role="search"] input {padding: 16px 12px;font-size: 14pt;font-style: italic;color: rgb(160, 160, 160);box-shadow: none;}
.header-login-and-search  form[role="search"] button[type="reset"] {display: none;}
.header-login-and-search  form[role="search"] button:hover{ color:#2a2a2a !important;}
header ul.header-login-and-search .active button:hover{ color:#fff !important;}
.header-v1 .setting-pt > div {
    padding: 10px 12px;
}

section{ padding:80px 0 0;}
.main-banner{ padding:0px;}
.main-banner .carousel-inner > .item > a > img, .main-banner .carousel-inner > .item > img{ width:100%;}
.four-block h4{ font-size:13px; color:#adadad; margin:0px 0 15px;     text-transform: uppercase;  letter-spacing: 5px;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.four-block h2{ color:#2a2a2a; margin:0px 0 20px; font-size: 31px;line-height: 39px;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;line-height:39px;}
.four-block p{  color:#666; margin:0px 0 20px;}
.four-block a.read-more{ color:#1cce7c; font-size:18px;}
.four-block a.read-more i{color:#1cce7c; font-size:18px; padding-left:6px;}
.four-block a.read-more:hover, .four-block a.read-more:hover i{ color:#2a2a2a; text-decoration:none}
.grid-section img{ width:100%; margin-bottom:30px}
.grid-section .caption-block{ position:relative;}
.grid-section .caption-text{ position:absolute; bottom:45px; left:35px; width:85%;}
.grid-section .caption-text h2{ font-size:18px; color:#2a2a2a; line-height:20px; margin:0px;}
.grid-section .caption-text p{ color:#666; margin:0px;}
.owl-item .title {display: none;}
.mgs-blog-lastest-posts .owl-carousel .item article .blog-desc .read-more{color:#1cce7c;}
.owl-controls{display:none;}
.nav>li>a:hover{color:#48c4a6 !important;}
.heading h3{ font-size:25px; line-height:25px; margin:0 0 15px; color:#2a2a2a; text-align:center; font-family:"Helvetica Neue",Helveticavvv,Arial,sans-serif;}
.heading p{ text-transform:uppercase; letter-spacing:2px;  color:#aaa; text-align:center; font-family:"Helvetica Neue",Helveticavvv,Arial,sans-serif;}
.heading hr{ background:#dedede;}

.products{ float:left; width:100%;}
.products .product-box{ margin-bottom:20px;}
.products .product-box img{ width:100%; margin-bottom:10px;}
.products .product-box p{ color:#aaa; margin-bottom:15px; font-size:15px;}
.products .product-box ul.fav-icons{ list-style-type:none; padding:0px; float:left; width:100%;  margin-bottom:10px; }
.products .product-box ul.fav-icons li{ float:left; padding-right:25px;}
.products .product-box ul.fav-icons li a i{font-size:17px; color:#aaa; text-decoration:none;}
.products .product-box ul.fav-icons li a:hover i{ color:#48c4a6 ;}
.products .product-box ul.price-and-cart{ list-style-type:none; padding:0px; float:left; width:100%;  margin-bottom:10px; }
.products .product-box ul.price-and-cart li{ float:left; padding-right:25px;}
.products .product-box ul.price-and-cart li a{ color:#48c4a6; font-size:17px;}
.products .product-box ul.price-and-cart li a i{font-size:17px; color:#888; text-decoration:none; }
.products .product-box ul.price-and-cart li a:hover{ color:#888 !important; text-decoration:none}
.products .product-box ul.price-and-cart li a:hover i{color:#48c4a6;}

.blog-box{ margin-bottom:30px;}
.blog-box img{ margin-bottom:15px; width:100%;}
.blog-box a.read-more{ color:#1cce7c; font-size:16px;}
.blog-box a.read-more i{color:#1cce7c; font-size:16px; padding-left:6px;}
.hr-section { padding:0}
.hr-section hr{ background:url(../images/hr-bg.png) repeat-x; height:11px;}
footer .footer-top{ background:#f5f5f5; padding:15px 0; float:left; width:100%;}
footer .footer-top label{ float:left; text-transform:uppercase; font-size:18px; color:#2a2a2a; padding-right:15px; line-height:58px; margin:0px;}
footer .footer-top .input-group .form-control { float: left; width: 100%; margin-bottom: 0; height: 45px; margin: 6px 0; background:#dddddd; box-shadow:none; border:0px}
footer .footer-top .input-group .btn-secondary{ padding:0 15px; line-height:43px; background:#ddd; color:#2a2a2a; font-size:21px;}
footer .footer-top .form-control::-moz-placeholder {color: #9b9b9b; font-weight:normal}
footer .footer-bottom{ width:100%; float:left; border-bottom:1px solid #d9d9d9}
footer .footer-bottom ul.nav-menu{ list-style-type:none; padding:0px; text-align:right; margin:20px 0;}
footer .footer-bottom ul.nav-menu li{ display:inline-block; border-right:1px solid #d9d9d9; line-height:15px;}
footer .footer-bottom ul.nav-menu li:last-child{ border-right:0px;}
footer .footer-bottom ul.nav-menu li a{ font-size:14px; color:#666; padding:0 15px; line-height:15px; text-decoration:none;}
footer .footer-bottom ul.nav-menu li a:hover{ color:#48c4a6;}
footer .footer-group{ float:right; padding:15px 0; width:100%}
footer .footer-group label{ float:left; line-height:34px; font-weight:normal; color:#666}
footer .footer-group .form-control{ float:right; width:60%;}
.catalog-category-view .products-grid .product-content .product-desc .price-box{width: 100%;margin-top: 0;float: left;text-align:center;}
.catalog-category-view .products-grid .product-content .product-desc .price-box .price{font-size:14px;color:#000;margin:0 0 4px;line-height:22px;font-family:'Open Sans', sans-serif;}
.catalog-category-view .products-grid .product-content .product-desc .rating-price{overflow:visible;}
.catalog-category-view .products-grid .item.product.product-item{margin-bottom:30px;}
.catalog-category-view .btn-default{background: none;color: #888!important;border: none;}
.controls1 .btn-addlist.tocart{background: none;color: #888;border: none;float: right;}
.blog-post .postTitle h2 a{
    font-size: 40px;
    margin: 0 0 20px;
    padding: 0;
    color: #000;
    /* text-align: center; */
}
.postContent p{color:#222;}
.blog-post .postTitle h2 a:hover{color:#000;}
.category-menu.active a.level0 {color: #48c4a6 !important;}
.catalog-category-view .block.filter {
    display: none;
}
#mainMenu.nav-main > li > a.level0:after{background:none;}
.catalog-category-view .breadcrumbs{display:none;}
body.wide.catalog-category-view #maincontent.container{width:100%;padding:0;}
.page-tittle h2 {
    font-size: 24px;
    text-align: center;
    color: #777;
    line-height: 25px;
    font-family: 'TrajanPro-Regular';
}
.page-tittle p {
    font-size: 16px;
    color: #777;
    text-align: center;
    margin: 0 0 20px;
    font-family: 'Open Sans', sans-serif;
}
.products-page{padding:70px 0 0;}
.products-page .product-image:hover .product-image-overlay {
    display: block;
    position: absolute;
    background: rgba(0,0,0,.65);
    left: 0px;
    right: 0px;
    top: 0px;
    height: 83%;
    padding: 25px;
}
.cms-index-index .product-image:hover .product-image-overlay {
    display: block;
    position: absolute;
    background: rgba(0,0,0,.65);
    left: 0px;
    right: 0px;
    top: 0px;
    height: 83%;
    padding: 25px;
}
.products-grid .product-content h5.product-desc{font-size: 13px;color: #d81000;margin: 0 0 4px;line-height: 22px;font-family: 'Open Sans', sans-serif;padding:0;text-align:center;}
.page-products .products-grid .product-item  .product-item-details{padding-left:0;}
.product-image-overlay button.btn.btn-addlist {
    border: 2px solid #fff!important;
    border-radius: 4px;
    padding: 0;
    line-height: 55px;
    color: #fff !important;
    font-size: 16px;
    width: 30%;
    background: none; 
	overflow:hidden;	
}
.product-image-overlay button.action.towishlist.btn.btn-addlist {
    border: none;
    float: left;
    position: absolute;
    left: 73px;
    bottom: 35px;
	height:auto;
}

.product-image-overlay .add-to-cart {
    border: 2px solid #fff!important;
    border-radius: 4px;
    padding: 0;
    line-height: 55px;
    color: #fff !important;
    font-size: 16px;
    width: 30%;
    background: none;   
	border: none;
    float: left;
    position: absolute;
    left: 188px;
    bottom: 35px;
	overflow:hidden;
}
.catalog-category-view .btn-default.action.tocart{color:#fff!important;font-size:16px;padding:0;}
.catalog-category-view .product-item .product-name a{color: #777777;text-transform: none;}
.product-image-overlay{display:none;}
.catalog-category-view .button-quickview{display:none;}
.products-page .product.details h3 {
    font-size: 16px;
    color: #777;
    margin: 0 0 4px;
    line-height: 22px;
    font-family: 'Open Sans', sans-serif;
	text-align:center;
}
.category-image img{width: 100%;}
#maincontent .owl-carousel .owl-item img {
  width: 100% !important;
}
.header-v1 .setting-pt .top-search-mini .btn-show-search:after{display: none;}
.catalog-product-view .breadcrumbs.hd-1.background-css{display:none;}
.product-view-info .product-name .h1{font-size:21px;text-transform:none;color:#000;margin:0;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.catalog-product-view .product-view-info .price-box .price-wrapper .price{font-size:14px; color:#000;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.catalog-product-view .product-view-info .product-info-price{padding: 5px 0;border-bottom:none;}
.catalog-product-view .stock{display:none;}
.catalog-product-view .product.attibute.short-description p{font-size: 13px;line-height: normal;margin: 0 0 10px;}
.catalog-product-view .product-view-info .short-description{padding:0;border-bottom:none;}
.catalog-product-view .product-view-info .short-description .title-heading {font-size: 12px;color: #6d6e71;font-weight: bold;display: block;padding: 5px 0;text-transform: uppercase;}
.catalog-product-view .product-view-info .short-description .dimensions-info {font-size: 12px;color: #777;}
.catalog-product-view .product-view-info .short-description .views-back ul{width: 100%;float: left;margin: 0;padding: 0;}
.catalog-product-view .product-view-info .short-description .views-back ul li{list-style-type: none;margin: 0 10px 0 0;float: left;width: 85px;}
.catalog-product-view .product-view-info .short-description .views-back .thumbnail {padding: 0;margin: 0;background: none;border: none;-moz-border-radius: 0px;-webkit-border-radius: 0px;border-radius: 0px;}
.catalog-product-view .product-view-info .short-description .views-back{padding:0}
.catalog-product-view .product-view-info .product-add-form .product-options-wrapper .swatch-attribute-label{font-size: 12px;color: #6d6e71;font-weight: bold;padding: 5px 0;text-transform: uppercase;}
.catalog-product-view .product-view-info .swatch-option{width:50px; height:50px!important; background-size:100%!important;}
.catalog-product-view .product-view-info .tocart{padding: 8px 18px;background: #f48147;margin: 0 10px 0 0;display: inline-block;border: none;border-radius: 0;line-height:25px;}
.catalog-product-view .product-view-info .box-tocart .actions .btn.towishlist {background:#6d6e71;font-size: 13px;color: #fff;padding: 8px 18px;display: inline-block;width: auto;height: auto;border-radius: 0;line-height: 25px;}
.catalog-product-view .product.info.detailed.product-view-tabs{display:none;}
.catalog-product-view .product-social-links{display:none;}
.catalog-product-view .product-view-info .product-add-form .product-options-wrapper{border-bottom:none;}
.products-grid .product-content .product-top{padding: 0;border-radius: 0;}
.products-grid .product-content .product-top img{border-radius: 0;}
.products-grid .product-content .product-desc{padding: 10px 0 0;}
.products-grid .product-content .product-desc .controls-hover1 > div{padding: 0;}
.header-login-and-search .setting-pt {position: relative;top: 4px;right: -15px;width: 38px;padding: 0px;margin: 0px;z-index: 0;}
.newsletter-home .block-newsletter .input-text{border-radius: 0;}
.newsletter-home .block-newsletter .actions .btn{font-size: 21px;}
.product-image {position: relative;}
.products-page .product-image:hover .product-image-overlay {display: block;position: absolute;background: rgba(0,0,0,.65);left: 0px;right: 0px;top: 0px;height: 100%;padding: 0;width: 100%;}
.cms-index-index .product-image:hover .product-image-overlay {display: block;position: absolute;background: rgba(0,0,0,.65);left: 0px;right: 0px;top: 0px;height: 100%;padding: 0;width: 100%;}
.product-image-overlay button.action.towishlist.btn.btn-addlist {border: none;float: left;position: absolute;left: 3%;bottom: 35px;padding: 0 10px;height: 55px;width: 45%;font-size: 15px;text-align: center;}
.product-image-overlay .add-to-cart {border: 2px solid #fff!important;border-radius: 4px;padding: 0 10px;line-height: 55px;color: #fff !important;font-size: 15px;width: 45%;background: none;border: none;float: left;position: absolute;right: 3%;bottom: 35px;overflow: hidden;height: 55px;text-align: center;}
.catalog-category-view .btn-default.action.tocart {color: #fff!important;font-size: 15px;line-height: 55px;vertical-align:top;}
.cms-index-index .tocart.btn-icon.btn.btn-default {color: #fff!important;font-size: 15px;line-height: 55px;vertical-align:top;border:0;padding:0 30;}
.blog-post-list .mgs-carousel-shop1.owl-carousel .owl-item{height:215px;padding-top:43px;}
.blog-post-list .mgs-carousel-shop1.owl-carousel .owl-item .item{height:100%;}
.blog-post-list .mgs-carousel-shop1.owl-carousel .owl-item .item img{height:100%;}
.top-pins-slider {background-color: #fff;padding-bottom: 20px;}
.top-pins-slider h2 {font-size: 44px;text-align: center;color: #000;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.top-pins-slider .container .row .col-sm-4{width: 21%;margin-left: 31px;margin-top: 48px;}
.mgs-carousel-shop1.owl-carousel.owl-loaded{z-index:0;}
.slider_mgs_carousel.owl-carousel.owl-theme .owl-controls{display:block;}
.customer-account-create .form label {color: #8f8f8f;opacity: 1;font-size: 14px;font-weight: bold;}
.blog-post-list .breadcrumbs.background-css{display:none;}
.blog-post-list .blog-post {padding-left: 15px;position: relative;padding-right: 15px;min-height: 1px;line-height: 25px;padding-bottom:30px;}
.blog-post-list .blog-list .blog-post .panel {padding: 20px;background: #fff;margin: 0px 0 0px;border: 0px;border-radius: 0px;}
.blog-post-list main#maincontent.page-main.container {background: #f4f4f4;width: 100%;float: left;padding:0;margin:0;}
.blog-post-list .blog-list .post-img .img-responsive{width:100%;height:312px;}
.blog-post-list .blog-list .panel h4 {font-size: 15px;font-weight: 600;margin: 0 0 20px;padding: 0px;color: #000;text-align: center;text-transform: uppercase;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.blog-post-list .blog-list .post-img {margin-bottom: 20px;}
.blog-post-list .blog-list .panel h2 a {font-size: 40px;font-weight: 500;margin: 0 0 20px;padding: 0px;color: #000;text-transform: uppercase;text-align: center;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;line-height:44px;}
.blog-post-list .blog-list .panel h2{text-align:center;}
.blog-post-list .blog-list .panel .postTitle{padding-top:0;}
.blog-post-list .blog-list .panel .post-info h3 {font-size: 14px;color: #000;text-align: left;font-weight: 600;text-transform: uppercase;}
.blog-post-list .blog-list .panel-first {background: #fff;margin: 10px 0 0px;border: 0px;border-radius: 0px;min-height:437px;}
.blog-post-list .blog-list .post-img .img-responsive.first{height:437px;}
.blog-post-list .blog-list .panel-first .spacer102 {height: 73px;}
.blog_product_slider {padding: 40px 0;float: left;width: 100%;margin-bottom: 20px;background-color: #fff;}
.blog_product_slider h2 {font-size: 44px;text-align: center;color: #000;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.blog_product_slider .owl-controls{display:block;}
.blog_product_slider .owl-theme.owl-carousel .owl-controls .owl-nav .owl-prev{opacity: 1;visibility: visible;transform: translateX(0);-webkit-transform: translateX(0);-moz-transform: translateX(0);-o-transform: translateX(0);}
.blog_product_slider .owl-theme.owl-carousel .owl-controls .owl-nav .owl-next{opacity: 1;visibility: visible;transform: translateX(0);-webkit-transform: translateX(0);-moz-transform: translateX(0);-o-transform: translateX(0);}
.blog_shop_slider h2 {text-align: center;display: block;color: #000;text-transform: uppercase;padding-bottom: 15px;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.blog_shop_slider .owl-controls{display:block;}
.blog_shop_slider .owl-theme.owl-carousel .owl-controls .owl-nav .owl-prev{opacity: 1;visibility: visible;transform: translateX(0);-webkit-transform: translateX(0);-moz-transform: translateX(0);-o-transform: translateX(0);top:40%;background:none;color:#000;left:-40px;}
.blog_shop_slider .owl-theme.owl-carousel .owl-controls .owl-nav .owl-next{opacity: 1;visibility: visible;transform: translateX(0);-webkit-transform: translateX(0);-moz-transform: translateX(0);-o-transform: translateX(0);top:40%;background:none;color:#000;right:-40px;}
.blog_shop_slider .owl-theme.owl-carousel .owl-controls .owl-nav .fa{font-size:40px;font-weight:700;}
.blog_shop_slider .owl-carousel .owl-item img{min-height:350px;}
.blog_shop_slider {margin-bottom: 29px;}
.blog-post-list a.action.next {font-size: 16px;color: #FFF;background: #aaa;padding: 7px 16px;text-transform: uppercase;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;float:right;margin-right:32px;}
.blog-post-list a.action.previous {font-size: 16px;color: #FFF;background: #aaa;padding: 7px 16px;text-transform: uppercase;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;float:left;margin-left:32px;}
.blog-post-list .toolbar .pagination > li a {width: 0px;height: 30px;line-height: 25px;border: none;color: #a9a9a9;border-radius: 0;margin-left: 0px;   margin-right: 0px;text-align: center;background: none;}
.blog-post-list .toolbar .pagination > li.current a{color:#000;}
.blog-post-list .pages.list-inline {float: left;width: 100%;margin-bottom: 20px;}
.top-pins-slider .owl-controls{display:block;}
.top-pins-slider .owl-theme.owl-carousel .owl-controls .owl-nav .owl-prev{opacity: 1;visibility: visible;transform: translateX(0);-webkit-transform: translateX(0);-moz-transform: translateX(0);-o-transform: translateX(0);top:50%;background:none;color:#000;left:-40px;}
.top-pins-slider .owl-theme.owl-carousel .owl-controls .owl-nav .owl-next{opacity: 1;visibility: visible;transform: translateX(0);-webkit-transform: translateX(0);-moz-transform: translateX(0);-o-transform: translateX(0);top:50%;background:none;color:#000;right:-40px;}
.top-pins-slider .owl-theme.owl-carousel .owl-controls .owl-nav .fa{font-size:40px;font-weight:700;}
.top-pins-slider .owl-carousel .owl-item img{min-height:350px;}
.top-pins-slider a.action.next {font-size: 16px;color: #FFF;background: #aaa;padding: 7px 16px;text-transform: uppercase;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;float:right;margin-right:32px;}
.top-pins-slider a.action.previous {font-size: 16px;color: #FFF;background: #aaa;padding: 7px 16px;text-transform: uppercase;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;float:left;margin-left:32px;}
.fotorama__nav.fotorama__nav--thumbs {display: none;}
.footer-top .newsletter-home .block-newsletter{width:415px;}
.newsletter-home .block-newsletter .actions .btn{text-transform:none;}
.search-select #select-cat-dropdown{text-align:left;}
.search-form.select-search.show-now {font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;}
.header .header-v1 .setting-pt .search-form .form-search .search-select > div > span{font-size:20px;}
.header .header-v1 .setting-pt .search-form .form-search .input-text{font-size:20px;}
.checkout-index-index .form label {color: #8f8f8f;opacity: 1;font-size: 14px;font-weight: bold;}
.checkout-cart-index .checkout-methods-items .btn.btn-default {background-color: #5d957b;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;  border: 1px solid #5d957b;padding: 3px 21px;color: #fff!important;font-size: 13px;font-weight: 400;border-radius: 55px;}
.checkout-cart-index .checkout-methods-items .btn.btn-default:hover{background-color:#171717;border-color:#171717;}
.checkout-cart-index .action.btn.btn-default.btn-lg{background-color: #5d957b;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;  border: 1px solid #5d957b;padding: 3px 21px;color: #fff!important;font-size: 13px;font-weight: 400;border-radius: 55px;}
.checkout-cart-index .action.btn.btn-default.btn-lg:hover{background-color:#171717;border-color:#171717;}
.header-v1 #mainMenu.nav-main > li > a{padding:2px 8.5px 0;}
.header-v1 #mainMenu.nav-main > li > a::before {display: none;}
.newsletter-home .block-newsletter .input-text {
    background-color: #dddddd;   
    height: 45px;     
    box-shadow: none;
}
.action.subscribe.primary.btn.btn-primary {
    background-color: #dddddd;
    border: none; 
    border-radius: 0;
}
.newsletter-home .block-newsletter .actions .btn {   
    color: #2a2a2a;
	padding:7px 15px;
}
.qty_dropdown_div {
    width: 31%;
    float: right;
    margin-right: 177px;
}
.mgs-blog-lastest-posts .owl-carousel .item article .image
{
	width:100%;
}
.mgs-blog-lastest-posts .owl-carousel .item article .image
{
	position:relative;
}
.products-grid .product-content:hover .product-desc .price-box
{
	opacity:1;
	visibility:visible;
	transform:none;
}
.mgs-blog-lastest-posts .owl-carousel .item article .blog-desc {
    background-color: #fff;
    float: right;
    display: block;   
    width: 100%;
    position: relative;
    padding-left: 14px;
    padding-top: 45px;
    padding-right: 0;
    min-height: 438px;
    text-align: justify;   
	max-width: 100%;
}
#qty_dropdown{margin:10px !important;}
.swatch-attribute.size{width:31%; float:left;}
.box-tocart .field.qty{display:none;}
.qty_dropdown_div .title-heading{
	margin-left: 9px;
	font-size: 12px;
	color: #6d6e71;
	font-weight: bold;	
	text-transform: uppercase;

}
footer .footer-top label{line-height:51px;}
.cms-index-index .product-image-overlay .add-to-cart{padding:0;}
.cms-index-index .tocart.btn-icon.btn.btn-default:hover{background-color:transparent;}
.customer-account-login .action.create.btn.btn-default.btn-lg{background-color: #5d957b;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;  border: 1px solid #5d957b;padding: 3px 21px;color: #fff!important;font-size: 13px;font-weight: 400;border-radius: 55px;}
.customer-account-login .action.create.btn.btn-default.btn-lg:hover{background-color:#171717;border-color:#171717;}
.cms-index-index .product-item-info .product-name a {
    color: #777777;
    text-transform: none;
}
.cms-index-index .product-item-info .price-box .price {
    color: #000;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 4px;
}
header.header .navbar-header button.navbar-toggle{display:none;}
.product_shipping p{
font-size: 13px;
line-height: normal;
margin: 0 0 10px;
}
.product_shipping .swatch-attribute-label {
    font-size: 12px;
    color: #6d6e71;
    font-weight: bold;
    display: block;
    padding: 5px 0;
    text-transform: uppercase;
}
.product_shipping {
    margin-top: 10px;
}


@media (min-width: 768px) {
.header-login-and-search  form[role="search"] {width: 38px;}
.header-login-and-search  form[role="search"] button, .header-login-and-search  form[role="search"] input {padding: 15px 12px;}
.header-login-and-search  form[role="search"] input {padding: 25px 12px;font-size:23px;opacity: 0;	display: none; font-style:normal	}
.header-login-and-search  form[role="search"].active {	width: 100%;	}
.header-login-and-search  form[role="search"].active button, .header-login-and-search  form[role="search"].active input {display: table-cell;opacity: 1;}
.header-login-and-search  form[role="search"].active input {width: 100%;}
}
@media screen and (min-width: 992px) and (max-width: 1180px) { 
header .navbar-nav > li > a {font-size: 12px; padding: 0 6px;}
eader ul.cart li a i{ font-size:17px;}
header ul.cart li a{ font-size:16px;}
.four-block h2 {margin: 0px 0 14px; font-size: 23px; line-height: 28px;}
footer .footer-group label{ font-size:15px;}
footer .footer-bottom ul.nav-menu li a{ padding:0 11px;}
}
@media screen and (min-width: 768px) and (max-width: 991px) { 

header .navbar-nav > li > a {font-size: 9px; padding: 0 4px;}
header .shrink .navbar-brand img {width: 90px;}
header ul.cart{ padding:0px;}
header ul.cart li a i{ font-size:18px;}
header ul.cart li a{ font-size:16px;}
.four-box{ margin-bottom:40px;}
.four-block h4{ margin-bottom:5px;}
.four-block h2 { margin: 0px 0 0px;font-size: 22px;}
.four-block p{ margin-bottom:10px;}
footer .footer-top label{ font-size:12px;}
footer .footer-top .input-group .btn-secondary{ font-size:16px;}
footer .footer-bottom ul.nav-menu li a {font-size: 12px; padding: 0 4px;}
	
}

@media screen and (min-width: 100px) and (max-width: 767px) { 
.col-xs{ padding:0px;}
.navbar .header-top{ padding:10px 0; border-bottom:0px;}
header .navbar-brand { font-size: 30px;  width: 100px;}
header .navbar-brand img{ width:100%;}
header .navbar-toggle { margin: 4px 0px 13px 0;}
header .navbar-header{ margin-top:10px;}
header ul.header-social{ text-align:center;}
header ul.header-social li a i{ line-height:20px;}
.header-login-and-search form[role="search"]{ position:relative; background: #000 !important;border: 1px solid #000 !important;}
header ul.header-login-and-search li{ width:100%; float:left}
header ul.header-login-and-search li a.btn-login{ float:left; line-height:20px; color:#fff; border-color:#fff; }
header ul.cart { float: right; list-style-type: none;  position: absolute;  right: 13px;  top: 100px;}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{ width:100%; margin:auto; background:#000; padding:0px; max-height:450px;}
header .navbar-nav{ width:100%; margin:0px}
header .navbar-nav > li{ border-bottom:1px solid #666; border-right:0px;}
header .navbar-nav > li > a{ padding:0 15px; line-height:35px; color:#fff !important;}
header .navbar-nav > li:first-child a{ padding-left:15px;}
header .shrink ul.header-social, header .shrink ul.header-login-and-search, header .shrink ul.cart{ display:none;}
header .shrink  .navbar-header{ margin-top:0px;}
header .shrink .navbar-brand img {  width: 100%;}
header .shrink .header-top{ border-bottom:0px;}
header .shrink .navbar-toggle {    margin: 8px 0px 8px 0;}
.navbar-inverse .navbar-toggle {    border: 0px;}
.navbar-toggle .icon-bar { display: block; width: 30px; height: 4px;  border-radius:0px}
.navbar-inverse .navbar-toggle .icon-bar {  background-color: #050505;}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {  background: none;}
header nav.navbar.shrink{ height:64px;}
.carousel-inner > .item > a > img, .carousel-inner > .item > img { min-height: 150px;}
.four-box{ margin-bottom:40px; float:left; width:100%;}
.four-block h4{ margin-bottom:8px;}
.four-block h2 { font-size: 20px;line-height: 30px; margin-bottom:10px;}
.four-block p{ margin-bottom:10px;}

footer .footer-top label{ font-size:10px;}
footer .footer-top .input-group .btn-secondary{ font-size:12px; padding:0 10px;}
.footer-logo { text-align:center;}
.footer-logo img{ margin:0 auto 10px;}
footer .footer-bottom{ display:none;}
.select-store{ width:100%;}
.products .product-box {
    margin-bottom: 20px;
    float: left;
    width: 100%;
}

}
.header-v1 .menu-pt{float:left;padding:0;}
.padding0{padding:0;}
#mainMenu a{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif!important;}
.mgs-product-tab.tabs-style-flip .title-block{display:none;}
.mgs-product-tab.tabs-style-flip .tab-attribute{display:none;}
.section.padding-top75.padding-bottom0{background-image:none!important;}
.owl-carousel .owl-item img.img-responsive1 {
    width: 100%!important;
}}




/***** New CSS *****/
.navbar-header .logo
{
    display: inline-block;
}
.navbar-header .logo img
{
    width: 170px !important;
    height: auto !important;
}
.sticky-logo .logo img
{
    width: 95px !important;
    height: auto !important;
}







/********** media css *********/
@media screen and (max-width: 1300px)
{
    body.wide .container
    {
        max-width: 100%;
    }
    header.header .middle-header-content .container.padding0
    {
        width:100%;
    }
    header.header nav.navigation #mainMenu
    {
        width: calc(100% - 100px);
    }
}
@media screen and (max-width: 1199px)
{
    header.header .middle-header-content .container
    {
        width:100%;
    }
    .footer-top .newsletter-home .block-newsletter
    {
        width: calc(100% - 145px);
    }
}
@media screen and (max-width: 991px)
{
    header.header .navbar-header .navbar-toggle
    {
        display:block;
    }
    header.header .navbar-header .navbar-toggle .icon-bar
    {
        background: #000;
    }


    header.header .padding0.col-sm-9, header.header .col-sm-9.col-xs-6
    {
        width: 100%;
    }
    header.header .nav.nav-main-collapse.main-menu
    {
        transform: translateX(0);
        display: none;
        position: sticky;
        width: 100%;
        background: #000;
        padding: 0;
        /*overflow: hidden;
        height:0;*/
    }
    header.header .nav.nav-main-collapse.main-menu.show-now
    {
        display: block;
        visibility: visible;
        opacity:1;
        overflow: auto;
    }
    header.header .nav.nav-main-collapse.main-menu .tile-menu-rps 
    {
        display: none !important;
    }
    header.header nav.navigation #mainMenu
    {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    header.header nav.navigation #mainMenu li
    {
        margin: 0;
    }
    header.header nav.navigation #mainMenu li a
    {
        color: #fff !important;
    }
    header.header nav.navigation #mainMenu li a, 
    .mega-menu-fullwidth .mega-menu-content .mega-menu-sub-title
    {
        font-size: 11px;
    }
    header.header nav.navigation #mainMenu li a:hover, 
    header.header nav.navigation #mainMenu li a:focus
    {
        background: #428bca;
    }
    header.header nav.navigation #mainMenu li ul.dropdown-menu
    {
        background: rgba(255, 255, 255, 0.2);
    }
    header.header nav.navigation #mainMenu li ul.dropdown-menu li
    {
        padding: 0;
    }
    header.header nav.navigation #mainMenu li ul.dropdown-menu li .mega-menu-content .row
    {
        margin-left: 0;
        margin-right: 0;
    }
    header.header nav.navigation #mainMenu li ul.dropdown-menu li .mega-menu-content .row [class*="col-"]
    {
        padding-right: 0;
        padding-left: 0;
    }
    header.header nav.navigation #mainMenu li ul.dropdown-menu li .mega-menu-content .row [class*="col-"] ul.sub-menu li a
    {
        padding-left: 35px;
        padding-right: 15px;
    }
    header.header nav.navigation #mainMenu li ul.dropdown-menu li .mega-menu-content .row [class*="col-"] ul.sub-menu li .sub-menu 
    {
        background: rgba(255, 255, 255, 0.3);
    }
    header.header nav.navigation #mainMenu li ul.dropdown-menu li .mega-menu-content .row [class*="col-"] ul.sub-menu li .sub-menu li a
    {
        padding-left: 55px;
    }
    header.header nav.navigation #mainMenu li ul.dropdown-menu li .mega-menu-content .row [class*="col-"] ul.sub-menu li span.toggle-menu a, 
    header .menu-pt #mainMenu.nav-main li > .toggle-menu a, 
    header .menu-pt #mainMenu.nav-main li > .toggle-menu a .fa
    {
        padding: 0;
        height: 45px;
    }



    .footer-top .newsletter-home .block-newsletter
    {
        width: calc(100% - 100px);
    }
}
@media screen and (max-width: 767px)
{
    .form-language
    {
        width: 100%;
        text-align: right;
    }
    .form-language select#select-language
    {
        width: 100px;
        margin-right: 15px;
    }
}
@media screen and (max-width: 599px)
{
    body .mgs-blog-lastest-posts .owl-carousel .item article .blog-desc
    {
        padding: 0 20px !important;
    }
}
@media screen and (max-width: 499px)
{
    /*header.header
    {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: 9999;
    }
    header.header .navbar-header .navbar-toggle
    {
        display:none;
    }
    .slider_mgs_carousel, 
    .slider_mgs_carousel .owl-stage-outer, 
    .slider_mgs_carousel .owl-stage-outer .owl-stage
    {
        height: 280px;
    }
    .slider_mgs_carousel .owl-stage-outer .owl-stage .owl-item
    {
        height: 280px;
    }
    .slider_mgs_carousel .owl-stage-outer .owl-stage .owl-item img, 
    #maincontent .owl-carousel .owl-item img
    {
        height: 280px;
        width: auto !important;
        max-width: none;
    }
    */
    footer .footer-top label
    {
        line-height: 20px;
    }
    .footer-top .newsletter-home .block-newsletter
    {
        width: 100%;
    }

}