<?php 
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MultiWishlist
 * @author    Webkul
 * @copyright Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

/*
$arr= json_decode($block->getMoveFromCartParams(),true);
if ($block->isAllowInCart() && $block->isProductVisibleInSiteVisibility()): ?>
    <a href="#" style="display:none"
        id='trigger-wishlist-<?php echo $arr["data"]["item"]?>'
       data-post='<?php echo $block->getMoveFromCartParams(); ?>'
       class="use-ajax action action-towishlist">
        <span><?php echo __('Move to Wishlist'); ?></span>
    </a>
    <a href="#"
        data-id='<?php echo $arr["data"]["item"]?>'
       class="wk-mw-action wk-mw-action-towishlist">
        <span><?php  echo __('Create Idea Board'); ?></span>
    </a>
<?php endif ?>
<?php 
$formData = [
    'modalTitle'    => __("Add to wishlist")
];
$serializedFormData = $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($formData);
?>
<script type="text/x-magento-init">
{
    "*": {
        "wk_item_renderer": <?php  echo $serializedFormData; ?>
    }
}
</script>
*/ ?>