<div class="main-box clearfix">


<div class="left-section common-pad" style="float:left">
<div class="global-box">
<h2>Upload Products</h2>
<form name="productform" enctype="multipart/form-data" action="<?php echo $this->getUrl('uploadcsv/uploadproducts/save') ?>" method="post">
<div class="upload-files"><span>Upload CSV:</span>
<input type="file" name="upload_products" id="upload_products" />
<input type="hidden" name="hid" value="1" />
<?php echo $this->getBlockHtml('formkey')?>
</div>
<div style="height: 10px;"></div>
<div class="text-center">
<input type="submit" name="Submit" class="btn btn-submit"/>
</div>
</form>
</div>
</div>



<div class="right-section common-pad" style="float:right">
<div class="global-box">
<h2>Upload Product Images</h2>
<form name="productimageform" enctype="multipart/form-data" action="<?php echo $this->getUrl('uploadcsv/uploadproducts/productimagesave') ?>" method="post">

<input type="hidden" name="hid" value="1" />
<?php echo $this->getBlockHtml('formkey')?>
</div>
<div style="height: 10px;"></div>
<div class="text-center">
<input type="submit" name="Submit" class="btn btn-submit"/>
</div>
</form>
</div>
</div>


</div>