<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>

<?php if ($block->isPossibleOnepageCheckout()):?>
<?php     
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');


/*if($customerSession->isLoggedIn()) { ?>

           <a href="<?php echo $this->getUrl('checkout'); ?>">
           <button type="button" title="<?php echo __('Proceed to Checkout') ?>" class="action primary checkout"
             <?php if ($block->isDisabled()):?>disabled="disabled"<?php endif; ?>>
            <span><?php echo __('Proceed to Checkout') ?></span>
    </button></a>


<?php }else{ ?>

     <a href="<?php echo $this->getUrl('customer/account/login'); ?>">
           <button type="button" title="<?php echo __('Proceed to Checkout') ?>" class="action primary checkout"
             <?php if ($block->isDisabled()):?>disabled="disabled"<?php endif; ?>>
            <span><?php echo __('Proceed to Checkout') ?></span>
    </button></a>

<?php }*/
?>
  <button type="button"
            data-role="proceed-to-checkout"
            title="<?php echo __('Proceed to Checkout') ?>"
            data-mage-init='{"Magento_Checkout/js/proceed-to-checkout":{"checkoutUrl":"<?php echo $block->getCheckoutUrl(); ?>"}}'
            class="action primary checkout<?php echo($block->isDisabled()) ? ' disabled' : ''; ?>"
            <?php if (($block->isDisabled()) || (@$_COOKIE['ck_pincode_status']=='fail')):?>disabled="disabled"<?php endif; ?>>
        <span><?php echo __('Proceed to Checkout') ?></span>
    </button>


<?php endif?>

