<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product view template
 *
 * @see \Magento\Catalog\Block\Product\View
 */
?>
<?php
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_product = $block->getProduct();
$_call = $block->getAtCall();
$_code = $block->getAtCode();
$_className = $block->getCssClass();
$_attributeLabel = $block->getAtLabel();
$_attributeType = $block->getAtType();
$_attributeAddAttribute = $block->getAddAttribute();

if ($_attributeLabel && $_attributeLabel == 'default') {
    $_attributeLabel = $_product->getResource()->getAttribute($_code)->getFrontendLabel();
}
if ($_attributeType && $_attributeType == 'text') {
    $_attributeValue = ($_helper->productAttribute($_product, $_product->$_call(), $_code)) ? $_product->getAttributeText($_code) : '';
} else {
    $_attributeValue = $_helper->productAttribute($_product, $_product->$_call(), $_code);
}
?>


<?php /*<div class="sku_info">SKU: <?php echo  $_product->getSku(); ?></div>*/ ?>


<?php if ($_attributeValue): ?>
<div class="product attibute <?php /* @escapeNotVerified */ echo $_className?>">
    <?php if ($_attributeLabel != 'none'): ?><strong class="type"><?php /* @escapeNotVerified */ echo $_attributeLabel?></strong><?php endif; ?>
    <div class="value" <?php /* @escapeNotVerified */ echo $_attributeAddAttribute;?>><?php /* @escapeNotVerified */ echo $_attributeValue; ?>
		
			<?php
	        /*
			$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();

			$registry = $objectManager->get('\Magento\Framework\Registry');

			$currentProduct = $registry->registry('current_product');
            if($currentProduct->getId()!='2247'){ ?>
			<div class="col-xs-12 col-sm-12 col-lg-12 views-back">
			<div class="title-heading">VIEWS</div>
				<ul>
			 <div class="myimages">
			<?php
			foreach($_product->getMediaGallery('images') as $images)
			{
				if($images['media_type']=='image')
				  { ?>
					<li>
					<div class="thumbnail"><a><img src="<?php echo $block->getUrl();?>pub/media/catalog/product/.<?php echo $images['file']; ?>" class="thumbClass" alt="<?php echo $images['value_id'];?>"  style="width: 86px;height: 86px;"></a></div>
					</li>
			  <?php }
			}
			 ?>
			</div>
				</ul>
			</div>
				<?php
			} */

			?>

	</div>
</div>
<?php endif; ?>
