<?php use Magento\Framework\App\Action\Action;
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); 
$_productType = $_product->getTypeID();
$ProdblockObj = $block -> getLayout() -> createBlock('Magento\Catalog\Block\Product\ListProduct');
$postParams = $ProdblockObj -> getAddToCartPostParams($_product);
?>
<?php $buttonTitle = __('Add to Cart'); ?>
<?php 
$_wishlistSubmitParams = $this->helper('Magento\Wishlist\Helper\Data')->getAddParams($_product);
$compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
$themeHelper = $this->helper('MGS\Mpanel\Helper\Data');
?>
<?php if ($_product->isSaleable()): ?>
<div class="box-tocart">
    <div class="fieldset">
	<div class="qty_dropdown_div_upper">
			<div class="qty_dropdown_div">
				<div class="title-heading">Qty:</div>
				<select id="qty_dropdown" name="qty"  id="qty" maxlength="4" data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>">
				  <option value="1">1</option>
				  <option value="2">2</option>
				  <option value="3">3</option>
				  <option value="4">4</option>
				</select>
			</div>
	</div> 
        <?php /*if ($block->shouldRenderQuantity()): ?>
        <div class="field box-qty qty">
            <label class="label" for="qty"><span><?php echo __('Qty') ?></span></label>
			<span class="edit-qty minus" onclick="minusQty('qty')"><i class="fa fa-minus"></i></span>
			<input type="number"
						   name="qty"
						   id="qty"
						   maxlength="4"
						   value="<?php echo $block->getProductDefaultQty() * 1 ?>"
						   title="<?php  echo __('Qty') ?>" class="input-text qty form-control"
						   data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
						   />
			<span class="edit-qty plus" onclick="plusQty('qty')"><i class="fa fa-plus"></i></span>
				
        </div>
        <?php endif; */ ?>
        <div class="actions">
            <button type="submit"
                    title="<?php /* @escapeNotVerified */ echo $buttonTitle ?>"
                    class="action primary tocart btn btn-secondary btn-orange"
                    id="product-addtocart-button"  <?php echo ($_productType=='simple')? 'data-toggle="modal" data-target="#addtocart_popup"':''; ?>>
                <span class="text"><?php /* @escapeNotVerified */ echo $buttonTitle ?></span>
            </button>
			<?php if($themeHelper->getStoreConfig('mpanel/product_details/wishlist') || $themeHelper->getStoreConfig('mpanel/product_details/compare') || $block->canEmailToFriend()): ?>
				<div class="product-addto-links" data-role="add-to-links">

                 <a href="#" class="action towishlist btn btn-addlist wk-towishlist1 mywork-towishlist float_none send_hidden" data-action="add-to-wishlist1" data-id="<?php echo $_product -> getId();?>"  title="<?php echo $ProdblockObj -> escapeHtml(__('Add to Idea Boards'));?>" data-unec="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED];?>"  data-toggle="modal" data-target="#mywork-ideaboard-popup">
                 Add to Idea Board</a>

                <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $themeHelper->getStoreConfig('mpanel/product_details/wishlist')) : ?>
						<a href="#"
							class="action towishlist btn btn-addlist hide"
							data-post='<?php /* @escapeNotVerified */ echo $_wishlistSubmitParams; ?>'
							data-action="add-to-wishlist">ADD TO WISHLIST</a>
					<?php endif; ?>
					<?php if($themeHelper->getStoreConfig('mpanel/product_details/compare')): ?>
						<a href="#" data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_product);?>'
							data-role="add-to-links"
							class="action tocompare btn btn-addlist"><span class="pe-7s-repeat"></span></a>
					<?php endif ?>
					<?php if ($block->canEmailToFriend()): ?>
						<a href="<?php /* @escapeNotVerified */ echo $this->helper('Magento\Catalog\Helper\Product')->getEmailToFriendUrl($_product) ?>"
						   class="action mailto friend btn btn-addlist"><span class="pe-7s-mail-open"></span></a>
					<?php endif; ?>
				</div>
				<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $themeHelper->getStoreConfig('mpanel/product_details/wishlist')) : ?>
					<script type="text/x-magento-init">
						{
							"body": {
								"addToWishlist": <?php /* @escapeNotVerified */ echo $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($block->getWishlistOptions())?>
							}
						}
					</script>
				<?php endif ?>
			<?php endif ?>
            <?php echo $block->getChildHtml('', true) ?>
			
        </div>
    </div>
</div>

<?php $estimated_delivery_date=$_product->getEstimatedDeliveryDate(); 
if($estimated_delivery_date!=''): ?>
<div class="estimated_delivery_date">

<?php   
         //$date_time=strtotime($date);
         $new_estimated_delivery_date_from=$estimated_delivery_date;
         $new_estimated_delivery_date_to=$estimated_delivery_date+5;
         

         $new_expected_date_fromdate=strtotime("+ ".$new_estimated_delivery_date_from.' days');  
         $new_expected_date_todate=strtotime("+ ".$new_estimated_delivery_date_to.' days');  

         $from_date=date("F j",$new_expected_date_fromdate);
         $to_date=date("F j",$new_expected_date_todate);
         ?>
<span class="truck_smooth_icon"><img src="<?php echo $this -> getUrl('pub/media/images') ?>delivery-truck.png" /></span> Delivery Between: <span class="delivery_date"><?php echo $from_date.' - '.$to_date; ?></span>
</div>
<?php endif; ?>

<style>
.qty_dropdown_div{float:none;margin-right:0px;}
.qty_dropdown_div .title-heading{margin-left:0px}
#qty_dropdown{margin-left:0px!important}
</style>
<?php endif; ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/product/view/validation": {
                "radioCheckboxClosest": ".nested"
            }
        }
    }
</script>
<?php if (!$block->isRedirectToCartEnabled()) : ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "catalogAddToCart": {
                "bindSubmit": true
            }
        }
    }
</script>
<?php endif; ?>
<script type="text/javascript">
function plusQty(qtyInput){
	require([
	'jquery'
	], function(jQuery){
		(function($) {
			if($('#'+qtyInput).attr('disabled')!='disabled'){
				qty = $('#'+qtyInput).attr('value');
				qty = parseInt(qty);
				qty++;
				$('#'+qtyInput).val(qty);
			}
		})(jQuery);
	});
	
}
function minusQty(qtyInput){
	require([
	'jquery'
	], function(jQuery){
		(function($) {
			if($('#'+qtyInput).attr('disabled')!='disabled'){
				qty = $('#'+qtyInput).attr('value');
				qty = parseInt(qty);
				
				if(qty>1){
					qty--;
					$('#'+qtyInput).val(qty);
				}
			}
		})(jQuery);
	});
}
</script>
<?php //echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('product_shipping')->toHtml();?>
<script>
require([
	'jquery'
	], function(jQuery){
		(function($) {
			$(document).on('change','#qty_dropdown',function(){
				console.log('qtyclick');
				var qtyval=$(this).val();
				$('#qty').val(qtyval);
			});
			$(window).load(function(){
				var $myDiv = $('.swatch-select.size');	
					if ( $myDiv.length){
						$('.swatch-opt').append($('.qty_dropdown_div_upper').html());
						$('.box-tocart .qty_dropdown_div').remove();
					}
			});
		})(jQuery);
	});	

</script>