<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product additional attributes template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Attributes
 */
?>
<?php
    $_helper = $this->helper('Magento\Catalog\Helper\Output');
    $_product = $block->getProduct();

    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
    $base_url = $storeManager->getStore()->getBaseUrl();    

?>
<?php if ($_additional = $block->getAdditionalData()): ?>
    <div class="additional-attributes-wrapper table-wrapper">
        <table class="data table additional-attributes table-striped table-hover table-bordered" id="product-attribute-specs-table">            
            <tbody>
            <?php foreach ($_additional as $_data): ?>

               <tr>
                    <th class="col" scope="row"><?php echo $block->escapeHtml(__($_data['label'])) ?></th>
                    <td class="col data" data-th="<?php echo $block->escapeHtml(__($_data['label'])) ?>"><?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_data['value'], $_data['code']) ?></td>
                </tr>
          
            <?php endforeach; ?>

              <tr>
                    <th class="col" scope="row"><?php echo $block->escapeHtml(__('Product Care')) ?></th>
                    <td class="col data custom_product_care" data-th="<?php echo $block->escapeHtml(__('Product Care')) ?>"><?php echo '<a href="'.$base_url.'faq/?pc=yes" target="_blank" class="care_ins">Care Instructions</a>'; ?></td>
                </tr>

            </tbody>
        </table>
    </div>
<?php endif;?>
