<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>

<?php if ($block->getWishlist()->getItemsCount()): ?>
    <button type="submit" name="do" title="<?php /* @escapeNotVerified */ echo __('Update IdeaBoard') ?>" class="action btn btn-primary update">
        <span><?php /* @escapeNotVerified */ echo __('Update IdeaBoard') ?></span>
    </button>
<?php endif;?>
