<style>
.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
</style>
<?php
$helper = $this->helper('MGS\Blog\Helper\Data');
$collection = $block->getCollection();
$showImage = $this->getConfig('general_settings/show_image');
?>
<?php $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
/** @var \Magento\Catalog\Model\ResourceModel\Product\Collection $productCollection */
$productCollection = $objectManager->create('Magento\Catalog\Model\ResourceModel\Product\Collection');
/** Apply filters here */
 $productCollection->addAttributeToFilter('featured_product', '1');
$productCollection->load();
//for pininterest
$url= "https://api.pinterest.com/v1/boards/lorihiney/diet/pins/?access_token=Aexigy45IePSrmeoOYh5b9GKtVMWFKGahcrtMFhDxeZMiiA9UAAAAAA&limit=100&fields=id,link,counts,note,url,image";
// create curl resource 
        $ch = curl_init(); 

        // set url 
        curl_setopt($ch, CURLOPT_URL, $url); 

        //return the transfer as a string 
        curl_setopt($ch, CURLOPT_RETURNTRANSFER, 1); 

        // $output contains the output string 
        $output = curl_exec($ch); 

        // close curl resource to free up system resources 
        curl_close($ch);
        $data=array();
		$outputarr=explode("image",$output);
		$i=0;
		foreach($outputarr as $outputarr1)
		{
			if($i !=0)
			{
				$outputarr2=explode("url",$outputarr1);
				if(isset($outputarr2['1']))
				{
					$outputarr3=explode("width",$outputarr2['1']);
					$outputarr4=explode('"',$outputarr3['0']);
					$data[]=$outputarr4['2'];
				}			
			}
			$i++;
		}
		
 ?>	 
<!--<div class="blog_product_slider">
	<div class="container">
		<div class="row"><div class="col-sm-4 col-md-3">
      <h2>Top Pins From Pinteres</h2>
    </div>
	
                <div class="owl-carousel  mgs-carousel-product col-sm-8 col-md-9">
                    <?php foreach($productCollection as $productCollection1) { ?>
					<?php $_product = $objectManager->create('\Magento\Catalog\Model\Product')->load($productCollection1->getEntityId());				
						   $imageurl=$block->getUrl('pub/media/catalog').'product/'.$_product->getThumbnail();  ?>
							<div class="item">		
								<image src="<?php echo $imageurl; ?>"/>
							</div>
					<?php } ?>
                </div>
			</div>
	</div>
</div>-->
<?php if (!count($collection)): ?>
    <div class="message info empty">
        <div><?php echo __('Have no posts.') ?></div>
    </div>
<?php else: ?>
	<?php $i=1; ?>
        <?php foreach ($collection as $post): ?>			
			<?php if($i%4==0 && $i%8 !=0): ?>
				<div class="top-pins-slider">
					<div class="container">
						<div class="row">
							<div class="col-sm-4 col-md-3">
							  <h2>Top Pins From Pinterest</h2>
							</div>
							<div class="col-sm-8 col-md-9">
								<div class="mgs-carousel-shop1 inner">
									<?php foreach($data as $data1) { ?>									
											<div class="item">		
												<image src="<?php echo $data1; ?>" class="myImg"/>
											</div>
									<?php } ?>
								</div>
								<!-- The Modal -->
								<div id="myModal" class="modal">
								  <span class="close">&times;</span>
								  <img class="modal-content" id="img01">
								  <div id="caption"></div>
								</div>

							</div>
						</div>
					</div>
				</div>					
			<?php endif;?>
			<?php if($i==1 || $i==4): ?>
			<div class="container" >
				<div class="blog-list">
			<?php endif; ?>
			<?php if($i%6==0): ?>
				<div class="blog_shop_slider">
					<h2>Shop</h2>
					<div class="owl-carousel  mgs-carousel-shop">
								<?php foreach($productCollection as $productCollection1) { ?>
								<?php $_product = $objectManager->create('\Magento\Catalog\Model\Product')->load($productCollection1->getEntityId());				
									   $imageurl=$block->getUrl('pub/media/catalog').'product/'.$_product->getThumbnail();  ?>
										<div class="item">		
											<image src="<?php echo $imageurl; ?>"/>
										</div>
								<?php } ?>
					</div>
				</div> 
			<?php endif; ?>
			<?php if(($i%6==1)||($i%6==0)||($i==count($collection))): ?>
				<div class="blog-post col-sm-12">
					<div class="col-sm-6">
						<div class="panel panel-first">
							<div class="spacer102"></div>
							<h4>Advice &amp; Inspiration</h4>					
							<div class="postTitle">
								<h2><a href="<?php echo $post->getPostUrlWithNoCategory(); ?>"><?php echo $post->getTitle(); ?></a></h2>
							</div>
							<?php if ($post->getShortContent()): ?>
								<div class="postContent">
									<?php $bigstr= $post->getShortContent();
										echo $smallstr = substr($bigstr, 0, 125);
									?>							
								</div>
							<?php endif; ?>
							<div class="post-info">
								<span class="user-author">
									<h3>posted by <?php if ($post->getUpdatedByUser()): ?>
										<span class="name"><?php echo __('By: %1', $post->getUpdatedByUser()); ?></span>
									<?php else: ?>
										<span class="name"><?php echo __('By: %1', $post->getUser()); ?></span>
									<?php endif; ?></h3>							
								</span>
							</div>
						</div>
					</div>
					<div class="post-img col-sm-6">
							<a class="post-title-link" title="<?php echo $post->getTitle(); ?>" href="<?php echo $post->getPostUrlWithNoCategory(); ?>">
								<img class="img-responsive first" alt="<?php echo $post->getTitle(); ?>" src="<?php echo $post->getThumbnailUrl(); ?>">
							</a>
					</div>
					
				</div>	
			<?php else: ?>
				<div class="blog-post col-sm-6">
					<div class="panel">
					<?php //if ($showImage): ?>					
						<div class="post-img">
							<a class="post-title-link" title="<?php echo $post->getTitle(); ?>" href="<?php echo $post->getPostUrlWithNoCategory(); ?>">
								<img class="img-responsive" alt="<?php echo $post->getTitle(); ?>"
									 src="<?php echo $post->getThumbnailUrl(); ?>">
							</a>
						</div>
					<?php //endif ?>
					<h4>Advice &amp; Inspiration</h4>					
					<div class="postTitle">
						<h2><a href="<?php echo $post->getPostUrlWithNoCategory(); ?>"><?php echo $post->getTitle(); ?></a></h2>
					</div>
					<?php if ($post->getShortContent()): ?>
						<div class="postContent">
							<?php $bigstr= $post->getShortContent();
								echo $smallstr = substr($bigstr, 0, 125);
							?>							
						</div>
					<?php endif; ?>
					<div class="post-info">
						<span class="user-author">
							<h3>posted by <?php if ($post->getUpdatedByUser()): ?>
								<span class="name"><?php echo __('By: %1', $post->getUpdatedByUser()); ?></span>
							<?php else: ?>
								<span class="name"><?php echo __('By: %1', $post->getUser()); ?></span>
							<?php endif; ?></h3>							
						</span>
					</div>
					</div>
				</div>	
			<?php endif; ?>
			<?php if($i==3 || $i==6):?>
			</div>
			</div>
			<?php endif; ?>	
				<?php $i++; ?>	
        <?php endforeach; ?>
    
    <div class="blog-post-list-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); ?></div>
<?php endif; ?>
<?php        
            $autoplay = 'true';     
			$stopOnHover = 'true';
			$navigation = 'true';        
?>
        <script type="text/javascript">
            require([
				'jquery',
				'mgs/owlcarousel'
			], function ($) {
                var owl = $('.mgs-carousel-shop');
                owl.owlCarousel({
                    items: <?php echo $this->getConfig('items', 4); ?>,
                    autoPlay: <?php echo $autoplay; ?>,
					loop:true,
                    stopOnHover: <?php echo $stopOnHover; ?>,
                    nav: <?php echo $navigation; ?>,
					navText: ["<i class='fa fa-angle-left'></i>","<i class='fa fa-angle-right'></i>"],
					dots: false,
					margin: 30,
					responsive:{ 0 : {items: 1}, 600 : {items: 2}, 768 : {items: 2}, 970 : {items: 2}, 1199 : {items: <?php echo $this->getConfig('items', 4); ?>} }
                });
            });
        </script>
		<script type="text/javascript">
            require([
				'jquery',
				'mgs/owlcarousel'
			], function ($) {
                var owl = $('.mgs-carousel-shop1');
                owl.owlCarousel({
                    items: <?php echo $this->getConfig('items', 4); ?>,
                    autoPlay: <?php echo $autoplay; ?>,
					loop:true,
                    stopOnHover: <?php echo $stopOnHover; ?>,
                    nav: <?php echo $navigation; ?>,
					navText: ["<i class='fa fa-angle-left'></i>","<i class='fa fa-angle-right'></i>"],
					dots: false,
					margin: 30,
					responsive:{ 0 : {items: 1}, 600 : {items: 2}, 768 : {items: 2}, 970 : {items: 2}, 1199 : {items: <?php echo $this->getConfig('items', 4); ?>} }
                });
            });
        </script>
		<script>
		var modal = document.getElementById('myModal');
		// Get the image and insert it inside the modal - use its "alt" text as a caption
		var img = document.getElementsByClassName('myImg');
		var modalImg = document.getElementById("img01");
		var captionText = document.getElementById("caption");
		jQuery(document).ready(function(){
			jQuery('.myImg').on('click',function(){
				modal.style.display = "block";
				modalImg.src = jQuery(this).attr('src');
				
			});
		});
	// Get the modal
	
	// Get the <span> element that closes the modal
	var span = document.getElementsByClassName("close")[0];

	// When the user clicks on <span> (x), close the modal
	span.onclick = function() { 
		modal.style.display = "none";
	}
	</script>