<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MultiWishlist
 * @author    Webkul
 * @copyright Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<?php if ($block->getWishlistHelper()->isAllow()) : ?>
    <a href="#"
       class="action wk-towishlist" data-action="add-to-wishlist1"
       data-id='<?php echo $block->getProduct()->getId()?>'><span><?php /* @escapeNotVerified */ echo __('Add to Wish Listsasasa') ?></span></a>
<?php endif; ?>
<?php 
// echo $block->getWishlistParams(); die;
$collectionWishlist = $this->helper('Webkul\MultiWishlist\Helper\Data')->getWishlistNames();
?>

<a href="#" 
        style="display:none"
       class="action towishlist" id='trigger-wishlist-<?php echo $block->getProduct()->getId()?>'
       data-post='<?php echo $block->getAddToWishlistParams($block->getProduct()); ?>'
       data-action="add-to-wishlist" ><span><?php /* @escapeNotVerified */ echo __('Add to Wish List') ?></span>
</a>
<?php
$formData = [
    'params' => $block->getAddToWishlistParams($block->getProduct())
];
$serializedFormData = $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($formData);
?>
<!-- <script type="text/x-magento-init">
    {
        "*": {
            "multiwishlist_category": <?php  //echo $serializedFormData; ?>
        }
    }
</script> -->