<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View*/
?>
<?php
$_product = $block->getProduct();
$_wishlistSubmitParams = $this->helper('Magento\Wishlist\Helper\Data')->getAddParams($_product);
$compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');

$islogin = 0;
if($this->helper('Webkul\MultiWishlist\Helper\Data')->checkLogin()) {
    $islogin=1;
}
$collectionWishlist = $this->helper('Webkul\MultiWishlist\Helper\Data')->getWishlistNames();
$wishlistHtml = $this->helper('Webkul\MultiWishlist\Helper\Data')->getProductWishlistHtml($_product);
$formData = [
    'params'        => $block->getWishlistParams(),
    'html'          => $wishlistHtml,
    'islogin'       => $islogin,
    'modalTitle'    => __("Add to wishlist")
];
$serializedFormData = $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($formData);
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$wishlist = $objectManager->get('\Magento\Wishlist\Model\ItemFactory');
?>
<script type="text/x-magento-init">
    {
        "*": {
            "wk_multiwishlist": <?php  echo $serializedFormData; ?>
        },
        "body": {
            "addToWishlist": <?php /* @escapeNotVerified */ echo $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($block->getWishlistOptions())?>
        }
    }
</script>


<div id="wk-multiwishlist" style="display:none">

<div style="text-align:right;">
        <button onclick="showIdeaBoardButton()" type="button" class="create-board">Create Idea Board</button>
</div>

    <div class="wk-mw-list">
        <?php foreach($collectionWishlist as $wishlistName) { ?>
   
              <li class="wk-wishlist-list wk-wishlist-list-prodetails" data-whishlist="<?php echo $wishlistName->getId();  ?>" id="wk-wishlist-<?php echo $wishlistName->getId() ?>">
              <input type="checkbox" name="wk_id" value="<?php echo $wishlistName->getId() ?>" class="wk-wishlist-check" id="wk-wishlist-check-id-<?php echo $wishlistName->getId(); ?>">

			<?php
                    $wishlist_collection = $wishlist->create()->getCollection()
                     ->addFieldToFilter('wishlist_name_id',$wishlistName->getId())
                     ->setOrder('wishlist_item_id', 'DESC');
				    $proData = 	$wishlist_collection->getData();
                    $store = $objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore();
				    if(!empty($proData)){
                    
                    $currentproduct = $objectManager->create('Magento\Catalog\Model\Product')->load($proData[0]['product_id']);
                    
                    $imageUrl = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'catalog/product' . $currentproduct->getImage();
                    
                    }else{
                       
                         $imageUrl = $store->getUrl("pub/static/frontend/Mgs/adella/en_US/Magento_Catalog/images/product"); 
                         $imageUrl= $imageUrl.'placeholder/small_image.jpg'; 
                    }
                    

					
				?>
				<img src="<?php echo $imageUrl; ?>" width="40px" />
                <label><?php echo $wishlistName->getWishlistName() ?></label>
            </li>
        <?php } ?>
    </div>
  <!--   <div class="wishlist_block" id="ideaBoardDiv" style="display:none;">
    <div class="wk-input">
        <input type="text" name="wk_name" class="wk_name" placeholder="<?php //echo __('Enter Idea Board Name') ?>">
    </div>
     <div class="wk-button-div">
        <button class="wk-modal-button action primary mgl" title="Add Idea Board"><img class="plus-button-cart" src="https://cdn2.iconfinder.com/data/icons/instagram-ui/48/jee-79-128.png"><?php //echo __('Add Idea Board') ?></button>
    </div>
    </div> -->
</div>

<!-- <script>
   function showIdeaBoardButton() {
    var x = document.getElementById("ideaBoardDiv");
    if (x.style.display === "block") {
        x.style.display = "none";
    } else {
        x.style.display = "block";
    }
}
</script> -->