 <tr>
      <td height="25px" ><img src="{{store url=""}}/pub/media/theme/email/25px.png" width="1" height="25" alt="" style="display: block; border: none"/></td>
    </tr>
    <tr>
      <td bgcolor="#f5f4f2" valign="top" align="center"><table width="218" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td height="25px"><img src="{{store url=""}}/pub/media/theme/email/25px.png" width="1" height="25" alt="" style="display: block; border: none"/></td>
    </tr>
    <tr>
      <td valign="top" align="center"><table width="150px" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td valign="top" align="center"><a href="https://www.instagram.com/thehomeandcompany/"><img src="{{store url=""}}/pub/media/theme/email/insta.png" width="27" height="22" alt="" style="display: block; border: none"/></a></td>
      <td>&nbsp;</td>
      <td valign="top" align="center"><a href="https://www.facebook.com/The-Home-Co-921923047981670/" target="_blank"><img src="{{store url=""}}/pub/media/theme/email/facebook_17.png" width="27" height="22" alt="" style="display: block; border: none"/></a></td>
      <td>&nbsp;</td>
      <!--<td valign="top" align="center"><img src="{{store url=""}}/pub/media/theme/email/pinterest_19.png" width="27" height="22" alt="" style="display: block; border: none"/></a></td>
      <td>&nbsp;</td>-->
      <td valign="top" align="center"><a href="https://twitter.com/TheHomeandCo" target="_blank"><img src="{{store url=""}}/pub/media/theme/email/twitter_20.png" width="27" height="22" alt="" style="display: block; border: none"/></a></td>
    </tr>
  </tbody>
</table>
</td>
    </tr>
      <tr>
      <td valign="top" align="center" height="10px"><img src="{{store url=""}}/pub/media/theme/email/25px.png" width="1" height="10" alt="" style="display: block; border: none"/></td>
    </tr>
    <tr>
      <td valign="top" align="center" height="25px"><img src="{{store url=""}}/pub/media/theme/email/stay-connected_24.png" width="219" height="19" alt="" style="display: block; border: none"/></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
      
  </tbody>
</table>
</td>
    </tr>
      <tr>
      <td>&nbsp;</td>
    </tr>
      <tr>
      <td valign="top" bgcolor="#f47435" height="10px"><img src="{{store url=""}}/pub/media/theme/email/25px.png" width="1" height="10" alt="" style="display: block; border: none"/></td>
    </tr>
  </tbody>
</table>
</body>
</html>