<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>H & C -Thank you</title>
</head>

<body>
    
    
    <table width="600" border="0" cellspacing="0" cellpadding="0"  align="center">
  <tbody>
    <tr>
      <td valign="top" bgcolor="#f47435" height="10px"><img src="{{store url=""}}/pub/media/theme/email/25px.png" width="1" height="10" alt="" style="display: block; border: none"/></td>
    </tr>
    <tr>
      <td valign="top"><table width="600" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td valign="top" align="left"><a href="{{store url=""}}" target="_blank"><img src="{{store url=""}}/pub/media/theme/email/h&c-logo_02.png" width="117" height="60" alt="" style="display: block; border: none"/></a></td>
      <td valign="top" align="right"><a href="{{store url=""}}" target="_blank"><img src="{{store url=""}}/pub/media/theme/email/shop_04.png" width="113" height="60" alt="" style="display: block; border: none"/></a></td>
    </tr>
  </tbody>
</table>
</td>
    </tr>