<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "%customer_name shared his Idea Boards with you" customer_name=$customerName}} @-->
<!--@vars {
"var customerName":"Customer Name",
"var viewOnSiteLink":"View Wish List URL",
"var items|raw":"Wish List Items",
"var message|raw":"Wish List Message"
} @-->

{{template config_path="design/email/header_template"}}

<p>{{trans "%customer_name found some beautiful pieces at The Home & Co. and wants to share them with you:" customer_name=$customerName store_name=$store.getFrontendName()}}</p>

{{depend message}}
<table class="message-info">
    <tr>
        <td>
            <h3>{{trans "Message from %customer_name:" customer_name=$customerName}}</h3>
            {{var message|raw}}
        </td>
    </tr>
</table>
<br />
{{/depend}}

{{var items|raw}}
<br/>

<p><a href="{{var viewOnSiteLink}}">{{trans "View all Idea Boards items"}}</a></p>

{{template config_path="design/email/footer_template"}}
