.header-v1 #mainMenu.nav-main > li > a{padding:2px 8.5px 0;}
.header-v1 #mainMenu.nav-main > li > a::before {display: none;}
.newsletter-home .block-newsletter .input-text {
    background-color: #dddddd;   
    height: 45px;     
    box-shadow: none;
}
.action.subscribe.primary.btn.btn-primary {
    background-color: #dddddd;
    border: none; 
    border-radius: 0;
}
.newsletter-home .block-newsletter .actions .btn {   
    color: #2a2a2a;
	padding:7px 15px;
}
.qty_dropdown_div {
    width: 31%;
    float: right;
    margin-right: 177px;
}
.mgs-blog-lastest-posts .owl-carousel .item article .image
{
	width:100%;
}
.mgs-blog-lastest-posts .owl-carousel .item article .image
{
	position:relative;
}
.products-grid .product-content:hover .product-desc .price-box
{
	opacity:1;
	visibility:visible;
	transform:none;
}
.mgs-blog-lastest-posts .owl-carousel .item article .blog-desc {
    background-color: #fff;
    float: right;
    display: block;   
    width: 100%;
    position: relative;
    padding-left: 14px;
    padding-top: 45px;
    padding-right: 0;
    min-height: 438px;
    text-align: justify;   
	max-width: 100%;
}
#qty_dropdown{margin:10px !important;}
.swatch-attribute.size{width:31%; float:left;}
.box-tocart .field.qty{display:none;}
.qty_dropdown_div .title-heading{
	margin-left: 9px;
	font-size: 12px;
	color: #6d6e71;
	font-weight: bold;	
	text-transform: uppercase;

}
footer .footer-top label{line-height:51px;}
.cms-index-index .product-image-overlay .add-to-cart{padding:0;}
.cms-index-index .tocart.btn-icon.btn.btn-default:hover{background-color:transparent;}
.customer-account-login .action.create.btn.btn-default.btn-lg{background-color: #5d957b;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;  border: 1px solid #5d957b;padding: 3px 21px;color: #fff!important;font-size: 13px;font-weight: 400;border-radius: 55px;}
.customer-account-login .action.create.btn.btn-default.btn-lg:hover{background-color:#171717;border-color:#171717;}
.cms-index-index .product-item-info .product-name a {
    color: #777777;
    text-transform: none;
}
.cms-index-index .product-item-info .price-box .price {
    color: #000;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 4px;
}
header.header .navbar-header button.navbar-toggle{display:none;}
.product_shipping p{
font-size: 13px;
line-height: normal;
margin: 0 0 10px;
}
.product_shipping .swatch-attribute-label {
    font-size: 12px;
    color: #6d6e71;
    font-weight: bold;
    display: block;
    padding: 5px 0;
    text-transform: uppercase;
}
.product_shipping {
    margin-top: 10px;
}

