@media (min-width:992px) {
    #mainMenu.nav-main .banner-menu {
        position: relative
    }
    #mainMenu.nav-main .banner-menu:after {
        content: "";
        left: 15px;
        right: 15px;
        bottom: 15px;
        top: 15px;
        border: 1px solid #fff;
        position: absolute
    }
    #mainMenu.nav-main .banner-menu .text {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 1;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%)
    }
    #mainMenu.nav-main li>ul.dropdown-menu {
        display: block !important;
        left: 0;
        margin: 0;
        min-width: 260px;
        opacity: 0;
        padding: 0;
        position: absolute;
        visibility: hidden;
        transform: translateY(20px);
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -o-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transition: all 300ms ease-in-out 0s;
        -webkit-transition: all 300ms ease-in-out 0s;
        -moz-transition: all 300ms ease-in-out 0s;
        -o-transition: all 300ms ease-in-out 0s;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -o-border-radius: 0px
    }
    #mainMenu.nav-main li>ul.sub-menu {
        display: block !important
    }
    #mainMenu.nav-main li:hover>ul.dropdown-menu {
        opacity: 1;
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -o-transform: translateY(0px);
        -ms-transform: translateY(0px);
        visibility: visible
    }
    #mainMenu.nav-main>li {
        position: static;
        margin: 0
    }
    #mainMenu.nav-main>li>a.level0 {
        color: #333333;
        font-size: 13px;
        position: relative;
        text-transform: uppercase;
        background: none;
        border-radius: 0px
    }
    #mainMenu.nav-main>li>a.level0:after {
        content: "";
        position: absolute;
        width: 30px;
        margin-left: -15px;
        left: 50%;
        top: 0;
        height: 3px;
        background: #333333;
        transform: scaleX(0);
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -o-transform: scaleX(0);
        -ms-transform: scaleX(0);
        transition: all 300ms ease-in-out 0s;
        -webkit-transition: all 300ms ease-in-out 0s;
        -moz-transition: all 300ms ease-in-out 0s;
        -o-transition: all 300ms ease-in-out 0s
    }
    #mainMenu.nav-main>li>a.level0:hover:after {
        transform: scaleX(1);
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -o-transform: scaleX(1);
        -ms-transform: scaleX(1)
    }
    #mainMenu.nav-main>li>a.level0:before {
        content: "";
        width: 10px;
        height: 1px;
        background: #9d9d9d;
        position: absolute;
        left: 50%;
        margin-left: -5px;
        bottom: 10px;
        transition: all 300ms ease-in-out 0s;
        -webkit-transition: all 300ms ease-in-out 0s;
        -moz-transition: all 300ms ease-in-out 0s;
        -o-transition: all 300ms ease-in-out 0s
    }
    #mainMenu.nav-main>li.active>a:after {
        transform: scaleX(1);
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -o-transform: scaleX(1);
        -ms-transform: scaleX(1)
    }
    #mainMenu.nav-main>li.mega-menu-fullwidth .mega-menu-content {
        padding: 30px
    }
    #mainMenu.nav-main>li.mega-menu-fullwidth .mega-menu-content .mega-menu-sub-title {
        font-size: 15px;
        text-transform: uppercase
    }
    #mainMenu.nav-main>li.mega-menu-fullwidth ul.dropdown-menu {
        left: auto;
        right: 15px;
        max-width: 1170px;
        min-width: 961px
    }
    #mainMenu.nav-main>li.mega-menu-fullwidth>ul.dropdown-menu {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover
    }
    #mainMenu.nav-main>li.mega-menu-fullwidth li>a {
        padding: 5px 0
    }
    #mainMenu.nav-main>li.mega-menu-fullwidth.mega-menu-2-column {
        position: relative
    }
    #mainMenu.nav-main>li.mega-menu-fullwidth.mega-menu-2-column ul.dropdown-menu {
        left: 0;
        max-width: 500px;
        min-width: 400px;
        right: auto
    }
    #mainMenu.nav-main>li:not(.mega-menu-fullwidth) {
        position: relative
    }
    #mainMenu.nav-main>li:not(.mega-menu-fullwidth) li {
        position: relative
    }
    #mainMenu.nav-main>li:not(.mega-menu-fullwidth) li>a:hover {
        background-color: #f0f0f0
    }
    #mainMenu.nav-main>li:not(.mega-menu-fullwidth) li>ul.dropdown-menu {
        left: 100%;
        top: 0
    }
    #mainMenu.nav-main>li:not(.mega-menu-fullwidth).hover-right li>ul.dropdown-menu {
        left: auto;
        right: 100%;
        top: 0
    }
    #mainMenu.nav-main ul li>a {
        display: block;
        font-size: 13px;
        padding: 10px 22px
    }
}

@media (max-width:991px) {
    #mainMenu.nav-main .banner-menu {
        display: none
    }
    #mainMenu.nav-main>li.mega-menu-fullwidth>ul.dropdown-menu {
        background-image: none !important
    }
}

.static-menu .lb-hot,
.static-menu .lb-new,
.static-menu .lb-sale {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    color: #ffffff;
    display: inline-block;
    font-size: 11px;
    height: 18px;
    margin-left: 8px;
    margin-top: -3px;
    padding: 0 7px;
    position: relative;
    line-height: 1.5;
    vertical-align: top
}

.static-menu .lb-hot:after,
.static-menu .lb-new:after,
.static-menu .lb-sale:after {
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    border-top: 4px solid transparent;
    content: "";
    height: 0;
    left: -8px;
    position: absolute;
    top: 4px;
    width: 0
}

.static-menu .lb-hot {
    background-color: #191919
}

.static-menu .lb-hot:after {
    border-right: 4px solid #191919
}

.static-menu .lb-new {
    background-color: #b67458
}

.static-menu .lb-new:after {
    border-right: 4px solid #b67458
}

.static-menu .lb-sale {
    background-color: #5d957b
}

.static-menu .lb-sale:after {
    border-right: 4px solid #5d957b
}

@media (max-width:991px) {
    .header-v1 .middle-header-content {
        padding: 0 !important
    }
    .btn-responsive-nav {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: medium none;
        box-shadow: none;
        color: #333333;
        font-size: 18px;
        padding: 38px 15px 34px;
        position: relative
    }
    .btn-responsive-nav::before {
        background: #d6d6d6 none repeat scroll 0 0;
        content: "";
        height: 10px;
        margin-top: -3px;
        position: absolute;
        right: 0;
        top: 50%;
        width: 1px
    }
    header .menu-pt .nav-main-collapse {
        background: #fff none repeat scroll 0 0;
        border-right: 1px solid #ddd;
        bottom: 0;
        left: 0;
        max-height: 100%;
        opacity: 0;
        position: fixed;
        text-align: left !important;
        top: 0;
        transform: translateX(-100%);
        transition: all 300ms ease-in-out 0s;
        visibility: hidden;
        width: 300px;
        z-index: 9999
    }
    header .menu-pt .nav-main-collapse.show-now {
        opacity: 1;
        transform: translateX(0px);
        visibility: visible
    }
    header .menu-pt .nav-main-collapse .navigation {
        display: block;
        padding: 0
    }
    .tile-menu-rps {
        border-bottom: 1px solid #ddd;
        padding: 20px 50px 20px 10px;
        position: relative
    }
    .tile-menu-rps .btn-close-mn {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: medium none;
        box-shadow: none;
        color: #000;
        font-size: 30px;
        height: 50px;
        margin-top: -25px;
        position: absolute;
        right: 0;
        text-align: center;
        top: 50%;
        width: 50px
    }
    header .menu-pt #mainMenu.nav-main>li>a {
        color: #212121 !important;
        font-size: 16px;
        text-transform: uppercase
    }
    header .menu-pt #mainMenu.nav-main li {
        display: block;
        float: none;
        position: relative
    }
    header .menu-pt #mainMenu.nav-main li>a {
        border-bottom: 1px solid #ddd;
        display: block;
        padding: 14px 50px 15px 15px;
        border-radius: 0
    }
    header .menu-pt #mainMenu.nav-main li>.toggle-menu {
        bottom: 0;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: 35px;
        height: 45px;
        z-index: 1;
    }
    header .menu-pt #mainMenu.nav-main ul>li {
        padding-left: 15px
    }
    header .menu-pt #mainMenu.nav-main ul>li>a {
        padding-left: 0
    }
    .mega-menu-fullwidth .mega-menu-content .mega-menu-sub-title {
        font-size: 15px;
        text-transform: uppercase
    }
    header .menu-pt #mainMenu.nav-main .dropdown-menu {
        border: medium none;
        box-shadow: none;
        float: none;
        margin: 0;
        padding: 0;
        position: static
    }
    header .menu-pt #mainMenu.nav-main li>.toggle-menu a {
        display: block;
        height: 50px;
        line-height: 50px
    }
    header .menu-pt #mainMenu.nav-main li>.toggle-menu a .fa {
        display: block;
        line-height: 50px
    }
    header .menu-pt #mainMenu.nav-main li>.toggle-menu a .fa-minus,
    header .menu-pt #mainMenu.nav-main li>.toggle-menu a.active .fa-plus {
        display: none
    }
    header .menu-pt #mainMenu.nav-main li>.toggle-menu a.active .fa-minus {
        display: block
    }
    header .menu-pt #mainMenu.nav-main li>ul.sub-menu {
        display: none
    }
    #mainMenu {
        overflow: auto;
        width: 100%;
        max-height: 100%
    }
    .track3 {
        width: 10px;
        background: rgba(0, 0, 0, 0);
        margin-right: 0px;
        border-radius: 10px;
        -webkit-transition: background 250ms linear;
        transition: background 250ms linear
    }
    .track3:hover,
    .track3.dragging {
        background: #d9d9d9;
        background: rgba(0, 0, 0, 0.15)
    }
    .handle3 {
        width: 2px;
        right: 0;
        background: #999;
        background: rgba(0, 0, 0, 0.4);
        border-radius: 2px;
        -webkit-transition: width 250ms;
        transition: width 250ms
    }
}