@media (min-width:992px) {
  body .col-md-custom-5 {
    width: 20%
  }
}

@media (max-width:499px) {
  .cms-index-index .header-v1 {
    position: static
  }
}

@media (min-width:1200px) {
  .header-v1 .middle-header-content {
    padding: 0 60px
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .header-v1 .middle-header-content {
    padding: 0 20px
  }
}

@media (min-width:992px) {
  .header-v1 #mainMenu.nav-main {
    height: auto !important;
    overflow: visible !important;
    padding:0;
  }
  .header-v1 #mainMenu.nav-main>li>a {
    padding: 40px 22.5px 38px
  }
  .header-v1 #mainMenu.nav-main>li>a:before {
    bottom: 32px
  }
}

@media (max-width:991px) {
  .header-v1 .middle-header-content {
    padding: 0
  }
  .checkout-cart-index #shopping-cart-table thead tr th{width:20%;}
}

@media (min-width:768px) and (max-width:991px) {
  .header-v1 .setting-pt .search-form .form-search .input-text {
    width: 300px;
    padding-left: 30px;
    font-size: 16px
  }
  .header-v1 .setting-pt .search-form .form-search .search-select>div>span {
    font-size: 16px
  }
}

@media (max-width:767px) {
  .header-v1 .setting-pt .search-form {
    left: auto;
    position: absolute;
    right: 15px;
    top: 100%;
    width: 300px;
    height: auto;
    box-shadow: 1px 0 3px #ddd;
    margin-top: 2px
  }
  .header-v1 .setting-pt .search-form .btn-close-search {
    display: none
  }
  .header-v1 .setting-pt .search-form .form-search {
    padding: 0;
    width: 100%
  }
  .header-v1 .setting-pt .search-form .form-search .input-text {
    height: 43px;
    border-bottom: 1px solid #ddd;
    padding-left: 15px;
    width: 100%;
    font-size: 16px
  }
  .header-v1 .setting-pt .search-form .form-search .button {
    border-left: 1px solid #ddd;
    font-size: 18px;
    height: 43px;
    line-height: 43px;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px
  }
  .header-v1 .setting-pt .search-form.select-search .form-search {
    padding-bottom: 43px
  }
  .header-v1 .setting-pt .search-form.select-search .search-select {
    display: block !important;
    height: 43px;
    line-height: 43px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: left
  }
  .header-v1 .setting-pt .search-form.select-search .search-select>div {
    border: none;
    padding-left: 15px
  }
  .header-v1 .setting-pt .search-form.select-search .search-select>div>span {
    font-size: 16px
  }
  
}

@media (max-width:499px) {
  .header-v1 .middle-header-content .col-xs-6 {
    width: 100%;
    text-align: center
  }
  .header-v1 .setting-pt>div,
  .header-v1 .btn-responsive-nav {
    padding: 0 15px 10px
  }
  .header-v1 .setting-pt {
    display: inline-block;
    float: none;
    position: static;
    vertical-align: top
  }
  .header-v1 .setting-pt>div {
    position: static !important
  }
  .header-v1 .setting-pt>div .dropdown-menu {
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    left: 50% !important;
    right: auto !important;
    margin: 0 !important;
    width: 300px !important
  }
  .header-v1 .setting-pt .search-form {
    margin-top: 0px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    left: 50%;
    right: auto
  }
  .header-v1 .setting-pt .search-form.show-now {
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%)
  }
  .header-v1 .menu-pt {
    display: inline-block;
    float: none;
    position: static;
    vertical-align: top
  }
  .header-v1 .btn-responsive-nav:before {
    left: 0;
    right: auto;
    margin-top: -10px
  }
}

@media (max-width:767px) {
  .account .box.box-newsletter,
  .account .box.box-shipping-address {
    padding-top: 40px
  }
  .account .table-wrapper {
    overflow-y: hidden;
    overflow-x: auto;
    padding: 15px;
    border: 1px solid #ddd
  }
  .account .table-wrapper table tr th {
    min-width: 150px
  }
  .account .order-details-items.shipments .order-title .action.track {
    display: table;
    margin-left: 0;
    margin-top: 20px
  }
  .account .form-wishlist-items .wishlist-table tr td .product-item-inner {
    min-width: 330px
  }
  .account .form-wishlist-items .wishlist-table tr td .product-item-inner .field.comment-box {
    padding-right: 0
  }
  .account .form-wishlist-items .wishlist-table tr td .form-control {
    min-width: 150px
  }
}

@media (max-width:1199px) and (min-width:992px) {
  .slider_mgs_carousel.slider-border:after {
    left: 35px;
    right: 35px
  }
}

@media (max-width:992px) {
  .slider_mgs_carousel.slider-border:after {
    left: 15px;
    right: 15px
  }
}

@media (min-width:991px) {
  .slider_mgs_carousel.slider-border:after {
    content: none !important
  }
}

@media (max-width:1199px) and (min-width:992px) {
  .footer-container .block-subscribe .title {
    min-width: 140px
  }
  .footer-container .block-subscribe .block-content .actions .sm-subscribe .icon {
    display: block
  }
  .footer-container .block-subscribe .block-content .actions .sm-subscribe .text {
    display: none
  }
  .footer-container.footer-v6 .social-link li,
  .footer-container.footer-v7 .social-link li {
    margin: 0 4px
  }
}

@media (max-width:991px) {
  .footer-container.footer-v4 {
    padding: 0
  }
  .footer-container.footer-v6 .subcribe-2 .block-subscribe .title,
  .footer-container.footer-v7 .subcribe-2 .block-subscribe .title {
    margin-bottom: 16px
  }
  .footer-container.footer-v8 .logo-ft {
    text-align: center;
    padding-bottom: 30px
  }
  .footer-container.footer-v8 .social-link {
    margin: 0 auto;
    padding-bottom: 20px
  }
  .footer-container.footer-v2 .ft-contact li,
  .footer-container.footer-v5 .ft-contact li {
    padding-top: 40px;
    padding-left: 0;
    text-align: center;
    margin-bottom: 10px
  }
  .footer-container.footer-v2 .ft-contact li .icon,
  .footer-container.footer-v5 .ft-contact li .icon {
    margin-top: 0;
    margin-left: -17px;
    top: 0;
    left: 50%
  }
}

@media (min-width:768px) and (max-width:991px) {
  .footer-container.footer-v5 .top-ft {
    padding-bottom: 0px
  }
  .footer-container.footer-v5 .logo-ft {
    padding-bottom: 20px
  }
  .footer-container.footer-v5 .block-subscribe {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 25px
  }
  .footer-container.footer-v5 .block-subscribe .title {
    display: block;
    margin-bottom: 10px
  }
  .footer-container.footer-v5 .block-subscribe .block-content .actions .sm-subscribe .icon,
  .footer-container.footer-v8 .block-subscribe .block-content .actions .sm-subscribe .icon {
    display: block
  }
  .footer-container.footer-v5 .block-subscribe .block-content .actions .sm-subscribe .text,
  .footer-container.footer-v8 .block-subscribe .block-content .actions .sm-subscribe .text {
    display: none
  }
  .footer-container.footer-v8 .instagram-widget>a {
    width: calc(100% / 6)
  }
}

@media (min-width:500px) and (max-width:991px) {
  .footer-container.footer-v2 .top-ft {
    padding-bottom: 0px;
    border-right: 1px dashed #fff;
    border-right: 1px dashed rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-bottom: 30px
  }
  .footer-container.footer-v2 .social-link {
    margin: 0 auto;
    display: table
  }
  .footer-container.footer-v2 .social-link li {
    margin: 0 5px
  }
  .footer-container.footer-v2 .block-subscribe {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 25px
  }
  .footer-container.footer-v2 .block-subscribe .title {
    display: block;
    margin-bottom: 10px
  }
  .footer-container.footer-v2 .block-subscribe .block-content {
    margin: 0 auto;
    display: table
  }
  .footer-container.footer-v2 .block-subscribe .block-content .actions .sm-subscribe .icon {
    display: block
  }
  .footer-container.footer-v2 .block-subscribe .block-content .actions .sm-subscribe .text {
    display: none
  }
  .footer-container.footer-v2 .social-ft {
    padding-top: 25px;
    padding-bottom: 25px
  }
  .footer-container.footer-v2 .ft-vertical-menu {
    text-align: center
  }
  .footer-container.footer-v2 .logo-ft {
    padding-bottom: 20px
  }
  .footer-container.footer-v5 .top-ft {
    padding-bottom: 0px;
    border-right: 1px dashed #fff;
    border-right: 1px dashed rgba(17, 17, 17, 0.5);
    text-align: center;
    margin-bottom: 30px
  }
  .footer-container.footer-v5 .social-link {
    margin: 0 auto;
    display: table
  }
  .footer-container.footer-v5 .social-link li {
    margin: 0 5px
  }
  .footer-container.footer-v5 .block-subscribe {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 25px
  }
  .footer-container.footer-v5 .block-subscribe .title {
    display: block;
    margin-bottom: 10px
  }
  .footer-container.footer-v5 .block-subscribe .block-content {
    margin: 0 auto;
    display: table
  }
  .footer-container.footer-v5 .block-subscribe .block-content .actions .sm-subscribe .icon {
    display: block
  }
  .footer-container.footer-v5 .block-subscribe .block-content .actions .sm-subscribe .text {
    display: none
  }
  .footer-container.footer-v5 .social-ft {
    padding-top: 25px;
    padding-bottom: 25px
  }
  .footer-container.footer-v5 .ft-vertical-menu {
    text-align: center
  }
  .footer-container.footer-v5 .logo-ft {
    padding-bottom: 20px
  }
}

@media (max-width:767px) {
  .footer-container.footer-v4 address.copy {
    text-align: center;
    padding-bottom: 10px
  }
  .footer-container.footer-v4 .social-link {
    float: none
  }
  .footer-container.footer-v8 .block-subscribe {
    float: none;
    margin: 0 auto
  }
  .footer-container.footer-v8 address.copy {
    padding-bottom: 15px;
    text-align: center
  }
  .footer-container.footer-v8 .payment-footer {
    float: none;
    display: table;
    margin: 0 auto
  }
  .footer-container.footer-v2 .logo-ft {
    text-align: center;
    padding-bottom: 20px
  }
  .footer-container.footer-v2 .social-link {
    margin: 0 auto
  }
  .footer-container.footer-v2 .block-subscribe {
    float: none;
    margin: 0 auto;
    padding-top: 20px
  }
  .footer-container.footer-v2 .block-subscribe .title {
    text-align: center;
    margin-bottom: 10px;
    padding: 0;
    display: block
  }
  .footer-container.footer-v2 .block-subscribe .block-content {
    display: block
  }
  .footer-container.footer-v2 .bottom-footer {
    text-align: center
  }
  .footer-container.footer-v2 address.copy {
    padding-bottom: 15px
  }
  .footer-container.footer-v2 .payment-footer {
    float: none;
    display: table;
    margin: 0 auto
  }
  .footer-container.footer-v3 .bottom-footer,
  .footer-container.footer-v3 .ft-vertical-menu {
    text-align: center
  }
  .footer-container.footer-v3 address.copy {
    padding-bottom: 15px
  }
  .footer-container.footer-v3 .social-link {
    float: none
  }
  .footer-container.footer-v5 .logo-ft {
    text-align: center;
    padding-bottom: 20px
  }
  .footer-container.footer-v5 .social-link {
    margin: 0 auto
  }
  .footer-container.footer-v5 .block-subscribe {
    float: none;
    margin: 0 auto;
    padding-top: 20px
  }
  .footer-container.footer-v5 .block-subscribe .title {
    text-align: center;
    margin-bottom: 10px;
    padding: 0;
    display: block
  }
  .footer-container.footer-v5 .block-subscribe .block-content {
    display: block
  }
  .footer-container.footer-v6 .bottom-footer {
    text-align: center
  }
  .footer-container.footer-v6 address.copy {
    padding-bottom: 15px
  }
  .footer-container.footer-v6 .payment-footer {
    float: none;
    margin: 0 auto;
    display: table
  }
}

@media (min-width:500px) and (max-width:767px) {
  .footer-container.footer-v3 .last-block {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 30px !important
  }
  .footer-container.footer-v3 .last-block .ft-vertical-menu li {
    width: 50%;
    float: left
  }
  .footer-container.footer-v6 .social-link>li,
  .footer-container.footer-v7 .social-link>li {
    margin: 0 5px
  }
  .footer-container.footer-v6 .block-subscribe .block-content .actions .sm-subscribe .icon,
  .footer-container.footer-v7 .block-subscribe .block-content .actions .sm-subscribe .icon {
    display: block
  }
  .footer-container.footer-v6 .block-subscribe .block-content .actions .sm-subscribe .text,
  .footer-container.footer-v7 .block-subscribe .block-content .actions .sm-subscribe .text {
    display: none
  }
  .footer-container.footer-v8 .instagram-widget>a {
    width: calc(100% / 6)
  }
}

@media (max-width:499px) {
  .footer-container .ft-title-block {
    border-bottom: 1px solid #2a2a2a;
    padding-bottom: 6px;
    position: relative;
    cursor: pointer
  }
  .footer-container .ft-title-block:after {
    content: "\f107";
    font-family: "FontAwesome";
    color: #2a2a2a;
    font-size: 16px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%)
  }
  .footer-container .ft-title-block.show:after {
    content: "\f106"
  }
  .footer-container .middle-footer .content-ft {
    display: none
  }
  .footer-container.footer-v8 .middle-footer .col-md-3:not(.col-xs-12) {
    width: 100%
  }
  .footer-container.footer-v8 .block-subscribe {
    float: none;
    margin: 0 auto
  }
  .footer-container.footer-v8 .block-subscribe .title {
    text-align: center;
    margin-bottom: 10px;
    padding: 0;
    display: block
  }
  .footer-container.footer-v8 .block-subscribe .block-content {
    display: block
  }
  .footer-container.footer-v2 .col-xs-6,
  .footer-container.footer-v5 .col-xs-6,
  .footer-container.footer-v2 .col-xs-4,
  .footer-container.footer-v5 .col-xs-4 {
    width: 100%;
    text-align: center
  }
  .footer-container.footer-v3 .col-md-custom-5 {
    width: 100%;
    text-align: center
  }
}

@media (max-width:1199px) and (min-width:992px) {
  .breadcrumbs.type2:after {
    left: 35px;
    right: 35px
  }
}

@media (max-width:991px) {
  .breadcrumbs.type2:after {
    left: 15px;
    right: 15px
  }
  .breadcrumbs:not(.type2) {
    padding-top: 48px !important
  }
  .breadcrumbs:not(.type2) h1 {
    margin-bottom: 26px !important;
    font-size: 30px
  }
  .breadcrumbs.no-breadcrumbs:not(.type2) h1 {
    margin-bottom: 46px !important;
    font-size: 30px
  }
 .each-item{height:auto!important;}
}

@media (max-width:767px) {
  .breadcrumbs:not(.type2) .breadcrumbs-items ul {
    text-align: left; padding: 8px 0 5px 0; 
  }
  .breadcrumbs:not(.type2) .breadcrumbs-items ul li {
    float: none;
    display: inline-block
  }
  .breadcrumbs .breadcrumbs-items ul li{line-height:20px;}
}

@media (max-width:499px) {
  .breadcrumbs .breadcrumbs-items ul li:first-child {
    display: none
  }
  .breadcrumbs.type2.hd-1:after {
    top: 60px
  }
}

@media (max-width:767px) {
  .contacts-index-index .map-container .store-information {
    position: static;
    transform: translate(0px, 0px);
    background: none;
    padding: 0;
    margin-top: 30px;
    max-width: 100%
  }
}

@media (min-width:1199px) and (max-width:1366px) {
  .cms-noroute-index #maincontent .bg-404 .content {
    padding: 50px 0
  }
  .cms-noroute-index .title-404 {
    font-size: 150px
  }
  .cms-noroute-index .logo {
    margin-bottom: 30px
  }
  .cms-noroute-index .h1,
  .cms-noroute-index .form-search {
    margin-top: 30px
  }
}

@media (max-width:767px) {
  .cms-noroute-index #maincontent .bg-404 .content {
    padding: 50px 0
  }
  .cms-noroute-index .title-404 {
    font-size: 130px
  }
  .cms-noroute-index .logo {
    margin-bottom: 25px
  }
  .cms-noroute-index .h1 {
    font-size: 22px
  }
  .cms-noroute-index h3 {
    font-size: 14px
  }
  .cms-noroute-index h3 .btn-default {
    display: table;
    margin: 15px auto 0 !important
  }
  .cms-noroute-index .h1,
  .cms-noroute-index .form-search {
    margin-top: 25px
  }
}

@media (max-width:767px) {
  .blog-post {
    padding-left: 0px
  }
  .blog-post .date {
    position: static;
    text-align: right;
    padding-bottom: 20px
  }
  .blog-post .post-sharethis {
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px dashed #ddd
  }
}

@media (max-width:991px) {
  .blog-post-list.page-layout-2columns-right .sidebar {
    margin-top: 50px
  }
  .blog-post-list.page-layout-2columns-left .sidebar {
    margin-bottom: 50px
  }
}

@media (min-width:768px) {
  .menu-portfolio .tabs_categories_porfolio {
    display: table !important
  }
}

@media (max-width:767px) {
  .menu-portfolio {
    position: relative
  }
  .menu-portfolio .mobile-ver {
    display: table;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border: 1px solid #ddd;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 0 20px
  }
  .menu-portfolio .mobile-ver .h6 {
    margin: 0;
    line-height: 38px;
    float: left;
    text-transform: uppercase
  }
  .menu-portfolio .mobile-ver .icon {
    cursor: pointer;
    display: block;
    float: right;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px
  }
  .menu-portfolio .tabs_categories_porfolio {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 20px;
    border-top: none;
    overflow: hidden;
    min-width: 200px;
    max-width: 300px
  }
  .menu-portfolio .tabs_categories_porfolio li {
    display: block;
    float: none;
    text-align: center
  }
  .menu-portfolio .tabs_categories_porfolio li a {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    margin: 0 !important;
    border: none !important
  }
}

@media (max-width:991px) {
  .portfolio-details .portfolio-content .portfolio-table {
    margin-top: 50px
  }
}

@media (max-width:1199px) {
  body .toolbar .modes,
  body .toolbar .sorter {
    margin-right: 30px
  }
}

@media (max-width:1199px) and (min-width:991px) {
  body .banner-text-left .text-to-top,
  body .banner-text-right .text-to-top {
    white-space: nowrap;
    margin: 0
  }
  body .banner-carousel .box-style1 .box-text,
  body .banner-carousel .box-style3 .box-text {
    padding-left: 30px;
    padding-right: 30px
  }
  body .mgs-blog-lastest-posts .owl-carousel .item article .blog-desc {
    height: auto;
    padding-top: 40px;
    padding-bottom: 80px;
    padding-right: 20px;
    min-height: 360px
  }
}

@media (max-width:991px) and (min-width:768px) {
  body .lookbook-carousel .box-text {
    top: 20px
  }
  body .product-list-block.block-left .products-grid .product-content {
    text-align: center
  }
  body .product-list-block.block-left .products-grid .product-content .product-left {
    float: none;
    text-align: center;
    width: 100%;
    margin-right: 0
  }
  body .product-list-block.block-left .products-grid .product-content .product-right {
    float: none;
    text-align: center;
    width: 100%;
    margin-right: 0
  }
  body .product-list-block.block-left .products-grid .product-content .product-right .controls {
    position: relative
  }
}

@media (max-width:991px) {
  body.multishipping-checkout-shipping .actions-toolbar .primary {
    margin-bottom: 20px
  }
  body.checkout-cart-index .shopping-cart-bottom {
    margin-top: 30px
  }
  body.checkout-cart-index .cart-totals .content .table-wrapper table.totals tbody tr th {
    width: 80%
  }
  body.multishipping-checkout-addresses .actions-toolbar .primary {
    margin-bottom: 20px
  }
  body .section-custom-after {
    padding-bottom: 30px
  }
  body .section-custom-after:after {
    display: none
  }
  body .testimonial-container .carousel_wrapper {
    position: relative;
    top: 0;
    padding-left: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 30px
  }
  body .testimonial-container .carousel_wrapper .title {
    background: none
  }
  body .testimonial-container .testimonials-carousel .testimonial-content {
    padding-top: 10px
  }
  body .testimonial-container .testimonials-carousel.owl-carousel.owl-theme .owl-dots {
    position: relative;
    top: 20px;
    margin-left: 0;
    bottom: 0
  }
  body .mgs-blog-lastest-posts .owl-carousel .item article .blog-desc {
    padding-left: calc(26% + 15px);
    padding-top: 40px;
    padding-bottom: 0;
    padding-right: 20px;
    min-height: 350px
  }
  body .mgs-blog-lastest-posts .owl-carousel .item article .blog-desc .read-more {
    margin-top: 0
  }
  body .sidebar .filter-title {
    position: relative
  }
  body .sidebar .filter-title:after {
    content: "\f196";
    font-family: 'FontAwesome';
    display: inline-block;
    font-size: 15px;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: #5d957b
  }
  body .sidebar .filter-title.show-block:after {
    content: "\f147"
  }
  body .sidebar .filter-title h4 {
    border-bottom: none
  }
  body .sidebar .filter-title h4 .counter {
    float: none;
    margin-left: 15px
  }
  body .sidebar .block>.filter-content {
    display: none
  }
  body .sidebar.sidebar-additional {
    display: none
  }
}

@media (max-width:767px) {
  body.checkout-cart-index .cart.actions .btn.btn-lg {
    padding: 10px 30px
  }
  body .banner-newsletter .box-text {
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%)
  }
  body.catalog-category-view .block.filter-one-column>.block-title {
    cursor: pointer
  }
  body.catalog-category-view .block.filter-one-column>.block-title h4 {
    position: relative;
    width: 100%
  }
  body.catalog-category-view .block.filter-one-column>.block-title h4:after {
    content: "\f196";
    font-family: 'FontAwesome';
    font-size: 15px;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    color: #2a2a2a;
    text-align: center
  }
  body.catalog-category-view .block.filter-one-column>.block-title.active h4:after {
    content: "\f147"
  }
  body.catalog-category-view .block.filter-one-column .filter-content {
    display: none
  }
  body .fotorama__stage {
    max-height: 780px
  }
  body.checkout-index-index .page-header {
    margin: 0;
    padding: 20px 15px;
    text-align: left
  }
  body.checkout-index-index .opc-progress-bar {
    display: none
  }
  body.checkout-index-index .opc-estimated-wrapper {
    display: block;
    padding: 20px 15px;
    margin: 0 -15px;
    background-color: #ececec;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd
  }
  body.checkout-index-index .opc-estimated-wrapper .estimated-block {
    display: inline-block
  }
  body.checkout-index-index .opc-estimated-wrapper .estimated-block .estimated-label {
    font-size: 18px;
    text-transform: uppercase;
    width: 100%;
    float: left;
    margin-bottom: 10px;
    color: #2a2a2a;
    line-height: 1
  }
  body.checkout-index-index .opc-estimated-wrapper .estimated-block .estimated-price {
    color: #5d957b;
    font-size: 18px
  }
  body.checkout-index-index .opc-estimated-wrapper .minicart-wrapper {
    display: inline-block;
    float: right;
    position: relative
  }
  body.checkout-index-index .opc-estimated-wrapper .minicart-wrapper .showcart {
    position: relative;
    background: none;
    border: none;
    padding: 0
  }
  body.checkout-index-index .opc-estimated-wrapper .minicart-wrapper .showcart .counter {
    width: 21px;
    height: 20px;
    background-color: #5d957b;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    position: absolute;
    top: -10px;
    right: 0;
    font-size: 12px
  }
  body.checkout-index-index .opc-estimated-wrapper .minicart-wrapper .showcart:before {
    content: "\e615";
    font-family: 'Pe-icon-7-stroke';
    line-height: 1;
    font-size: 40px;
    display: inline-block;
    margin-right: 5px;
    speak: none;
    color: #171717
  }
  body.checkout-index-index .opc-wrapper {
    width: 100%;
    padding: 10px 0 0
  }
  body.checkout-index-index .opc-wrapper .step-content .fieldset .field .field-tooltip .field-tooltip-content {
    top: calc(100% + 21px);
    left: auto;
    right: 0
  }
  body.checkout-index-index .opc-wrapper .step-content .fieldset .field .field-tooltip .field-tooltip-content:before {
    left: auto;
    right: 10px;
    top: -21px;
    border-right-color: transparent !important;
    border-bottom-color: #f4f4f4
  }
  body.checkout-index-index .opc-wrapper .step-content .fieldset .field .field-tooltip .field-tooltip-content:after {
    display: none
  }
  body.checkout-index-index .authentication-wrapper {
    position: relative;
    margin-top: -65px;
    float: right;
    z-index: 1
  }
  body.checkout-index-index .authentication-wrapper .aside.authentication-dropdown {
    background: none;
    display: block;
    border: none
  }
  body.checkout-index-index .opc-sidebar {
    margin: 0;
    width: auto;
    float: none
  }
  body.checkout-index-index .opc-sidebar .modal-inner-wrap {
    position: relative
  }
  body.checkout-index-index .opc-sidebar .modal-header {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9
  }
  body.checkout-index-index .opc-sidebar .modal-header .action-close {
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    background: none;
    border: none
  }
  body.checkout-index-index .opc-sidebar .modal-header .action-close span {
    display: none
  }
  body.checkout-index-index .opc-sidebar .modal-header .action-close:before {
    content: "\e680";
    font-family: 'Pe-icon-7-stroke';
    speak: none;
    line-height: 40px;
    font-size: 30px;
    color: #2a2a2a;
    display: block
  }
  body.checkout-index-index .opc-sidebar .modal-content .opc-block-summary {
    padding: none;
    border: none;
    padding: 0;
    margin: 0 0 20px
  }
  body.checkout-index-index .opc-sidebar .modal-content .opc-block-summary>div>div .title {
    padding: 0
  }
  body.checkout-index-index .opc-sidebar .modal-content .opc-block-summary .table-totals {
    margin-bottom: 0
  }
  body._has_modal-custom .modal-custom-overlay {
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 899;
    background-color: rgba(51, 51, 51, 0.55)
  }
  body .custom-slide {
    position: fixed !important;
    bottom: 0 !important;
    left: 0 !important;
    min-width: 0;
    right: 0 !important;
    top: 0 !important;
    left: 44px !important;
    z-index: 900 !important;
    visibility: hidden !important;
    width: auto !important;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important
  }
  body .custom-slide .modal-inner-wrap {
    height: auto;
    min-height: 100%;
    padding: 25px;
    width: auto;
    background-color: #fff;
    border-left: 1px solid #ddd;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    transition: all .3s ease-in-out 0s;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s
  }
  body .custom-slide._show {
    visibility: visible !important;
    overflow-x: hidden;
    overflow-y: auto
  }
  body .custom-slide._show .modal-inner-wrap {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0)
  }
  body .products-list .product-content .product-desc .product-name {
    margin-top: 20px
  }
  body .bundle-options-container .bundle-options-wrapper,
  body .bundle-options-container .block-bundle-summary {
    width: 100%
  }
  body .bundle-options-container .bundle-options-wrapper {
    margin-bottom: 20px
  }
  body .navigation-top-right .owl-theme.owl-carousel .owl-controls .owl-nav [class*=owl-] {
    right: 0
  }
  body .navigation-top-right .owl-theme.owl-carousel .owl-controls .owl-nav .owl-prev {
    left: auto
  }
}

@media (max-width:670px) {
  body .lookbook-carousel .box-text {
    display: none
  }
  body.multishipping-checkout-shipping .actions-toolbar {
    text-align: center;
    width: 100%
  }
  body.multishipping-checkout-shipping .actions-toolbar .primary .btn {
    width: 100%
  }
  body.multishipping-checkout-shipping #shipping_method_form .block .block-content .box {
    width: 100%;
    margin-bottom: 30px
  }
  body.multishipping-checkout-shipping #shipping_method_form .block .block-content .box.box-shipping-method {
    width: 100%;
    padding: 0
  }
  body.multishipping-checkout-shipping #shipping_method_form .block .block-content .box.box-items .table thead tr th {
    display: none
  }
  body.multishipping-checkout-shipping #shipping_method_form .block .block-content .box.box-items .table tbody {
    display: block
  }
  body.multishipping-checkout-shipping #shipping_method_form .block .block-content .box.box-items .table tbody tr {
    display: block
  }
  body.multishipping-checkout-shipping #shipping_method_form .block .block-content .box.box-items .table tbody tr td {
    display: block;
    padding: 5px 10px;
    border: none
  }
  body.multishipping-checkout-shipping #shipping_method_form .block .block-content .box.box-items .table tbody tr td:before {
    content: attr(data-th) ": ";
    display: inline-block;
    color: #2a2a2a;
    text-transform: uppercase
  }
  body.multishipping-checkout-shipping #shipping_method_form .block .block-content .box.box-items .table tbody tr td:first-child {
    padding-top: 15px
  }
  body.multishipping-checkout-shipping #shipping_method_form .block .block-content .box.box-items .table tbody tr td:last-child {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px
  }
}

@media (max-width:620px) {
  body.multishipping-checkout-billing .actions-toolbar {
    text-align: center;
    width: 100%
  }
  body.multishipping-checkout-billing .actions-toolbar .primary .btn {
    width: 100%
  }
  body.multishipping-checkout-addresses .actions-toolbar .btn {
    width: 100%;
    margin-bottom: 20px
  }
  body.multishipping-checkout-addresses .actions-toolbar .primary {
    margin: 10px
  }
  body.multishipping-checkout-addresses #multiship-addresses-table thead tr th {
    display: none
  }
  body.multishipping-checkout-addresses #multiship-addresses-table tbody {
    display: block
  }
  body.multishipping-checkout-addresses #multiship-addresses-table tbody tr {
    display: block
  }
  body.multishipping-checkout-addresses #multiship-addresses-table tbody tr td {
    display: block;
    text-align: left;
    padding: 5px 10px
  }
  body.multishipping-checkout-addresses #multiship-addresses-table tbody tr td:before {
    content: attr(data-th) ": ";
    display: inline-block;
    padding-right: 10px;
    color: #2a2a2a;
    text-transform: uppercase;
    float: left
  }
  body.multishipping-checkout-addresses #multiship-addresses-table tbody tr td.product .product-name {
    margin: 0 0 10px
  }
  body.multishipping-checkout-addresses #multiship-addresses-table tbody tr td.qty {
    text-align: left
  }
  body.multishipping-checkout-addresses #multiship-addresses-table tbody tr td:first-child {
    padding-top: 15px
  }
  body.multishipping-checkout-addresses #multiship-addresses-table tbody tr td:last-child {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px
  }
  
  .checkout-cart-index #shopping-cart-table thead tr th{width:20%;}
/*
  body.checkout-cart-index #shopping-cart-table {
    border: none;
    margin: 0
  }
  body.checkout-cart-index #shopping-cart-table thead tr th {
    display: none
  }
  body.checkout-cart-index #shopping-cart-table tbody tr {
    border-bottom: 1px solid #ddd;
    float: left;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px
  }
  body.checkout-cart-index #shopping-cart-table tbody tr td {
    display: block;
    width: 100%;
    float: left;
    padding: 10px 0;
    text-align: left;
    border: none
  }
  body.checkout-cart-index #shopping-cart-table tbody tr td:before {
    content: attr(data-th) ": ";
    display: inline-block;
    float: left;
    font-size: 13px;
    color: #2a2a2a;
    text-transform: uppercase;
    font-family: 'Oswald';
    width: 140px;
    text-align: left;
    padding: 0 10px;
    font-weight: 400
  }
  body.checkout-cart-index #shopping-cart-table tbody tr td.item {
    width: 120px;
    float: left;
    margin-right: 20px
  }
  body.checkout-cart-index #shopping-cart-table tbody tr td.item:before {
    display: none
  }
  body.checkout-cart-index #shopping-cart-table tbody tr td.product-info {
    width: calc(100% - 140px)
  }
  body.checkout-cart-index #shopping-cart-table tbody tr td.product-info:before {
    display: none
  }
  body.checkout-cart-index #shopping-cart-table tbody tr td.qty {
    float: left;
    width: 100%
  }
  body.checkout-cart-index #shopping-cart-table tbody tr td.qty .field {
    text-align: left;
    float: left;
    margin-right: 10px
  }
  body.checkout-cart-index #shopping-cart-table tbody tr td.qty .field input {
    margin-bottom: 0
  }
  body.checkout-cart-index #shopping-cart-table tbody tr td.qty .action-delete {
    margin-top: 0
  }
  body.checkout-cart-index #shopping-cart-table tbody tr td.qty .actions-toolbar {
    float: left;
    width: 100%;
    padding: 0 10px
  }
  body.checkout-cart-index #shopping-cart-table tbody tr td.qty .actions-toolbar .gift-options-cart-item .gift-content {
    max-width: 100%
  }
  body.checkout-cart-index #shopping-cart-table tbody tr td.qty .actions-toolbar .gift-options-cart-item .gift-content .field {
    width: 100%
  }
  body.checkout-cart-index #shopping-cart-table tbody tr td:last-child {
    padding-bottom: 10px
  }
  body.checkout-cart-index .cart.actions {
    text-align: center;
    border-top: 1px solid #ddd;
    float: left;
    width: 100%;
    padding-top: 20px
  }
  body.checkout-cart-index .cart.actions .btn {
    width: 100%;
    float: left;
    margin: 0 0 20px
  }
  body.checkout-cart-index .checkout-extra {
    border: none;
    min-height: auto;
    margin-bottom: 30px
  }
  body.checkout-cart-index .checkout-extra .block .block-title {
    width: 100%;
    float: left;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd
  }
  body.checkout-cart-index .checkout-extra .block .block-title h3:after {
    content: "\e688";
    font-family: 'Pe-icon-7-stroke';
    speak: none;
    font-size: 30px;
    line-height: 0;
    position: absolute;
    right: 0;
    top: 50%;
    color: #5e5e5e
  }
  body.checkout-cart-index .checkout-extra .block .block-title.active,
  body.checkout-cart-index .checkout-extra .block .block-title:hover {
    border-color: #5d957b
  }
  body.checkout-cart-index .checkout-extra .block .block-title.active h3:after,
  body.checkout-cart-index .checkout-extra .block .block-title:hover h3:after {
    content: "\e682";
    color: #fff
  }
  body.checkout-cart-index .checkout-extra .block:first-child .block-title h3 {
    margin: 0
  }
  body.checkout-cart-index .checkout-extra .block>.content {
    position: relative;
    margin: 0;
    float: left;
    width: 100%;
    border-right: 1px solid #ddd;
    min-height: auto;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px
  }
*/
}

@media (max-width:600px) {
  body .mgs-product-tab .nav-tabs li {
    width: 100%;
    margin-bottom: -1px
  }
  body .mgs-product-tab .nav-tabs li a {
    padding: 20px !important;
    text-align: left;
    width: 100%;
    border: 1px solid #3b3b3b !important
  }
  body .mgs-product-tab.border-title .tab-attribute {
    margin: 0;
    width: 100%
  }
  body .mgs-product-tab.border-title .tab-attribute ul {
    width: 100%
  }
  body .mgs-product-tab.border-title .tab-attribute ul:after {
    display: none
  }
  body .mgs-product-tab.navigation-top-right .owl-theme.owl-carousel .owl-controls .owl-nav [class*=owl-] {
    top: 27%
  }
  body .mgs-product-tab.navigation-top-right .owl-theme.owl-carousel .owl-controls .owl-nav .owl-prev {
    right: auto !important;
    left: 0
  }
  body .toolbar .modes {
    margin-right: 20px;
    margin-bottom: 10px
  }
  body .toolbar .sorter {
    margin-right: 0
  }
  body .toolbar .limiter select {
    width: 70px
  }
}

@media (max-width:570px) {
  body .block.filter.filter-one-column .filter-options .form-group {
    width: 100%
  }
  body .banner-carousel .box-style1 .box-text,
  body .banner-carousel .box-style3 .box-text {
    padding-left: 30px;
    padding-right: 30px
  }
  body .mgs-blog-lastest-posts .owl-carousel .item article .blog-desc {
    min-height: 350px
  }
}

@media (max-width:576px) {
  body.checkout-cart-index #shopping-cart-table {
    border: none;
    margin: 0
  }
  body.checkout-cart-index #shopping-cart-table thead tr th {
    display: none
  }
  body.checkout-cart-index #shopping-cart-table tbody tr {
    border-bottom: 1px solid #ddd;
    float: left;
    width: 100%; height:300px; overflow:hidden;
    padding-bottom: 20px;
    padding-top: 20px
  }
  body.checkout-cart-index #shopping-cart-table tbody tr td {
    display: block;
    width: 100%;
    float: left;
    padding: 5px 0!important;
    text-align: left;
    border: none
  }
  .checkout-cart-index #shopping-cart-table tbody tr td.qty .field .control .input-text{height:34px; width:38px;}
  body.checkout-cart-index #shopping-cart-table tbody tr td:before {
    content: attr(data-th) ": ";
    display: inline-block;
    float: left;
    font-size: 12px;
    color: #2a2a2a;
    text-transform: uppercase;
    font-family: 'Oswald';
    width: 65px!important;
    text-align: left;
    padding: 0 10px;
    font-weight: 400
  }
  body.checkout-cart-index #shopping-cart-table tbody tr td.item {
    width: 120px;
    float: left;
    margin-right: 20px
  }
  body.checkout-cart-index #shopping-cart-table tbody tr td.item:before {
    display: none
  }
  body.checkout-cart-index #shopping-cart-table tbody tr td.product-info {
    width: 100%!important;
  }
  body.checkout-cart-index #shopping-cart-table tbody tr td.product-info:before {
    display: none
  }
  body.checkout-cart-index #shopping-cart-table tbody tr td.qty {
    float: left;
    width: 100%
  }
  body.checkout-cart-index #shopping-cart-table tbody tr td.qty .field {
    text-align: left;
    float: left;
    margin-right:0px
  }
  body.checkout-cart-index #shopping-cart-table tbody tr td.qty .field input {
    margin-bottom: 0
  }
  body.checkout-cart-index #shopping-cart-table tbody tr td.qty .action-delete {
    margin-top: 0
  }
  body.checkout-cart-index #shopping-cart-table tbody tr td.qty .actions-toolbar {
    float: left;
    width: 100%;
    padding: 0 3px
  }
  body.checkout-cart-index #shopping-cart-table tbody tr td.qty .actions-toolbar .gift-options-cart-item .gift-content {
    max-width: 100%
  }
  body.checkout-cart-index #shopping-cart-table tbody tr td.qty .actions-toolbar .gift-options-cart-item .gift-content .field {
    width: 100%
  }
  body.checkout-cart-index #shopping-cart-table tbody tr td:last-child {
    padding-bottom: 10px
  }
  body.checkout-cart-index .cart.actions {
    text-align: center;
    border-top: 1px solid #ddd;
    float: left;
    width: 100%;
    padding-top: 7px; padding-bottom:0px;
    margin-top:18px;
  }
  body.checkout-cart-index .cart.actions .btn {
    width: 100%;
    float: left;
    margin: 0 0 20px
  }
  body.checkout-cart-index .checkout-extra {
    border: none;
    min-height: auto;
    margin-bottom: 30px
  }
  body.checkout-cart-index .checkout-extra .block .block-title {
    width: 100%;
    float: left;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd
  }
  body.checkout-cart-index .checkout-extra .block .block-title h3:after {
    content: "\e688";
    font-family: 'Pe-icon-7-stroke';
    speak: none;
    font-size: 30px;
    line-height: 0;
    position: absolute;
    right: 0;
    top: 50%;
    color: #5e5e5e
  }
  body.checkout-cart-index .checkout-extra .block .block-title.active,
  body.checkout-cart-index .checkout-extra .block .block-title:hover {
    border-color: #5d957b
  }
  body.checkout-cart-index .checkout-extra .block .block-title.active h3:after,
  body.checkout-cart-index .checkout-extra .block .block-title:hover h3:after {
    content: "\e682";
    color: #fff
  }
  body.checkout-cart-index .checkout-extra .block:first-child .block-title h3 {
    margin: 0
  }
  body.checkout-cart-index .checkout-extra .block>.content {
    position: relative;
    margin: 0;
    float: left;
    width: 100%;
    border-right: 1px solid #ddd;
    min-height: auto;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px
  }
  body.checkout-cart-index #shopping-cart-table tbody{float:left; width:calc(50% - 5px); border:1px solid #ddd; border-bottom:none; margin-bottom:10px;}
  body.checkout-cart-index #shopping-cart-table tbody:nth-child(odd){margin-right:5px;}
  body.checkout-cart-index #shopping-cart-table tbody:nth-child(even){margin-left:5px;}
  body.checkout-cart-index #shopping-cart-table tbody tr td.qty .field .control .input-text{width: 38px;}
  .product-item-name a{font-size:12px!important;}
}

@media (max-width:480px) {
  body .banner-newsletter .box-text {
    width: 100%;
    left: 10px;
    padding-right: 20px
  }
  body .banner-newsletter .box-text .h2,
  body .banner-newsletter .box-text p {
    display: none
  }
  body .banner-newsletter .box-text .block-newsletter {
    width: 100%
  }
  body .banner-newsletter .box-text .block-newsletter .actions .btn:before {
    content: "\f1d8";
    font-family: 'FontAwesome';
    display: inline-block;
    font-size: 16px;
    color: #fff
  }
  body .banner-newsletter .box-text .block-newsletter .actions .btn span {
    display: none
  }
  body .block-hot-trendy .box-text .h5 {
    font-size: 15px !important
  }
  body .block-hot-trendy .box-text .h2 {
    font-size: 20px !important
  }
  body .products-grid .product-content .product-desc .hover-hidden {
    opacity: 0;
    visibility: visible;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%)
  }
  body .products-grid .product-content .product-desc .controls .controls-hover {
    opacity: 1;
    visibility: visible;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%)
  }
  body .products-grid .product-content .product-desc .controls .controls-hover .btn:first-child,
  body .products-grid .product-content .product-desc .controls .controls-hover .btn:last-child {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0)
  }
  body .products-grid .product-content .product-desc .controls .controls-hover .btn.tocart {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1)
  }
  body .bundle-options-container .block-bundle-summary .bundle-info .col-xs-4,
  body .bundle-options-container .block-bundle-summary .bundle-info .col-xs-8 {
    width: 100%
  }
  body .bundle-options-container .block-bundle-summary .bundle-info .product-image {
    text-align: center;
    margin-bottom: 20px
  }
  body .bundle-options-container .block-bundle-summary .bundle-info .product-image img {
    max-width: 235px
  }
  body .products-grid .product-content .product-desc .controls .controls-hover .btn {
    opacity: 1;
    visibility: visible;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none
  }
  body .product-list-block .product-content .product-desc .controls .controls-hover {
    text-align: left
  }
  body .product-view-tabs .items .item.title {
    width: 100%
  }
  body .product-view-tabs .items .item.title a {
    border: 1px solid #ececec;
    margin-bottom: -1px;
    padding: 15px
  }
  body .product-view-tabs .items .item.content {
    float: left;
    margin-bottom: -1px
  }
  body .review-add .review-field-nickname,
  body .review-add .review-field-summary,
  body .review-add .review-field-text {
    display: block !important
  }
  body .review-add .review-field-nickname .label,
  body .review-add .review-field-summary .label,
  body .review-add .review-field-text .label {
    margin-bottom: 10px
  }
  body .review-add .review-field-nickname .control,
  body .review-add .review-field-summary .control,
  body .review-add .review-field-text .control {
    width: 100% !important
  }
}

@media (max-width:420px) {
  body.catalog-category-view .products-grid.list li.item.col-xs-6 {
    width: 100%;
    clear: left
  }
  body.brand-list.brand-index-index .shop-by-brand .search #search_brand_form .fields {
    width: 100%;
    margin: 0
  }
  body .testimonial-container .testimonials-carousel .testimonial-item .testimonial-author {
    width: 100px
  }
  body .testimonial-container .testimonials-carousel .testimonial-content {
    width: calc(100% - 120px);
    padding-top: 0
  }
  body .additional-attributes-wrapper .table {
    border: none;
    margin-bottom: 0
  }
  body .additional-attributes-wrapper .table tbody tr th {
    display: none
  }
  body .additional-attributes-wrapper .table tbody tr td {
    border: none;
    background: none !important;
    padding: 10px 0
  }
  body .additional-attributes-wrapper .table tbody tr td:before {
    content: attr(data-th) ": ";
    width: 140px;
    display: inline-block;
    float: left;
    color: #2a2a2a;
    font-weight: bold;
    font-size: 15px;
    padding: 8px 0
  }
  body .banner-carousel .box-text,
  body .banner-carousel .box-border {
    display: none
  }
  body .lookbook-carousel .box-text {
    display: none
  }
  body .newsletter-home {
    width: 100%
  }
  body .newsletter-home .block-newsletter {
    width: 100%
  }
  body .newsletter-home .block-newsletter .actions .btn span {
    display: none
  }
  body .newsletter-home .block-newsletter .actions .btn:before {
    content: "\f1d8";
    font-family: 'FontAwesome';
    font-size: 16px;
    display: inline-block;
    color: #fff
  }
}

@media (max-width:375px) {
  body .testimonial-container .testimonials-carousel .testimonial-item .testimonial-author {
    width: 100%;
    text-align: center
  }
  body .testimonial-container .testimonials-carousel .testimonial-item .testimonial-author img {
    margin: 0 auto;
    border-radius: 6px
  }
  body .testimonial-container .testimonials-carousel .testimonial-item .testimonial-content {
    margin-top: 20px;
    text-align: center;
    width: 100%
  }
  body .box-tocart .edit-qty {
    width: 45px
  }
  body .box-tocart .field.qty .qty {
    width: calc(100% - 143px)
  }
  body .product-view-info .actions .product-addto-links {
    float: left;
    width: 100%;
    margin-top: 10px
  }
  body .bundle-options-container .block-bundle-summary .bundle-info .box-tocart .edit-qty {
    width: 45px
  }
  body .bundle-options-container .block-bundle-summary .bundle-info .box-tocart .fied.qty .qty {
    width: calc(100 - 143px)
  }
  body .bundle-options-container .block-bundle-summary .bundle-info .box-tocart .actions .product-addto-links {
    float: left;
    margin-top: 20px;
    width: 100%
  }
}

@media (max-width:767px) {
  .contact-index-index .map-container .store-information {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    max-width: 100%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    position: static;
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px)
  }
}

@media (min-width:992px) {
  header .header-v2 .top-content .account-link {
    display: block !important
  }
  header .header-v2 .top-content .account-link .dropdown-menu {
    display: block !important;
    position: static;
    border: none;
    background: none;
    box-shadow: none;
    float: right;
    padding: 2px 0
  }
  header .header-v2 .top-content .account-link .dropdown-menu ul {
    display: table
  }
  header .header-v2 .top-content .account-link .dropdown-menu ul li {
    float: left;
    text-transform: uppercase;
    font-size: 12px;
    padding: 13px 0
  }
  header .header-v2 .top-content .account-link .dropdown-menu ul li>a {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0 16px;
    color: #fff
  }
  header .header-v2 .top-content .account-link .dropdown-menu ul li>a:hover {
    color: #333333
  }
  header .header-v2 .top-content .account-link .dropdown-menu ul li:first-child>a {
    padding-left: 0
  }
  header .header-v2 .top-content .account-link .dropdown-menu ul li:last-child>a {
    border: none;
    padding-right: 0
  }
  header .header-v2 .top-content .dropdown>.dropdown-menu {
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -o-transform: translateY(20px);
    transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    -moz-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    display: block;
    opacity: 0;
    visibility: hidden
  }
  header .header-v2 .top-content .dropdown:hover .dropdown-menu {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    opacity: 1;
    visibility: visible
  }
  header .header-v2 .menu-pt .nav-main-collapse .navigation {
    position: relative
  }
  header .header-v2 .menu-pt .nav-main-collapse .navigation ul.nav-main {
    height: auto !important;
    overflow: visible !important
  }
  header .header-v2 .menu-pt .nav-main-collapse .navigation ul.nav-main>li {
    padding: 17px 0 27px
  }
  header .header-v2 .menu-pt .nav-main-collapse .navigation ul.nav-main>li>a {
    padding: 10px 25px
  }
  header .header-v2 .menu-pt .nav-main-collapse .navigation ul.nav-main>li.mega-menu-fullwidth>ul.dropdown-menu {
    left: 0 !important;
    right: 0 !important
  }
  header .header-v2 .menu-pt .nav-main-collapse .navigation ul.nav-main>li>a.level0:before {
    bottom: 3px !important
  }
}

@media (max-width:991px) {
  header .header-v2 .account-link {
    display: block !important;
    position: relative;
    float: right
  }
  header .header-v2 .account-link .dropdown-toggle {
    background: none;
    border: none;
    box-shadow: none;
    margin: 0;
    color: #fff;
    padding: 11px 17px 12px 0;
    position: relative
  }
  header .header-v2 .account-link .dropdown-toggle span {
    margin-right: 8px
  }
  header .header-v2 .account-link .dropdown-toggle:after {
    position: absolute;
    font-family: "FontAwesome";
    font-family: 12px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    right: 0;
    content: "\f107"
  }
  header .header-v2 .account-link .dropdown-menu.h6 {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    right: 0;
    left: auto;
    display: none
  }
  header .header-v2 .account-link .dropdown-menu li {
    padding: 7px 10px
  }
  header .header-v2 .account-link.open .dropdown-menu.h6 {
    display: block
  }
}

@media (min-width:768px) and (max-width:991px) {
  header .header-v2 .block-cart-header {
    margin-right: 50px
  }
  header .header-v2 .block-cart-header .action.showcart {
    padding-top: 50px;
    padding-bottom: 45px
  }
  header .header-v2 .menu-content .menu-pt {
    position: relative
  }
  header .header-v2 .menu-content .menu-pt .btn-responsive-nav {
    bottom: 100%;
    position: absolute;
    right: 0;
    padding: 47px 0 47px 15px
  }
  header .header-v2 .menu-content .menu-pt .btn-responsive-nav:before {
    height: 21px;
    margin-top: -10.5px;
    left: 0;
    right: auto
  }
  header .header-v2 .logo-block .logo {
    padding: 45px 0
  }
  header .header-v2 .top-search-mini .form-search {
    padding-top: 45px
  }
  header .header-v2 .header-wl {
    padding-top: 50px;
    padding-bottom: 45px
  }
}

@media (min-width:768px) {
  header .header-v2 .top-search-mini {
    display: block !important
  }
}

@media (max-width:767px) {
  header .header-v2 .top-search-mini {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    box-shadow: 1px 0 3px #ddd;
    left: 15px;
    padding: 0;
    position: absolute;
    right: 15px;
    top: 0;
    z-index: 99;
    display: none
  }
  header .header-v2 .top-search-mini .form-search {
    padding-top: 0
  }
  header .header-v2 .top-search-mini .form-search .input-text {
    padding-left: 15px;
    height: 45px
  }
  header .header-v2 .top-search-mini .form-search .button {
    height: 45px
  }
  header .header-v2 .logo-block .logo {
    padding-bottom: 5px;
    padding-top: 25px
  }
  header .header-v2 .header-wl {
    padding-top: 20px
  }
  header .header-v2 .block-cart-header .action.showcart {
    padding-top: 20px;
    padding-bottom: 27px
  }
  header .header-v2 .menu-pt {
    position: relative
  }
  header .header-v2 .menu-pt .btn-responsive-nav {
    bottom: 100%;
    left: 0;
    padding-bottom: 25px;
    padding-left: 0;
    padding-top: 0;
    position: absolute;
    top: auto
  }
  header .header-v2 .menu-pt .btn-responsive-nav:before {
    content: none
  }
  header .header-v2 .account-link .dropdown-toggle {
    padding-right: 8px;
    padding-bottom: 13px;
    padding-top: 13px
  }
  header .header-v2 .account-link .dropdown-toggle .icon {
    font-size: 16px
  }
  header .header-v2 #mini-search-mobile {
    padding: 11px 17px 8px 0
  }
}

@media (min-width:992px) {
  body .first-row-item,
  body .row-2 .row-2-first,
  body .row-3 .row-3-first,
  body .row-4 .row-4-first,
  body .row-5 .row-5-first,
  body .row-6 .row-6-first,
  body .row-7 .row-7-first,
  body .row-8 .row-8-first {
    clear: left
  }
  body .col-md-custom-5 {
    width: 20%
  }
}

@media only screen and (max-width:991px) and (min-width:768px) {
  body .row-2sm-first,
  body .row-sm-first {
    clear: left
  }
  body .col-sm-custom-5 {
    width: 20%
  }
}

@media only screen and (max-width:767px) {
  body .row-2xs-first {
    clear: left
  }
  body .row-2-first,
  body .row-xs-first {
    clear: left
  }
}

@media (min-width:500px) and (max-width:767px) {
  body .row-half-first {
    clear: left
  }
  body .col-xs-half {
    width: 50%
  }
  body .hidden-xs-half {
    display: none !important
  }
  body .visible-xs-half {
    display: block !important
  }
}