<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * @var $block \Magento\Reports\Block\Product\Viewed
 */
?>
<?php
if ($exist = ($block->getRecentlyViewedProducts() && $block->getRecentlyViewedProducts()->getSize())) {
    $type = 'widget-viewed';
    $mode = 'list';

    $type = $type . '-' . $mode;

    $image = 'recently_viewed_products_list_content_widget';
    $title = __('Recently Viewed');
    $items = $block->getRecentlyViewedProducts();
    $_helper = $this->helper('Magento\Catalog\Helper\Output');

    $showWishlist = true;
    $showCompare = true;
    $showCart = true;
    $rating = 'short';
    $description = ($mode == 'list') ? true : false;
}
?>


<?php /*****************************************************************/ ?>

<?php if ($exist):?>
 <div class="block-title title similar-title">
        <strong id="block-<?php //echo $class?>-heading" role="heading" aria-level="2">Recently Viewed</strong>
</div>

  <div id="full1" class="carousel slide similarproduct" data-ride="carousel1">
  <div class="carousel-inner">
   <?php
   $i=1; $inc=1;
   foreach ($items as $_item): ?>



                    <?php if($i==1): ?>

                    <ul class="row item <?php echo ($i==1 && $inc==1)?'active':''; ?>">

                    <?php endif; ?>
                     <li class="col-xs-6 col-sm-4 col-lg-2 thumbnailli">

                        <div class="block-text rel zmin <?php echo 'custom_carasoul_cls'.$i; ?>">

                        <p><a title="" href="<?php echo $block->getProductUrl($_item) ?>"><?php echo $block->getImage($_item, $image)->toHtml(); ?></a></p>
                         <a title="" href="<?php echo $block->getProductUrl($_item) ?>"><?php echo $block->escapeHtml($_item->getName()); ?></a>
                        <div class="person-text rel">
                          <i><?php echo $block->getProductPrice($_item); ?></i>
                        </div>
                        <div>
                         <?php if ($_item->isSaleable()): ?>
                                                    <?php if ($_item->getTypeInstance()->hasRequiredOptions($_item)): ?>
                                                        <button class="action tocart primary"
                                                                data-mage-init='{"redirectUrl": {"url": "<?php  echo $block->getAddToCartUrl($_item) ?>"}}'
                                                                type="button" title="<?php  echo __('Add to Cart') ?>">
                                                            <span>Add to Cart<i class="fa fa-cart-plus"></i></span>
                                                        </button>
                                                    <?php else: ?>
                                                        <?php
                                                            $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
                                                            $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()]);
                                                        ?>
                                                        <button class="action tocart primary"
                                                                data-post='<?php  echo $postData; ?>'
                                                                type="button" title="<?php  echo __('Add to Cart') ?>">
                                                            <span>Add to Cart<i class="fa fa-cart-plus"></i></span>
                                                        </button>
                                                        <?php endif; ?>
                                                          <?php endif; ?>
                        </div>

                      </div>

                     </li>



                <?php if($i%6==0){
                      echo '</ul>';
                      $i=0;
                  }
                  $i++; $inc++; ?>
                <?php  endforeach; ?>

</div>
<?php if(count($items)>6): ?>
<a class="carousel-control left" href="#full1" data-slide="prev">Previous</a> <a class="carousel-control right" href="#full1" data-slide="next">Next</a>
<?php endif; ?>
 </div>

<?php endif; ?>
