<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list toolbar
 *
 * @var $block \Magento\Catalog\Block\Product\ProductList\Toolbar
 */
use Magento\Catalog\Model\Product\ProductList\Toolbar;
?>
<?php /*
<div class="toolbar-sorter sorter">
    <label class="sorter-label" for="sorter"><?php  echo __('Sort By: ') ?></label>
    <select id="sorter" data-role="sorter" class="sorter-options">
        <?php foreach ($block->getAvailableOrders() as $_key => $_order): ?>
            <option value="<?php  echo $_key; ?>"
                <?php if ($block->isOrderCurrent($_key)): ?>
                    selected="selected"
                <?php endif; ?>
                >
                <?php echo $block->escapeHtml(__($_order)) ?>
            </option>
        <?php endforeach; ?>
    </select>
    <?php if ($block->getCurrentDirection() == 'desc'): ?>
        <a title="<?php  echo __('Set Ascending Direction') ?>" href="#" class="action sorter-action sort-desc" data-role="direction-switcher" data-value="asc">
            <span><i class="fa fa-long-arrow-up"></i></span>
        </a>
    <?php else: ?>
        <a title="<?php  echo __('Set Descending Direction') ?>" href="#" class="action sorter-action sort-asc" data-role="direction-switcher" data-value="desc">
            <span><i class="fa fa-long-arrow-down"></i></span>
        </a>
    <?php endif; ?>
</div> */?>



           
            <div class="toolbar-sorter sorter">
               <label class="sorter-label" for="sorter">Sort By: </label>
               <select id="custom_sorter" data-role="customsorter" class="custom-sorter-options" >
                  <option value="position" <?php echo (@$_REQUEST['product_list_order']=='position')?' selected="selected"':''; ?>>Select</option>
                  <option value="lowprice"<?php echo (@$_REQUEST['product_list_order']=='price')?' selected="selected"':''; ?>>Price per item: Low-High</option>
                  <option value="highprice"<?php echo (@$_REQUEST['product_list_order']=='price' && @$_REQUEST['product_list_dir']=='desc')?' selected="selected"':''; ?>>Price per item: High-Low</option>
                  <option value="new"<?php echo (@$_REQUEST['product_list_order']=='new')?' selected="selected"':''; ?>>Newest Arrivals</option>
                  <option value="most_popular"<?php echo (@$_REQUEST['product_list_order']=='most_popular')?' selected="selected"':''; ?>>Most Popular</option>
               </select>
            </div>
      

