<?php $block = $this->getBlock() ?>
<!-- <div class="container">
    <div class="col-sm-3">
         <h2 class="quick-link-title">Quick Links</h2>
        <ul class="footer-nav">
          <li><a href="">About Us</a></li>
          <li><a href="">Customer service</a></li>
          <li><a href="">Customer service</a></li>
        </ul>
    </div>

    <div class="col-sm-3">
         <h2 class="quick-link-title">Quick Links</h2>
        <ul class="footer-nav">
          <li><a href="">About Us</a></li>
          <li><a href="">Customer service</a></li>
          <li><a href="">Customer service</a></li>
        </ul>
    </div>
     <div class="col-sm-3">
        <h2 class="quick-link-title">Quick Links</h2>
        <ul class="footer-nav">
          <li><a href="">About Us</a></li>
          <li><a href="">Customer service</a></li>
         <li><a href="">Customer service</a></li>
        </ul>
    </div>
     <div class="col-sm-3">
        <div class="newsletter-sec clearfix">
            <h2 class="quick-link-title">Newsletter</h2>
            <form class="clearfix">
                <div class="form-group">
                    <input type="text" class="form-control" name="">
                </div>
                <div class="form-group">
                   <button class="btn btn-subscribe" type="button">Subscribe</button>
                </div>
            </form>
        </div>
        <div class="social-icons clearfix">
            <label>Follow us : </label>
            <ul>
              <li><a class="fb_ic" href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a class="ttr_ic" href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a class="prnt_ic" href=""><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="footer-copyright  text-center clearfix">
    copyright by H&C 2018 - All Right reserved
</div> -->

<footer id="site-footer" class="site-footer" role="contentinfo">
    
    <div class="footer-links">
        <div class="footer_inner">
            <div class="row">
                <?php //echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_row_links')->toHtml(); ?>
                  <div class="newsletter_section col-sm-8">
                  <span class="footer-contact-link-text">Connect with us</span>
                  <?php echo $this->getLayout()->createBlock("Magento\Newsletter\Block\Subscribe")->setTemplate("Magento_Newsletter::subscribe-home.phtml")->toHtml();?></div>

                <div class="col-sm-4 footer-social-media">
                <ul class="follow-links">
                      
                      <li class="facebook"><a target="_blank" href="https://www.facebook.com/TheHomeAndComp"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                      <li class="twitter"><a target="_blank" href="https://twitter.com/TheHomeandCo"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                      <li class="instagram"><a target="_blank" href="https://www.instagram.com/thehomeandcompany/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                     <!--  <li class="pinterest"><a href="javascript:"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li> -->
                     <!--  <li class="twitter"><a href="javascript:"><i class="fa fa-google" aria-hidden="true"></i></a></li> -->

                   </ul>
                </div>
            </div>
        </div>
   </div>

    <ul class="footer-quick-links-list">
        <li>
            <h3>
                <div class="footer_col" id="footer-contact-link" href="">
                    <span class="span-icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                    <span class="footer-contact-link-text">
                        Contact Us
                    </span>
                </div>
            </h3>
          
               <!--  We're available 24/7 to serve your needs.
                    <span>Send us an </span>
                    <a href="/customer-service/contact-us">email</a>, or call<br>
                    <span class="no-wrap">
                        (00+1) 630.369.4464.
                    </span> -->
              <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer-column-1')->toHtml(); ?>
              <div style="clear:both"></div>
              <?php /*
              <div class="payment-mode">
              <div class="pay_option">Payment Options</div>
              <?php $pub_media_url = $this -> getUrl('pub/media/images');
                   $master_img=$pub_media_url.'mastercard.png';
                   $visa_img=$pub_media_url.'visa.png';
                   $rupay_img=$pub_media_url.'indian-rupia.png';
                ?>

                <span class="price-icon"><img src="<?php echo $master_img; ?>" /></span>
                <span class="price-icon"><img src="<?php echo $visa_img; ?>" /></span>
              </div>
              */ ?>

        </li>
   <!--      <li>
            <h3>
                <div class="footer_col" id="footer-order-tracking-link" href="">
                    <span class="span-icon"><i class="fa fa-sliders" aria-hidden="true"></i></span>
                    <span class="footer-contact-link-text">Order Tracking</span>
                </div>
            </h3>
            <p>
                Find out when your online purchase will arrive.
                <a href="">Track Your Order</a>
            </p>
        </li> -->
        <li>
            <h3>
                <div class="footer_col" id="footer-order-tracking-link" href="">
                    <span class="span-icon"><i class="fa fa-newspaper-o" aria-hidden="true"></i></span>
                    <span class="footer-contact-link-text">Company</span>
                    <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer-column-2')->toHtml(); ?>
                </div>
            </h3>
            <div class="clearfix">
            
            </div>
        </li>

        <li>
            <h3>
                <div class="footer_col" id="footer-order-tracking-link" href="">
                    <span class="span-icon"><i class="fa fa-newspaper-o" aria-hidden="true"></i></span>
                    <span class="footer-contact-link-text">Additional Information</span>
                    <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer-column-3')->toHtml(); ?>
                </div>
            </h3>
            <div class="clearfix">
            
            </div>
        </li>

    </ul>
 
  <div class="footer-meta">
        <div class="row footer-meta-row">
            
            <div class="col-xs-12" style="text-align: center;">
                <strong class="copyright">We currently deliver in Delhi, Noida, and Gurgaon.</strong>
            </div>
          
        </div>
    </div>


    <div class="footer-meta">
        <div class="row footer-meta-row">
            
            <div class="col-xs-6 text-left">
                <strong class="copyright">© <?php echo date('Y'); ?> H&C. All rights reserved.</strong>
            </div>
            <?php //echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_right_links')->toHtml(); ?>
            <!-- <div class="col-xs-6 text-right">
              <a href="">Terms of Use</a>
             
            </div> -->
        </div>
    </div>
</footer>


