<?php
$helper = $this->helper('MGS\Blog\Helper\Data');
$post = $block->getCurrentPost();
$showImage = $this->getConfig('general_settings/show_image');
?>
<div class="blog-post">

   <?php /*
	<div class="date font-playfair">
		<span class="day"><?php echo date('d', strtotime($block->formatDate($post->getCreatedAt(), \IntlDateFormatter::MEDIUM, false))) ?></span>
		<span class="month"><?php echo date('M', strtotime($block->formatDate($post->getCreatedAt(), \IntlDateFormatter::MEDIUM, false))) ?></span>
	</div>
	if ($showImage): ?>
		<div class="post-img">
			<img class="img-responsive" alt="<?php echo $post->getTitle(); ?>" src="<?php echo $post->getImageUrl(); ?>">
		</div>
	<?php endif ?>
	<div class="post-info">
		<span class="user-author">
			<span class="icon fa fa-user"></span>
			<?php if ($post->getUpdatedByUser()): ?>
				<span class="name"><?php echo __('By: %1', $post->getUpdatedByUser()); ?></span>
			<?php else: ?>
				<span class="name"><?php echo __('By: %1', $post->getUser()); ?></span>
			<?php endif; ?>
		</span>
		<?php if ($post->getTags()): ?>
			<?php $tags = explode(',', $post->getTags()); ?>
			<div class="post-tags">
				<i class="fa fa-tag" aria-hidden="true"></i>
				<ul class="tags">
					<?php $i = 0; foreach ($tags as $tag): $i++; ?>
						<li><a title="<?php echo trim($tag); ?>" href="<?php echo $helper->getTagUrl(trim($tag)); ?>"><?php echo trim($tag); ?></a><?php if($i < count($tags)): ?>,<?php endif ?></li>
					<?php endforeach; ?>
				</ul>
			</div>
		<?php endif; ?>
		<?php if ($this->getConfig('comment_settings/enabled')): ?>
			<span class="comments-post">
				<span class="icon fa fa-comment"></span>
				<a class="comments" href="<?php echo $post->getPostUrlWithNoCategory(); ?>#comment-box"><?php echo __('%1 Comment(s)', $post->getCommentCount()) ?></a>
			</span>
		<?php endif; ?>
	</div>
  <?php 
*/ ?>


	<div class="blogTitle">
		<h2><?php echo $post->getTitle(); ?></h2>
	</div>
    <?php if ($post->getContent()): ?>
        <div class="postContent">
            <?php echo $post->getContent(); ?>
        </div>
    <?php endif; ?>
	<div class="action-post">
		<a class="prev action h6 " href="<?php echo $this->getPrevUrl($post->getId()); ?>"><span class="fa fa-caret-left"></span><?php echo __('Previous'); ?></a>
		<a class="next action h6 " href="<?php echo $this->getNextUrl($post->getId()); ?>"><?php echo __('Next'); ?><span class="fa fa-caret-right"></span></a>
		<?php if ($this->getConfig('general_settings/use_sharethis')): ?>
			<div class="post-sharethis">
				<span class="title text-uppercase"> <?php echo __('Share: ') ?></span>
				<span class="st_facebook" st_url="<?php echo $block->getPostUrl(); ?>" st_title="<?php echo $post->getTitle(); ?>"></span>
				<span class="st_googleplus" st_url="<?php echo $block->getPostUrl(); ?>" st_title="<?php echo $post->getTitle(); ?>"></span>
				<span class="st_twitter" st_url="<?php echo $block->getPostUrl(); ?>" st_title="<?php echo $post->getTitle(); ?>"></span>
				<span class="st_linkedin" st_url="<?php echo $block->getPostUrl(); ?>" st_title="<?php echo $post->getTitle(); ?>"></span>
				<span class="st_pinterest" st_url="<?php echo $block->getPostUrl(); ?>" st_title="<?php echo $post->getTitle(); ?>"></span>
				<span class="st_email" st_url="<?php echo $block->getPostUrl(); ?>" st_title="<?php echo $post->getTitle(); ?>"></span>
			</div>
		<?php endif; ?>
	</div>
    <?php echo $block->getChildHtml('post_view_comment'); ?>
</div>
