<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list toolbar
 *
 * @var $block \Magento\Catalog\Block\Product\ProductList\Toolbar
 */
use Magento\Catalog\Model\Product\ProductList\Toolbar;
?>
<?php if ($block->getCollection()->getSize()): ?>
    <div class="toolbar toolbar-products row" data-mage-init='<?php /* @escapeNotVerified */ echo $block->getWidgetOptionsJson(); ?>'>
        <div class="col-md-3 col-sm-5 toolbar-mode">
			<?php if ($block->isExpanded()): ?>
				<?php include ($block->getTemplateFile('Magento_Catalog::product/list/toolbar/viewmode.phtml')) ?>
			<?php endif; ?>			
			<?php if ($block->isExpanded()): ?>
				<?php include ($block->getTemplateFile('Magento_Catalog::product/list/toolbar/sorter.phtml')) ?>
			<?php endif; ?>
		</div>
		<div class="col-md-3 col-sm-5  toolbar-mode toolbar-mode-right"><?php include ($block->getTemplateFile('Magento_Catalog::product/list/toolbar/limiter.phtml')) ?></div>
		<div class="col-sm-12 text-center pager-toolbar"><?php echo $block->getPagerHtml() ?></div>
    </div>
<?php endif ?>
