<?php $block = $this->getBlock() ?>
<?php $themeHelper = $this->helper('MGS\Mpanel\Helper\Data'); ?>
<?php $enableSticky = $themeHelper->getStoreConfig('mgstheme/general/sticky_menu'); ?>
<?php $logoSticky = $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('adella_logo_sticky')->toHtml() ?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$saticurl=$storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_STATIC);
 ?>

<link  rel="stylesheet" type="text/css"  media="all" href="<?php echo $saticurl; ?>frontend/Mgs/adella/en_US/fonts/customfonts/stylesheet.css" />

<!-- <link  rel="stylesheet" type="text/css"  media="all" href="http://thehomeandcompany.com/static/frontend/Mgs/adella/en_US/css/custom4.css" /> -->


<div id="header-v1" class="content-header header-v1<?php if($enableSticky !== false): ?> sticky-menu<?php endif;?> navbar">
	<div class="middle-header-content">
		<div class="header-top header-top-cus">
			<div class="container">
			 <div class="row">
				<!-- <div class="col-sm-4 col">
				     <?php //echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('home_page_header_social_media')->toHtml();?>
				      <div class="clearfix"></div>
			   	</div> -->
			   	<div class="col-sm-3 col-xs text-left">
				    <div class="navbar-header">
				      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>

                    <?php
				$objectManagerlogin = \Magento\Framework\App\ObjectManager::getInstance();
				$customerSession = $objectManagerlogin->get('Magento\Customer\Model\Session');
				$baseurl = $objectManagerlogin->get('Magento\Store\Model\StoreManagerInterface')->getStore(0)->getBaseUrl();
            	?>

                 <a class="logo hidden-sticky" href="<?php echo $baseurl; ?>" title="Home &amp; Co.">
			        <img src="<?php echo $baseurl; ?>pub/media/logo/stores/9/logo.png" alt="Home &amp; Co." width="111" height="58">
			       </a>


				      <?php //echo $block->getChildHtml('logo') ?>
					<?php if($enableSticky !== false && $logoSticky): ?>
						<div class="sticky-logo "><a class="logo" href="<?php echo $block->getUrl();?>" title="Adella Commerce">
					        <img src="<?php echo $block->getUrl();?>/pub/media/logo/stores/9/logo.png" alt="Adella Commerce" style="width: 88px; height: 46px;"> </a>
    					</div>
					<?php endif;?>
				    </div>
				    <div class="clearfix"></div>
				</div>
				
				<div class="col-sm-9 col-xs">
					<div class="user-info clearfix text-right">
						<span><i class="fa fa-envelope-o" aria-hidden="true"></i> info@thehomeandcompany.com</span>
						<!-- <span><i class="fa fa-phone" aria-hidden="true"></i> + 9945676434</span> -->
					</div>

					<div class="search-and-account clearfix">
						<div class="search-sec">
							<?php echo $block->getChildHtml('top.search') ?>
						</div>
						<div class="prfile-menu text-right">
							<ul>
								
                                
			                       <?php if($customerSession->isLoggedIn()) { ?>
									<li class="hover_show">
										<button type="button" class="idea-board btn">Idea Boards</button>
										<div class="dropdown_div ideaboard_drop">
											<!--<button class="create_btn">My Idea Boards</button>-->
											<a href="<?php echo $block->getUrl();?>multiwishlist" class="create_btn">My Idea Boards</a>
											<div class="hover-box">
                                             <div class="hover-box-info">
											<span>Save,Share and Organise your Favourite finds.</span>
											<i class="fa fa-heart-o" aria-hidden="true"></i>
											</div>
											</div>

										</div>
									</li>
									<?php
									}else{
										?>
									<li class="hover_show">
										<button type="button" class="idea-board btn">Idea Boards</button>
										<div class="dropdown_div">
											<a href="<?php echo $block->getUrl();?>ideaboards/" class="create_btn">Create an Idea Board</a>
											<div class="hover-box" style="margin-top:10px;">
                                            <div class="hover-box-info">
											<span>Save,Share and Organise your Favourite finds.</span>
											<i class="fa fa-heart-o" aria-hidden="true"></i>
											</div>
											</div>

										</div>
									</li>
										<?php
									}?>



		                            <li class="hover_show">
									<?php
									if($customerSession->isLoggedIn()){
									?>
										<a href="" class="btn-login"><i class="fa fa-user" aria-hidden="true"></i></a>
											<div class="dropdown_div custum-change">
												<?php if($customerSession->isLoggedIn()) { ?>
													<a  class="btn-login" href="<?php echo $baseurl .'customer/account'; ?>">My Account</a>
													<a  class="btn-login" href="<?php echo $baseurl .'customer/account/logout'; ?>">Logout</a>
												<?php }else { ?>
													<a href="<?php echo $block->getUrl();?>customer/account/login/" class="btn-login"><i class="fa fa-user" aria-hidden="true"></i></a>
												<?php
												}
												?>


											</div>
											<?php
									}else{
									?>


									<a data-toggle="modal" data-target="#signup-login-modal" title="Account" style="cursor: pointer"><i class="fa fa-user" aria-hidden="true"></i></a>
									<?php
									}
									?>
		                          </li>


								<li class=""><?php echo $block->getChildHtml('minicart') ?> <!-- <a href=""><i class="fa fa-cart-plus" aria-hidden="true"></i></a> --></li>
							</ul>
						</div>
					</div>

                    <?php /*
					<ul class="header-login-and-search ">
                       
						<li class="hidden-xs">
                         <div class="setting-pt">
							<div class="top-search-mini">
								<button class="btn-show-search btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
								<?php echo $block->getChildHtml('top.search') ?>
							</div>
							</div>
						</li>
						*/?>


						<?php /*if($customerSession->isLoggedIn()) {
						?>
						<li class="hover_show">
							<a href="<?php echo $block->getUrl();?>multiwishlist" class="btn-login">Idea Boards</a>
							<div class="dropdown_div">
								<!--<button class="create_btn">My Idea Boards</button>-->
								<a href="<?php echo $block->getUrl();?>multiwishlist" class="create_btn">My Idea Boards</a>
								<div class="hover-box">

								  <img src="http://ec2-52-221-54-107.ap-southeast-1.compute.amazonaws.com/PROJECTS/thehomeandcompany/website/pub/media/catalog/product/cache/9/small_image/352x352/beff4985b56e3afdbeabfc89641a4582/d/s/dsc_8426_1_.jpg" alt="" />
								<div class="hover-box-info">
								<span>Save,Share and Organise your Favourite finds.</span>
								<i class="fa fa-heart-o" aria-hidden="true"></i>
								</div>
								</div>

							</div>
						</li>
						<?php
						}else{
							?>
						<li class="hover_show">
							<a href="" class="btn-login">Idea Boards</a>
							<div class="dropdown_div">
								<a href="<?php echo $block->getUrl();?>customer/account/login/" class="create_btn">Create an Idea Board</a>
								<div class="hover-box" style="margin-top:10px;">

								  <img src="http://ec2-52-221-54-107.ap-southeast-1.compute.amazonaws.com/PROJECTS/thehomeandcompany/website/pub/media/catalog/product/cache/9/small_image/352x352/beff4985b56e3afdbeabfc89641a4582/d/s/dsc_8426_1_.jpg" alt="" />
								<div class="hover-box-info">
								<span>Save,Share and Organise your Favourite finds.</span>
								<i class="fa fa-heart-o" aria-hidden="true"></i>
								</div>
								</div>

							</div>
						</li>
							<?php
						} ?>


                   


						<li class="hover_show">
							<?php
							if($customerSession->isLoggedIn()){
							?>
								<a href="" class="btn-login">Profile</a>
									<div class="dropdown_div custum-change">
										<?php if($customerSession->isLoggedIn()) { ?>
											<a  class="btn-login" href="<?php echo $baseurl .'customer/account'; ?>">My Account</a>
											<a  class="btn-login" href="<?php echo $baseurl .'customer/account/logout'; ?>">LOGOUT</a>
										<?php }else { ?>
											<a href="<?php echo $block->getUrl();?>customer/account/login/" class="btn-login">Login</a>
										<?php
										}
										?>


									</div>
									<?php
							}else{
							?>
							<a href="<?php echo $block->getUrl();?>customer/account/login/" class="btn-login">Login</a>
							<?php
							}
							?>


						</li>



						<li>
							<?php if($customerSession->isLoggedIn()) { ?>
							<a  class="btn-login" href="<?php echo $baseurl .'customer/account/logout'; ?>">LOGOUT</a>
							<?php }else { ?>
							<a href="<?php echo $block->getUrl();?>customer/account/login/" class="btn-login">LOGIN</a>00
							<?php
							}
							?>
						</li> 
					</ul>*/ ?>
				</div>
			</div>
            </div>
		</div>
		<div class="header-navigation clearfix">
			<div class="container padding0">
				<div class="col-md-12 col-sm-9 col-xs-6 padding0">
					<div class="setting-pt">

						<!-- <div class="setting-drd" id="top-links">
							<button id="top-links-trigger" class="dropdown-toggle action toggle top-links-trigger" data-toggle="dropdown" type="button">
								<span class="pe-7s-config"></span>
							</button>

							<div class="dropdown top-links-dropdown" style="display:none;" data-mage-init='{"dropdownDialog":{
								 "appendTo":"#top-links",
								 "triggerTarget":"#top-links-trigger",
								 "closeOnMouseLeave":false,
								 "triggerClass":"active",
								 "parentClass":"active",
								 "buttons":null,
								 "defaultDialogClass":"dropdown-menu"}}'>
									<h6><?php //echo __('My Account'); ?></h6>
									<?php //echo $block->getChildHtml('top.links') ?>
									<?php //echo $block->getChildHtml('currency') ?>
									<?php //echo $block->getChildHtml('store_language') ?>
							</div>
						</div> -->
						<?php //echo $block->getChildHtml('minicart') ?>
					</div>
					<div class="menu-pt col-md-12 col-sm-9 col-xs-6">
						<button class="btn-responsive-nav btn-inverse visible-sm visible-xs">
<!--							<i class="pe-7s-menu"></i>-->
                            <i class="fa fa-bars" aria-hidden="true"></i>
						</button>
						<div class="nav nav-main-collapse main-menu">
							<div class="tile-menu-rps visible-sm visible-xs">
								<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('adella_logo_menu')->toHtml(); ?>
								<button class="btn-close-mn"><span class="pe-7s-close"></span></button>
							</div>
							<?php echo $block->getChildHtml('megamenu') ?>
							<?php //echo $block->getChildHtml('minicart') ?>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>