<form name="customcontactform" id="customcontactform" method="post" autocomplete="off"  data-mage-init='{"validation":{}}' action="<?php echo $this->getUrl('ajaxsignup/index/customcontactsub'); ?>">
<fieldset class="fieldset form-edit-edit ">
<?php echo $this->getBlockHtml('formkey')?>
<div class="required">
<label class="label" for="field1"><span>Name</span></label>	
<div class="control"><input type="text" name="c_name" id="c_name" class="input-text required"/></div>
</div>

<div class="required">
<label class="label" for="field1"><span>Email</span></label>	
<div class="control"><input type="email" name="c_email" id="c_email"  class="input-text required" data-validate="{required:true, 'validate-email':true}"/></div>
</div>


<div class="required">
<label class="label" for="field1">Phone Number</label>	
<div class="control"><input type="text" name="c_phone" id="c_phone" class="input-text required"/></div>
</div>

<div class="required">
<label class="label" for="field1">Company</label>
<div class="control"><input type="text" name="c_company" id="c_company" class="input-text required"/></div>
</div>

<div class="required">
<label class="label" for="field1">You are a</label>
<div class="control"><select name="c_youare" id="c_youare" class="input-text required">
<option value="">Please Select</option>	
<option value="designer">Designer</option>	
<option value="corporate-buyer">Corporate Buyer</option>	
<option value="other">Other-please describe</option>	
</select></div>
</div>

<div class="other_box required" style="display:none">
<label class="label" for="field1">Please describe what you are looking for</label>
<div class="control"><input type="text" name="c_other" id="c_other" class="input-text required"/></div>
</div>
<div class="submit-but">
<input type="submit" name="c_submit" id="c_submit" /></div>
</div>
</fieldset>






</form>


<script type="text/javascript">
require([
    'jquery',
    'mage/mage'
], function($){

   var dataForm = $('#customcontactform');
   dataForm.mage('validation', {});

});
</script>