<?php 
$blockId = rand() . time();
$themeHelper = $this->helper('MGS\Mpanel\Helper\Data');
$themeSettings = $themeHelper->getThemeSettings();
$type = 'widget-product-grid';
$image = 'category_page_grid';
$imageTwo = 'category_page_two_list';
$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
$categoryId = $this->getCategorySelect();
?>
<?php $quickViewHelper = $this->helper('MGS\QuickView\Helper\Data'); ?>
<?php if($this->getData('per_row') != null){
	$perRow = $this->getData('per_row');
}else {
	$perRow = $themeSettings['catalog']['per_row'];
} ?>
<?php $attribute = $this->getAttributeToShow(); ?>
<div class="mgs-product-tab tabs-style-flip <?php if($this->getData('custom_class')): ?> <?php echo $this->getData('custom_class')?> <?php endif;?>">
	<?php if($this->getData('title')): ?>
		<div class="title-block">
			<h2><?php echo $this->getData('title') ?></h2>
		</div>
	<?php endif ?>
	<div class="tab-attribute">
		<ul class="nav nav-tabs">
			<?php $i=0; foreach($attribute as $attributeCode): $i++; ?>
				<li <?php if($i == 1): ?>class="active"<?php endif ?>>
					<a data-toggle="tab" href="#tab-pane-<?php echo $blockId ?>-<?php echo $attributeCode ?>" class="h5"><span><?php echo $this->getTitleTab($attributeCode) ?></span></a>
				</li>
			<?php endforeach ?>
		</ul>
	</div>
	<div class="tab-content">
		<?php $k=0; foreach($attribute as $attributeCode): $k++; ?>
			<div id="tab-pane-<?php echo $blockId ?>-<?php echo $attributeCode ?>" class="tab-pane fade <?php if($k == 1): ?>in active<?php endif ?> <?php if($this->getData('slider_mode') == 1): ?> product-tab-slider<?php endif;?>">
				<div class="products-grid <?php echo $attributeCode?>">
				<?php $products = $this->getProductCollection($attributeCode,$categoryId); ?>
				<?php if(count($products)>0): ?>
					<ol class="<?php if($this->getData('slider_mode') == 1): ?>products-carousel<?php else: ?> row<?php endif ?>" id="mgs-grid-product-<?php echo $attributeCode ?>">
					<?php $i = 0; foreach($products as $_product): $i++;?>
						<?php	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
								$productModel = $objectManager->create('Magento\Catalog\Model\Product');
								$_product = $productModel->load($_product->getId()); ?>
						<?php $_productType = $_product->getTypeID();?>
						<?php $_itemNameStripped = $block->stripTags($_product->getName(), null, true); ?>
						<?php $_imagehelper = $this->helper('Magento\Catalog\Helper\Image');
							$size = $themeHelper->getImageSize();
							$productImage = $_imagehelper->init($_product, $image)->resize(352,352)->getUrl();  ?>
							<?php if($this->getData('slider_mode') == 1): ?>
								<li class="product-item item">
							<?php else: ?>
								<li class="item <?php echo $themeHelper->getColClass($perRow) ?> <?php echo $themeHelper->getClearClass($perRow, $i) ?>">
							<?php endif ?>
								<div class="product-item-info product-content">
							<div class="product-top1">
								<div class="product-image">
									<a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_product) ?>" class="product-item-photo">
										<img src="<?php echo $productImage; ?>" alt="<?php echo $_itemNameStripped ?>" class="img-responsive"/>									
									</a>
									<!--comment overlay options start 
									<div class="product-image-overlay">
										<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
										<button data-post='<?php /* @escapeNotVerified */ echo $block->getAddToWishlistParams($_product); ?>'
										   class="action towishlist btn btn-addlist" data-action="add-to-wishlist"
										   title="<?php /* @escapeNotVerified */ echo __('Add to Wish List') ?>">
											<span>ADD TO WISHLIST</span>
										</button>
									<?php endif;?>
									<div class="add-to-cart">
										<?php if ($_product->isSaleable()): ?>
											<?php $url = $this->getAddToCartUrl($_product) ?>
											<form data-role="tocart-form" action="<?php echo $url; ?>" method="post">
												<input type="hidden" name="product" value="<?php echo $_product->getId(); ?>">
												<input type="hidden" name="uenc" value="<?php echo $this->getEncodedUrl($url) ?>">
												<?php echo $block->getBlockHtml('formkey')?>
												<button class="tocart btn-icon btn btn-default" type="submit" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
														<?php if($_productType =='simple'):?><?php /* @escapeNotVerified */ echo __('Add to Cart') ?><?php else: ?>
													<?php echo __('Select option')?><?php endif;?>
												</button>
											</form>
										<?php else: ?>
											<?php if ($_product->getIsSalable()): ?>
												<div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
											<?php else: ?>
												<div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
											<?php endif; ?>
										<?php endif; ?>
									</div>
									</div>	
									comment of overlay options ends-->
								</div>
																
								<?php echo $themeHelper->getProductLabel($_product) ?>
							</div>
							
							<div class="product details product-item-details product-desc">
								<!-- <div class="cate-name text-center"><div class="text"><span><?php //echo $themeHelper->getCategoryName($_product,$this->getData('title'),'') ?></span></div></div> -->
								<h3 class="product-name">
									<a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_product) ?>" title="<?php echo $_itemNameStripped ?>"><?php echo $_product->getName() ?></a>
								</h3>
								<?php echo $block->getProductPrice($_product) ?>						
								
								
							</div>
						</div>
							</li>
					<?php endforeach ?>
					</ol>
					<?php if($this->getData('slider_mode') == 1): ?>
						<script type="text/javascript">
							require([
								'jquery',
								'mgs/owlcarousel'
							], function ($) {
								var owl = $('#mgs-grid-product-<?php echo $attributeCode ?>');
								owl.owlCarousel({
									items: <?php echo $perRow ?>,
									autoPlay: false,
									stopOnHover: false,
									nav: true,
										navText: ["<i class='fa fa-angle-left'></i>","<i class='fa fa-angle-right'></i>"],
									dots: false,
									margin: 30,
									responsive:{ 0 : {items: 1}, 480 : {items: 2}, 768 : {items: 2}, 991 : {items: 3}, 1200 : {items: <?php echo $perRow ?>} }
								});
							});
						</script>
					<?php endif ?>
				<?php else: ?>
					<div class="alert alert-danger"><?php echo __('No product to show'); ?></div>
				<?php endif ?>
			</div>
		</div>
		<?php endforeach ?>
	</div>
</div>