<?php 
  $objectManager = \Magento\Framework \App\ObjectManager::getInstance();
  $key_form = $objectManager->get('Magento\Framework\Data\Form\FormKey');
  $form_Key = $key_form->getFormKey(); // this will give you from key


/*********************************Start, Add Idea Boards form*********************************/ ?>
<?php if(isset($_REQUEST['pc'])=='yes'): ?>
<style>
.pro_care_content{display: block;}
</style>
<?php endif; ?>

 <form name="f_ideboard_hidden" id="f_ideboard_hidden">
    <input type="hidden" name="h_product" id="h_product">
    <input type="hidden" name="h_unec" id="h_unec">
    <input type="hidden" name="h_form_key" id="h_form_key" value="<?php echo $form_Key; ?>">
</form>
<?php /*********************************End, Add Idea Boards form*********************************/ ?>


<?php /************************Start Recent View******************/ ?>

<?php 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$request = $objectManager->get('Magento\Framework\App\Action\Context')->getRequest();
$currentPageinfo = $request->getFullActionName();
if($currentPageinfo == 'catalog_product_view' || $currentPageinfo == 'catalog_category_view'):
?>
<div class="recent_view_product">
   <div class="container">
      <?php echo $this->getLayout()->createBlock("Magento\Reports\Block\Product\Widget\Viewed")->setDisplayType("recently.view.products")->setProductsCount("10")->setTemplate("widget/viewed/content/viewed_list.phtml")->toHtml(); ?>
   </div>
</div>
<?php endif; ?>

<?php /************************End, Recent View******************/ ?>

<?php $helper = $this->helper('MGS\Mpanel\Helper\Data') ?>
<?php $footer = $helper->getStoreConfig('mgstheme/general/footer') ?>
<?php if($footer!=''): ?>
	<?php echo $this->getLayout()->createBlock('Magento\Theme\Block\Html\Footer')->setBlock($block)->setTemplate('Magento_Theme::html/footers/'.$footer.'.phtml')->toHtml() ?>
<?php else: ?>
	<div class="footer-container">
		<section class="bottom-footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<address><?php /* @escapeNotVerified */ echo $block->getCopyright() ?></address>
					</div>
				</div>
			</div>
		</section>
	</div>
<?php endif ?>

<?php $customerSession = $objectManager->get('Magento\Customer\Model\Session');
if($customerSession->isLoggedIn()) { ?>
<style>
  .hide-save-but{display:none;}
</style>
<?php } ?>



<script type="text/javascript">
       
        require(["jquery"],function($) {
        $(document).ready(function() {


        $('.carousel').carousel({
          interval: 3600
        });


     /*********************Auth Popup****************************/

 <?php 
          if(@isset($_COOKIE['auth_ck_name']) =='mohit@thehomeandcompany.com' && @isset($_COOKIE['auth_ck_pwd']) == 'Admin@123') {

           }else{ ?>
            
           $('#authpopup').modal('show');

          <?php } ?> 
           
            

            $('#check_auth').on("click",function() {

                   
                 
                   var auth_uname= $('#auth_uname').val();
                   var auth_password= $('#auth_password').val();
                   var auth_url ="<?php echo $this->getUrl().'ajaxsignup/index/checkcookies'; ?>";
                   //alert(auth_uname+" "+auth_password);

                  
                      $.ajax({
                        url: auth_url,
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            auth_uname: auth_uname,
                            auth_password: auth_password,
                        },
                         success: function(response) {  

                          var loginStatus = response.authlogin_status;
                          var loginMessage = response.authlogin_message;
                          
                          //$("#normal_login").attr("disabled", false);
                          if(loginStatus){

                            location.reload();
                            
                          }else{
                          
                             $('.authlogin_errmsg').html(loginMessage);
                             //$("#normal_login").attr("disabled", false);
                             return false;

                         }


                        },
                        error: function (xhr, status, errorThrown) {
                           // $('.login-loader-img').hide();
                           // $("#normal_login").attr("disabled", false);
                        }
                       });


                  });
       


        /***********************************************/






         $(document).on("click",".filter-button",function() {
         
         var filter_record=$(this).data('filter');
           $('.filter').hide();
           $('.filter-button').removeClass('active');
           $('.'+filter_record).show();
           $(this).addClass('active');
        });



        
       /* $(document).on("click",".minicart-box",function() {
         $('.minicartpopup').toggle();
        }); */


       /***************************FAQ************************************/


       $(document).on("click",".faq-title",function() {
        // $('.faq-content').hide();
         $(this).next().slideToggle( "slow", function() {
          // Animation complete.
        });
        

       });

       $(document).on("click","#ques",function() {
        
            $(this).next().slideToggle( "slow");
                $(this).children('.fa').toggleClass('fa-plus fa-minus');
                // Animation complete.
        }); 
   


       $(document).on("click",".lifestyle-icon",function() {
        $('.lifestyle-info--centered').hide();
        var container_class=$(this).data('id');
        //alert(container_class);
         $('.'+container_class+'-container').toggle();
       });

       $(document).on("click",".lifestyle-close",function() {
         var container_class=$(this).data('close');
         //alert(container_class);
         $('.'+container_class+'-container').hide();
       });


       


        /***************************Custom Contact form************************************/


       $(document).on("change","#c_youare",function() {
         var you_are=$('#c_youare').val();
       
         if(you_are=='other'){
          $('.other_box').show();

         }else{
             
             $('.other_box').hide();
         }
       });




 /************************Start, Change image on hover for category page**********************************/

        $(".customproimg")
            .mouseout(function() {
              var proid= $(this).attr('id');
              var imgurl = $('#'+proid).data("normalimg");
              $('#'+proid).attr("src", imgurl);
            })
          .mouseover(function() {
            var proid= $(this).attr('id');
            var imgurl = $('#'+proid).data("hoverimg");
            $('#'+proid).attr("src", imgurl);
          });

/************************End, Change image on hover for category page**********************************/




/*********************************************Start, Add to Idea Boards********************************************************/


        $(document).on("click",".send_hidden",function() {
         var product_id=$(this).data('id');
         $('#h_product').val(product_id);
         var unec=$(this).data('unec');
         $('#h_unec').val(unec);         
        });

        
        $(document).on("click","#show_ideaboard",function() {
          $('#ideaBoardDiv').toggle();
          $('#ideaboard_msg_status').hide();
       
         });
        






        $(document).on("click",".add_new_ideboard",function() {
         
         var h_product =$('#h_product').val();
         var h_unec =$('#h_unec').val();
         var h_form_key =$('#h_form_key').val();
         var h_wk_name = $.trim($('.wk_name').val());

           if(h_wk_name == ''){
           $('#ideaboard_msg_status').html('Please enter Idea Board.');
           $('#ideaboard_msg_status').show();
           return false;

           }
         $('#ideaboard_msg_status').hide();
         $('.loader-wishlist').show();
         var customurl="<?php echo $this->getUrl().'ajaxsignup/index/addideaboard'; ?>";
          $.ajax({
                          url: customurl,
                          type: 'POST',
                          dataType: 'json',
                          data: {
                              product: h_product,
                              uenc: h_unec,
                              form_key: h_form_key,
                              wk_name: h_wk_name
                          },
                           success: function(response) {     
                               
                              console.log(response.wishlist_status); 
                              if(response.wishlist_status == true){
                               $('.wk_name').val("");
                               $('.loader-wishlist').hide();
                               $('#mywork-wk-list').prepend(response.wishlist_msg);

                             
                              }else{
                                  $('.loader-wishlist').hide();
                                  $('.wk_name').val("");
                                  $('#ideaBoardDiv').prepend(response.wishlist_msg);
                            
                              }
                         
                            },
                          error: function (xhr, status, errorThrown) {
                            $('.loader-wishlist').hide();
                            
                          }
                         });
    

      });

      



      $(document).on("click",".mywork-wishlist-list-product",function() {
         var wish_id=$(this).data("whishlist");
         var h_product =$('#h_product').val();
         var h_unec =$('#h_unec').val();
         var h_form_key =$('#h_form_key').val();

         var filled_status= $('#heart_icon-'+wish_id).data("filledstatus");

        if(filled_status == 'filled'){
           
          return false;

         }
         
         var customurl="<?php echo $this->getUrl().'ajaxsignup/index/addideaboard'; ?>";

         $.ajax({
                        url: customurl,
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            product: h_product,
                            uenc: h_unec,
                            wk_id: wish_id,
                            form_key: h_form_key
                           
                        },
                         success: function(response) {

                         var pro_img=$('.prod-'+h_product).attr('src');
                         $('#prodimg-wishlist-'+wish_id).attr('src',pro_img);
                         $('#heart_icon-'+wish_id).addClass('heart-icon-fill');


                        },
                        error: function (xhr, status, errorThrown) {
                           console.log(response);
                          
                        }
                       });


    });



    /*********************************************************mywork wishlist popup js***************************************************/

     
                 $(document).on("click",".mywork-towishlist",function() {
                
                        $('.loader-ideboard-login-signup').show();
                        $('#ideaboard_msg_status').hide();
                        $('#ideaBoardDiv').hide();
                        $(".wk_name").val('');
                        $(".wk-added").remove();
                        $.each($("input[name='wk_id']:checked"), function() {
                            $(this).prop('checked',false);
                        });
                        product_id = $(this).data('id');
                         $('#mywork-wk-list').hide();
                         $('.ideaboards-list-container').hide();
                         $('.ideaboards-login-container').hide();
                         //$('.loader-wishlist').show();

                         //alert(product_id);
                           $.ajax({
                            url: "<?php echo $this->getUrl().'ajaxsignup/index/GetIdeaBoardPopup'; ?>",
                            type: 'POST',
                            dataType: 'json',
                            data: {
                                product_id: product_id
                               // customer_id: customer_id
                           },
                             success: function(response) {
                              $('.loader-ideboard-login-signup').hide();
                              if(response.loggedin_status == false){
                                
                                $('.ideaboards-login-container').show();
                                
                                

                              }else{
                               
                               $('#mywork-wk-list').html(response.content);
                               $('.ideaboards-list-container').show();        
                               //$('.loader-wishlist').hide();
                               $('#mywork-wk-list').show();

                              }

                             

                            },
                            error: function (xhr, status, errorThrown) {
                                $('.loader-ideboard-login-signup').hide();
                                //$('.loader-wishlist').hide();
                            }
                           });

                        

          });




/**************************************************Idea Boards Login******************************************************************/     

                  $('#ideaboards_login').on("click",function() {

                   $('.login-loader-img').show();
                   $("#ideaboards_login").attr("disabled", true);
                   var email_info= $('#login_email').val();
                   var email_password= $('#login_password').val();
                   var ajax_loginurl= $('#ajax_loginurl').val();
                   var customurl = ajax_loginurl;
                   var error=0;
                   var err_message="";

                    if(email_info =='' ){
                     
                    err_message += '<span class="cust_err">Please enter email</span>';
                    error++;
                    
                    }
                    
                    if(email_info!=''){
                    
                    var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                    if (!filter.test(email_info)) {
                      err_message += '<span class="cust_err">Please enter correct email</span>';
                      error=1;
                    }
                     
                   }
                 
                  
                   if(email_password==''){
                    err_message += '<span class="cust_err">Please enter password</span>';
                    error++;

                    }

                    if(error==0)
                     {
                    
                         $.ajax({
                        url: customurl,
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            email: email_info,
                            password: email_password,
                        },
                         success: function(response) {             
                          var loginStatus = response.login_status;
                          var loginMessage = response.login_message;
                           $('.login-loader-img').hide();
                           $("#ideaboards_login").attr("disabled", false);
                          
                          if(loginStatus==true){
                             
                          var h_product =$('#h_product').val();
                            

                                  $('#ideaboard_msg_status').hide();
                                  $('#ideaBoardDiv').hide();
                                  $(".wk_name").val('');
                                  $(".wk-added").remove();
                                  $.each($("input[name='wk_id']:checked"), function() {
                                      $(this).prop('checked',false);
                                  });
                                  product_id = h_product;
                                  $('#mywork-wk-list').hide();
                                  $('.loader-wishlist').show();

                              
                                     $.ajax({
                                      url: "<?php echo $this->getUrl().'ajaxsignup/index/GetIdeaBoardPopup'; ?>",
                                      type: 'POST',
                                      dataType: 'json',
                                      data: {
                                          product_id: product_id
                                         // customer_id: customer_id
                                     },
                                       success: function(response) {

                                        if(response.loggedin_status == false){

                                          $('.ideaboards-login-container').show();
                                          $('.ideaboards-list-container').hide();
                                          

                                        }else{

                                         $('#mywork-wk-list').html(response.content);
                                         $('.ideaboards-login-container').hide();
                                         $('.ideaboards-list-container').show();        
                                         $('.loader-wishlist').hide();
                                         $('#mywork-wk-list').show();

                                        }

                                       

                                      },
                                      error: function (xhr, status, errorThrown) {
                                           //alert('dsads');
                                          $('.loader-wishlist').hide();
                                          $('.ideaboards-login-container').show();
                                          $('.ideaboards-list-container').hide();
                                      }
                                     });
                          






                          }else{
                          
                             $('.login_errmsg').html(loginMessage);
                             $('.login-loader-img').hide();
                             $("#ideaboards_login").attr("disabled", false);
                             return false;

                         }


                        },
                        error: function (xhr, status, errorThrown) {
                            $('.login-loader-img').hide();
                            $("#ideaboards_login").attr("disabled", false);
                        }
                       });

                    }else{
                       
                       $('.login-loader-img').hide();
                       $("#ideaboards_login").attr("disabled", false);
                       $('.login_errmsg').html(err_message);

                       return false;
                    }

                  });


                /**************************************************Idea Boards Signup******************************************************************/


                   $('#ideaboards_signup').on("click",function() {
                   $('.signup-loader-img').show();
                   $("#ideaboards_signup").attr("disabled", true);
                   var ajax_signupurl= $('#ajax_signupurl').val();
                   var customurl = ajax_signupurl;
                   var email= $('#email_address').val();
                   var password= $('#password').val();
                   var password_confirmation= $('#password-confirmation').val();

                   
                   var error=0;
                   var err_message="";


                    if(email =='' ){
                     
                     err_message += '<span class="cust_err">Please enter email</span>';
                     error=1;
                    
                    }

                    if(email!=''){

                    var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                    if (!filter.test(email)) {
                      err_message += '<span class="cust_err">Please enter correct email</span>';
                      error=1;
                    }
                     
                   }
                 
                    if(password==''){
                        
                     err_message += '<span class="cust_err">Please enter password</span>';
                     error=1;

                    }

                  
                    if(password!=''){
                    
                     var re = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/; 
                     var data=re.test(password);
                     if(data == false){
                         err_message += '<span class="cust_err">Please enter minimum 8 digit with at least one char,one special char,one digit</span>';
                         error=1;
                       }
                     }



                     if(password_confirmation==''){
                        
                     err_message += '<span class="cust_err">Please enter confirm password</span>';
                     error=1;

                    }
                   


                    if(password!='' && password_confirmation!='' && password!=password_confirmation){

                      err_message += '<span class="cust_err">Password and Confirm Password must be same</span>';
                      error=1;

                    }

                     
                     if(error==0)
                     {
                    
                        $.ajax({
                        url: customurl,
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            email: email,
                            password: password,
                            password_confirmation: password_confirmation
                           
                        },
                       success: function(response) {             
                       
                         
                        var signupStatus = response.signup_status;
                        var signupMessage = response.signup_message;
                         
                       
                     
                         if(signupStatus==true){

                           $('.signup-loader-img').hide();
                           $("#ideaboards_signup").attr("disabled", false);
                          

                              var h_product =$('#h_product').val();
                              $('#ideaboard_msg_status').hide();
                                  $('#ideaBoardDiv').hide();
                                  $(".wk_name").val('');
                                  $(".wk-added").remove();
                                  $.each($("input[name='wk_id']:checked"), function() {
                                      $(this).prop('checked',false);
                                  });
                                  product_id = h_product;
                                  $('#mywork-wk-list').hide();
                                  $('.loader-wishlist').show();
                                 // alert(product_id);
                              
                                     $.ajax({
                                      url: "<?php echo $this->getUrl().'ajaxsignup/index/GetIdeaBoardPopup'; ?>",
                                      type: 'POST',
                                      dataType: 'json',
                                      data: {
                                          product_id: product_id
                                         // customer_id: customer_id
                                     },
                                       success: function(response) {

                                        if(response.loggedin_status == false){
                                          // alert('false');
                                          $('.ideaboards-login-container').show();
                                          $('.ideaboards-list-container').hide();
                                          

                                        }else{

                                          //alert('true');

                                         $('#mywork-wk-list').html(response.content);
                                         $('.ideaboards-login-container').hide();
                                         $('.ideaboards-list-container').show();        
                                         $('.loader-wishlist').hide();
                                         $('#mywork-wk-list').show();

                                        }

                                       

                                      },
                                      error: function (xhr, status, errorThrown) {
                                           //alert('dsads');
                                          $('.loader-wishlist').hide();
                                          $('.ideaboards-login-container').show();
                                          $('.ideaboards-list-container').hide();
                                      }
                                     });









                         }else{
                          
                             $('.signup-loader-img').hide();
                             $("#ideaboards_signup").attr("disabled", false);
                             $('.signup_errmsg').html(signupMessage);
                             return false;

                         }

                         


                        },
                        error: function (xhr, status, errorThrown) {
                            $('.signup-loader-img').hide();
                            $("#ideaboards_signup").attr("disabled", false);
                        }
                       });

                    }else{
                      $('.signup-loader-img').hide();
                      $("#ideaboards_signup").attr("disabled", false);
                      $('.signup_errmsg').html(err_message);
                      return false;
                    }

                  });

/***********************************End, Login/Signup Idea Boards***************************/



/**************************************************************************************************************/






      $(document).on("click",".wk-wishlist-list-cat",function() {
      
         var wish_id=$(this).data("whishlist");
         if($('#'+'wk-wishlist-check-id-'+wish_id).prop('checked') == true){
          $('#'+'wk-wishlist-check-id-'+wish_id).prop('checked',false);
          
           //$('#wk-wishlist-'+wish_id).removeClass('ideaactive');
           // $('#heart_icon-'+wish_id).removeClass('ideaactive');

        }else{

          $('#'+'wk-wishlist-check-id-'+wish_id).prop('checked',true);
          $('#heart_icon-'+wish_id).addClass('heart-icon-fill');
          //$('#wk-wishlist-'+wish_id).addClass('ideaactive');
       }
    });

      $(document).on("click",".wk-wishlist-list-prodetails",function() {

         var wish_id=$(this).data("whishlist");
         if($('#'+'wk-wishlist-check-id-'+wish_id).prop('checked') == true){
          $('#'+'wk-wishlist-check-id-'+wish_id).prop('checked',false);
          $('#wk-wishlist-'+wish_id).removeClass('ideaactive');
        }else{
          $('#'+'wk-wishlist-check-id-'+wish_id).prop('checked',true);
          $('#wk-wishlist-'+wish_id).addClass('ideaactive');
       }
    });


      $(document).on("click",".wk-added",function() {
      
        var wk_added_id=$(this).data("wkaddedid");
        if($('#'+wk_added_id).prop('checked') == true){
            $('#'+wk_added_id).prop('checked',false);
            $('#wk-added-'+wk_added_id).removeClass('ideaactive');
        }else{
           
            $('#'+wk_added_id).prop('checked',true);
            $('#wk-added-'+wk_added_id).addClass('ideaactive');
         }
    }); 





/***************************************Login/Signup******************************************************/

 $('#normal_login').on("click",function() {

                   $('.login-loader-img').show();
                   $("#normal_login").attr("disabled", true);
                   var email_info= $('#normal_login_email').val();
                   var email_password= $('#normal_login_password').val();
                   var ajax_loginurl= $('#ajax_loginurl').val();
                   var customurl = ajax_loginurl;
                   var error=0;
                   var err_message="";

                    if(email_info =='' ){
                     
                    err_message += '<span class="cust_err">Please enter email</span>';
                    error++;
                    
                    }
                    
                    if(email_info!=''){
                    
                    var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                    if (!filter.test(email_info)) {
                      err_message += '<span class="cust_err">Please enter correct email</span>';
                      error=1;
                    }
                     
                   }
                 
                  
                   if(email_password==''){
                    err_message += '<span class="cust_err">Please enter password</span>';
                    error++;

                    }

                    if(error==0)
                     {
                    
                         $.ajax({
                        url: customurl,
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            email: email_info,
                            password: email_password,
                        },
                         success: function(response) {             
                          var loginStatus = response.login_status;
                          var loginMessage = response.login_message;
                           $('.login-loader-img').hide();
                           $("#normal_login").attr("disabled", false);
                          if(loginStatus){

                            location.reload();
                            
                          }else{
                          
                             $('.login_errmsg').html(loginMessage);
                             $('.login-loader-img').hide();
                             $("#normal_login").attr("disabled", false);
                             return false;

                         }


                        },
                        error: function (xhr, status, errorThrown) {
                            $('.login-loader-img').hide();
                            $("#normal_login").attr("disabled", false);
                        }
                       });

                    }else{
                       
                       $('.login-loader-img').hide();
                       $("#normal_login").attr("disabled", false);
                       $('.login_errmsg').html(err_message);

                       return false;
                    }

                  });


                /**************************************************Normal Signup******************************************************************/


                   $('#normal_signup').on("click",function() {
                   $('.signup-loader-img').show();
                   $("#normal_signup").attr("disabled", true);
                   var ajax_signupurl= $('#ajax_signupurl').val();
                   var customurl = ajax_signupurl;
                   var email= $('#normal_signup_email_address').val();
                   //alert(email);
                   var password= $('#normal_signup_password').val();
                   var password_confirmation= $('#normal_signup_password-confirmation').val();

                   var fname = $('#normal_signup_fname').val();
                   var lname = $('#normal_signup_lname').val();

                 
                   var error=0;
                   var err_message="";

            
                   
                    if(fname =='' ){
                     
                     err_message += '<span class="cust_err">Please enter First Name</span>';
                     error=1;
                    
                    }

                    if(lname =='' ){
                     
                     err_message += '<span class="cust_err">Please enter Last Name</span>';
                     error=1;
                    
                    }

                    if(email =='' ){
                     
                     err_message += '<span class="cust_err">Please enter email</span>';
                     error=1;
                    
                    }

                    if(email!=''){

                    var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                    if (!filter.test(email)) {
                      err_message += '<span class="cust_err">Please enter correct email</span>';
                      error=1;
                    }
                     
                   }
                 
                    if(password==''){
                        
                     err_message += '<span class="cust_err">Please enter password</span>';
                     error=1;

                    }

                  
                    if(password!=''){
                    
                     var re = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/; 
                     var data=re.test(password);
                     if(data == false){
                         err_message += '<span class="cust_err">Please enter minimum 8 digit with at least one char,one special char,one digit</span>';
                         error=1;
                       }
                     }



                     if(password_confirmation==''){
                        
                     err_message += '<span class="cust_err">Please enter confirm password</span>';
                     error=1;

                    }
                   


                    if(password!='' && password_confirmation!='' && password!=password_confirmation){

                      err_message += '<span class="cust_err">Password and Confirm Password must be same</span>';
                      error=1;

                    }

                     
                     if(error==0)
                     {
                    
                        $.ajax({
                        url: customurl,
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            email: email,
                            password: password,
                            password_confirmation: password_confirmation,
                            first_name: fname,
                            last_name: lname
                           
                        },
                       success: function(response) {             
                       
                         
                        var signupStatus = response.signup_status;
                        var signupMessage = response.signup_message;
                         
                       
                     
                         if(signupStatus){

                           $('.signup-loader-img').hide();
                           $("#normal_signup").attr("disabled", false);
                           location.reload();

                         }else{
                          
                             $('.signup-loader-img').hide();
                             $("#normal_signup").attr("disabled", false);
                             $('.signup_errmsg').html(signupMessage);
                             return false;

                         }

                         


                        },
                        error: function (xhr, status, errorThrown) {
                            $('.signup-loader-img').hide();
                            $("#normal_signup").attr("disabled", false);
                        }
                       });

                    }else{
                      $('.signup-loader-img').hide();
                      $("#normal_signup").attr("disabled", false);
                      $('.signup_errmsg').html(err_message);
                      return false;
                    }

                  });







  });

 });
</script>



<input type="hidden" name="ajax_signupurl" id="ajax_signupurl" value="<?php echo $this->getUrl().'ajaxsignup/index/signup'; ?>">
<input type="hidden" name="ajax_loginurl" id="ajax_loginurl" value="<?php echo $this->getUrl().'ajaxsignup/index/login'; ?>">

<?php /*****************************Start, Login/Signup Popup***********************************/?>

<!-- Modal -->
<div id="signup-login-modal" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog signuploginpopup">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Sign Up/Login</h4>
      </div>
      <div class="modal-body">
        
        <div class="signup-section">
       <form class="" action="" method="post" id="simplesignup" enctype="multipart/form-data" autocomplete="off" novalidate="novalidate">
       <fieldset class="fieldset create account" data-hasrequired="* Required Fields">
        <div class="title"><span class="new_customer">New Customer</span></div>
        <div class="signup_errmsg"></div>
        <?php echo $this->getBlockHtml('formkey')?>
        
       <div class="">

       <div class="field required col-xs-6">
            <label for="email_address" class="label"><span>First Name</span></label>
            <div class="control">
                <input type="text" name="fname" id="normal_signup_fname" value="" title="First Name" class="input-text mage-error">
                
            </div>
        </div>


       <div class="field required col-xs-6">
            <label for="email_address" class="label"><span>Last Name</span></label>
            <div class="control">
                <input type="text" name="lname" id="normal_signup_lname" value="" title="Last Name" class="input-text mage-error">
            
            </div>
        </div>

       </div>

       
       <div class="">
        <div class="field required col-xs-6">
            <label for="email_address" class="label"><span>Email</span></label>
            <div class="control">
                <input type="email" name="email" autocomplete="email" id="normal_signup_email_address" value="" title="Email" class="input-text mage-error">
               
            </div>
        </div>



        <div class="field password required  col-xs-6">
            <label for="password" class="label"><span>Password</span></label>
            <div class="control">
                <input type="password" name="password" id="normal_signup_password" title="Password" class="input-text mage-error" data-password-min-length="8" data-password-min-character-sets="3"  autocomplete="off" aria-required="true" aria-invalid="true">
            
            </div>
        </div>
        </div>
        <div class="">
        <div class="field confirmation required col-xs-6">
            <label for="password-confirmation" class="label"><span>Confirm Password</span></label>
            <div class="control">
                <input type="password" name="password_confirmation" title="Confirm Password" id="normal_signup_password-confirmation" class="input-text mage-error"  autocomplete="off">
            </div>
        </div>
        </div>


      </fieldset>


    <div class="actions-toolbar  col-xs-12">
        <div class="primary">
            <button type="button" class="action submit btn btn-primary btn-lg" title="Create an Account" id="normal_signup"><span>Signup</span></button>
             <div class="signup-loader-img" style="display:none;"><img src="<?php echo $this->getUrl('pub/media'); ?>ideaboards-page/three-bar-loader.gif" width="80px;"/></div>
        </div>
        
    </div>


<!--Social Facebook Login-->
<div>
<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else {
      // The person is not logged into your app or we are unable to tell.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '2036061793309830',
      cookie     : false,  // enable cookies to allow the server to access 
                          // the session
      xfbml      : true,  // parse social plugins on this page
      version    : 'v2.8' // use graph api version 2.8
    });

    // Now that we've initialized the JavaScript SDK, we call 
    // FB.getLoginStatus().  This function gets the state of the
    // person visiting this page and can return one of three states to
    // the callback you provide.  They can be:
    //
    // 1. Logged into your app ('connected')
    // 2. Logged into Facebook, but not your app ('not_authorized')
    // 3. Not logged into Facebook and can't tell if they are logged into
    //    your app or not.
    //
    // These three cases are handled in the callback function.

    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
        

       //alert(response.email);
      console.log(JSON.stringify(response));
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';

       var cust_fname=response.name;
       var cust_lname=response.name;
       var customurl ="<?php echo $this->getUrl().'ajaxsignup/index/fbsignup'; ?>";
       $.ajax({
                        url: customurl,
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            email: email,
                            cust_fname: cust_fname,
                            cust_lname: cust_lname

                           
                        },
                       success: function(response) {             
                       
                         
                        var signupStatus = response.signup_status;
                        var signupMessage = response.signup_message;
                         
                       
                     
                         if(signupStatus){

                           $('.signup-loader-img').hide();
                           $("#normal_signup").attr("disabled", false);
                           location.reload();

                         }else{
                          
                             $('.signup-loader-img').hide();
                             $("#normal_signup").attr("disabled", false);
                             $('.signup_errmsg').html(signupMessage);
                             return false;

                         }

                         


                        },
                        error: function (xhr, status, errorThrown) {
                            $('.signup-loader-img').hide();
                            $("#normal_signup").attr("disabled", false);
                        }
                       });






    });
  }
</script>

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->

<!-- <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button> -->

<div id="status">
</div>
</div>
<!--End, Social Login-->

</form>
 </div>

   <div class="gapdata"></div>


   <div class="login-section">
    <form class="fideaboards_login" action="" method="post" id="simplelogin" enctype="multipart/form-data" autocomplete="off" novalidate="novalidate">
       <fieldset class="fieldset create account" data-hasrequired="* Required Fields">
        <div class="title"><span class="already_account">Already Have An Account</span></div>
        <?php echo $this->getBlockHtml('formkey')?>
        <div class="login_errmsg"></div>
        <div class="field required">
            <label for="email_address" class="label"><span>Email</span></label>
            <div class="control">
                <input type="email" name="login[username]" autocomplete="email" id="normal_login_email" value="" title="Email" class="input-text mage-error">
      
            </div>
        </div>
        <div class="field password required">
            <label for="password" class="label"><span>Password</span></label>
            <div class="control">
                <input type="password" name="login[password]" id="normal_login_password" title="Password" class="input-text mage-error" data-password-min-length="8" data-password-min-character-sets="3" autocomplete="off">
                

            </div>

        </div>
     
      </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="button" class="action submit btn btn-primary btn-lg" title="Create an Account" id="normal_login"><span>Login</span></button>
            <div class="login-loader-img" style="display:none;"><img src="<?php echo $this->getUrl('pub/media'); ?>ideaboards-page/three-bar-loader.gif" width="80px;"/></div>
            <div class="forget_link"><a href="<?php echo $this->getUrl('customer/account/forgotpassword'); ?>">Forgot Your Password?</a></div>
        </div>
    </div>
    
   
   </form>
 </div>

 </div>
 <div style="clear:both;"></div>
      <div class="modal-footer">
      
      </div>
    </div>

  </div>
</div>
<?php /*****************************End, Login/Signup Popup***********************************/?>


 <!-- Modal -->
<div class="modal fade" role="dialog" id="addtocart_popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        The item has been added to your cart.
      </div>
     
      <div class="modal-footer">
        <button type="button" class="action primary btn popup-btn" data-dismiss="modal">Keep Shopping</button>
        <a href="<?php echo $block->getUrl('checkout/cart', ['_secure' => true]);?>" class="action primary btn popup-btn">Check Out Now</a>
      </div>
    </div>
  </div>
</div>


<?php /*******************************************Mywork Idea Board Popup******************************************/ ?>

<!-- Modal -->

<div id="mywork-ideaboard-popup" class="modal fade" role="dialog">
  <div class="modal-dialog">

   <div class="loader-ideboard-login-signup" align="center" style="display:none;"><img src="<?php echo $this -> getUrl('pub/media').'ideaboards-page/loader-wishlist.gif'; ?>" width="100px"/></div>


    <!-- Modal content-->
    <div class="modal-content ideaboards-list-container" style="display:none;">
     <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Idea Board</h4>
      </div>
      <div class="modal-body">
        <div style="text-align:right;">
		<button id="show_ideaboard" type="button" class="create-board">Create Idea Board</button>
	</div>

  
	<div class="wishlist_block" id="ideaBoardDiv" style="display:none;">
    <div class="wk-input">
        <input type="text" name="wk_name" class="wk_name" placeholder="<?php echo __('Enter Idea Board Name') ?>">
    </div>
    <div class="wk-button-div">
        <button class="wk-modal-button action primary mgl add_new_ideboard" title="Add Idea Board"><img class="plus-button-cart" src="https://cdn2.iconfinder.com/data/icons/instagram-ui/48/jee-79-128.png"><?php echo __('Add Idea Board') ?></button>
    </div>
    <div id="ideaboard_msg_status"></div>

    <div style="height:10px; clear: both;"></div>
   </div>

  <div class="loader-wishlist" align="center" style="display:none;"><img src="<?php echo $this -> getUrl('pub/media').'ideaboards-page/loader-wishlist.gif'; ?>" width="100px"/></div>
  <div class="wk-mw-list" id="mywork-wk-list">
  
   </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
</div>



   
<?php /*****************************Start, IdeaBoards Popup***********************************/?>


<div class="modal-content ideaboards-login-container" style="display:none;">
 <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h4 class="modal-title">Idea Board</h4>
  </div>

  <div id="ideaboardsloginModal" class="modal-body">
   <div class="signup-section">
       <form class="" action="" method="post" id="fideaboardssignup" enctype="multipart/form-data" autocomplete="off" novalidate="novalidate">
       <fieldset class="fieldset create account" data-hasrequired="* Required Fields">
        <div class="title"><span>Signup to create Idea Boards</span></div>
        <div class="signup_errmsg"></div>
        <?php echo $this->getBlockHtml('formkey')?>
        
        <div class="field required">
            <label for="email_address" class="label"><span>Email</span></label>
            <div class="control">
                <input type="email" name="email" autocomplete="email" id="email_address" value="" title="Email" class="input-text mage-error">
                
            </div>
        </div>
        <div class="field password required">
            <label for="password" class="label"><span>Password</span></label>
            <div class="control">
                <input type="password" name="password" id="password" title="Password" class="input-text mage-error" data-password-min-length="8" data-password-min-character-sets="3"  autocomplete="off" aria-required="true" aria-invalid="true">
            
            </div>

        </div>
        <div class="field confirmation required">
            <label for="password-confirmation" class="label"><span>Confirm Password</span></label>
            <div class="control">
                <input type="password" name="password_confirmation" title="Confirm Password" id="password-confirmation" class="input-text mage-error"  autocomplete="off">
            </div>
        </div>
      </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="button" class="action submit btn btn-primary btn-lg" title="Create an Account" id="ideaboards_signup"><span>Signup</span></button>
             <div class="signup-loader-img" style="display:none;"><img src="<?php echo $this->getUrl('pub/media'); ?>ideaboards-page/three-bar-loader.gif" width="80px;"/></div>
        </div>
        
    </div>
</form>
 </div>

 
   <div class="login-section">
    <form class="fideaboards_login" action="" method="post" id="fideaboardslogin" enctype="multipart/form-data" autocomplete="off" novalidate="novalidate">
       <fieldset class="fieldset create account" data-hasrequired="* Required Fields">
        <div class="title"><span>Login to create Idea Boards</span></div>
        <?php echo $this->getBlockHtml('formkey')?>
        <div class="login_errmsg"></div>
        <div class="field required">
            <label for="email_address" class="label"><span>Email</span></label>
            <div class="control">
                <input type="email" name="login[username]" autocomplete="email" id="login_email" value="" title="Email" class="input-text mage-error">
                
            </div>
        </div>
        <div class="field password required">
            <label for="password" class="label"><span>Password</span></label>
            <div class="control">
                <input type="password" name="login[password]" id="login_password" title="Password" class="input-text mage-error" data-password-min-length="8" data-password-min-character-sets="3" autocomplete="off">
                

            </div>

        </div>
     
      </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="button" class="action submit btn btn-primary btn-lg" title="Create an Account" id="ideaboards_login"><span>Login</span></button>
            <div class="login-loader-img" style="display:none;"><img src="<?php echo $this->getUrl('pub/media'); ?>ideaboards-page/three-bar-loader.gif" width="80px;"/></div>
        </div>
    </div>
    <div class="more_details"><a href="<?php echo $this->getUrl(); ?>ideaboards">More Details</a></div>

   </form>
 </div>
</div>
<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
 </div>


</div>
<?php /*****************************End, IdeaBoards Popup***********************************/?>



  



  </div>
</div>


<?php /*************************************Start, Pincode popup**********************************************/ ?>

  <div id="pincode-checker" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
 <!-- Modal content-->
    <div class="modal-content" >
     <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Check Delivery</h4>
      </div>
      <div class="modal-body">
        
       <form data-mage-init='{"validation": {}}' class="form" id="checkDelivery-form" method="post" autocomplete="off" onSubmit="return checkPostcode()">
         <div style="clear:both;"></div>
       
      <div class="field required">
      
        <div class="check_delivery_text">
          <input type="text" name="postcode" id="delivery_postcode" placeholder="YOUR PINCODE" value="" title="<?php echo __('Postcode') ?>" class="input-text" data-validate="{required:true, 'validate-digits':true}">
        </div>

        <div class="check_delivery_butt">
        <button type="submit" class="" title="<?php  echo __('Check') ?>"><span><?php echo __('Check') ?></span></button>
        </div>
      </div>
      
        <div style="clear:both;"></div>
    <div class="message" style="display:none;"></div>
  </form>
  <script type="text/x-magento-init">
    {
      "#checkDelivery-form": {
        "validation": {}
      }
    }
  </script>
  <script>
    function checkPostcode() {
    
      jQuery('#checkDelivery-form .message').show();
      var deliveryMessage = jQuery('#checkDelivery-form .message');
      deliveryMessage.removeClass('success').removeClass('error').hide();
      var deliveryForm = jQuery('#checkDelivery-form');
      if(deliveryForm.valid()) {
        jQuery.ajax({
          type: "POST",
          url: '<?php echo $this->getUrl('checkDelivery/postcode/pincodecheck') ?>',
          data: deliveryForm.serialize(),
          dataType: "json",
          showLoader: true,
          success: function(response) {
             deliveryMessage.addClass(response.type).html(response.message).show();
          }
        });
      }
      return false;
    }
  </script>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default mywork-btn" data-dismiss="modal">Close</button>
      </div>
  </div>
  </div>
  </div>


<div id="authpopup" class="modal fade" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                <h4 class="modal-title">Authentication</h4>
            </div>
            <div class="modal-body">
                <!-- <p>Subscribe to our mailing list to get the latest updates straight in your inbox.</p> -->
                <form method="post" name="check_authf" id="check_authf">
                    <div class="authlogin_errmsg"></div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="auth_uname" id="auth_uname" placeholder="User Name">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="auth_password" id="auth_password" placeholder="Password" autocomplete="off">
                    </div>
                    <button type="button" class="btn btn-primary" id="check_auth">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

  <?php /*************************************Start, Pincode popup**********************************************/ ?>