<?php
use Magento\Framework\App\Action\Action;
$pub_media_url = $this -> getUrl('pub/media');
$multiwishlist_url= $this -> getUrl('pub/static/frontend/Mgs/adella/en_US/Webkul_MultiWishlist/');

$js_url = $block -> getViewFileUrl('homejs/');
$css_url = $block -> getViewFileUrl('homecss/');
$image_url = $block -> getViewFileUrl('homeimages/');

$ProdblockObj = $block -> getLayout() -> createBlock('Magento\Catalog\Block\Product\ListProduct');
$quickViewHelper = $this -> helper('MGS\QuickView\Helper\Data');

$themeHelper = $this -> helper('MGS\Mpanel\Helper\Data');
$themeSettings = $themeHelper -> getThemeSettings();

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseUrl=$storeManager->getStore()->getBaseUrl();

$customerSession = $objectManager->get('Magento\Customer\Model\Session');

?>

<!-- Bootstrap core CSS -->
<link href="<?php echo $css_url;?>/bootstrap.min.css" rel="stylesheet">
<link href="<?php echo $css_url;?>/bootstrap-theme.min.css" rel="stylesheet">
<link href="<?php echo $css_url;?>/font-awesome.min.css" rel="stylesheet">
<link href="<?php echo $css_url;?>/style.css" rel="stylesheet">
<link href="<?php echo $css_url;?>/animate.min.css" rel="stylesheet" media="all">
<link href="<?php echo $multiwishlist_url.'css/multiwishlist.css';?>" rel="stylesheet" media="all">

<script src="<?php echo $js_url;?>/ie-emulation-modes-warning.js"></script>



<main class="main-wrapper main-wrapper-edit">
	<div id="first-slider" class="">
		<div id="carousel-example-generic" class="carousel slide carousel-fade">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
				<li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
				<li data-target="#carousel-example-generic" data-slide-to="3" class=""></li>
				<li data-target="#carousel-example-generic" data-slide-to="4" class=""></li>
				
			</ol>


  <?php 
  $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
  $storeManager = $objectManager -> get('\Magento\Store\Model\StoreManagerInterface');
  $productFactory = $objectManager->get('\Magento\Catalog\Model\ProductFactory');
 
  $slide_bed_product_id = $objectManager->get('Magento\Catalog\Model\Product')->getIdBySku('AABFWB01');
  $slide_bed_product = $productFactory->create()->load($slide_bed_product_id);
  $slide_bed_product_url= $slide_bed_product->getProductUrl();

  $slide_mirror_product_id = $objectManager->get('Magento\Catalog\Model\Product')->getIdBySku('AADCWM06');
  $slide_mirror_product = $productFactory->create()->load($slide_mirror_product_id);
  $slide_mirror_product_url= $slide_mirror_product->getProductUrl();

  $slide_sofa_product_id = $objectManager->get('Magento\Catalog\Model\Product')->getIdBySku('AALSF3SS05');
  $slide_sofa_product = $productFactory->create()->load($slide_sofa_product_id);
  $slide_sofa_product_url= $slide_sofa_product->getProductUrl();

  $slide_table_product_id = $objectManager->get('Magento\Catalog\Model\Product')->getIdBySku('AADTRT05');
  $slide_table_product = $productFactory->create()->load($slide_table_product_id);
  $slide_table_product_url= $slide_table_product->getProductUrl();

  $slide_nightstand_product_id = $objectManager->get('Magento\Catalog\Model\Product')->getIdBySku('AADLSCSC07');
  $slide_nightstand_product = $productFactory->create()->load($slide_nightstand_product_id);
  $slide_nightstand_product_url= $slide_nightstand_product->getProductUrl();

   ?>





			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				<!-- Item 1 -->

               
				<div class="item slide1 active">
				  <div class="row">
				   <a href="<?php echo $slide_nightstand_product_url; ?>">
						<div class="container">
							<div class="col-md-7 text-left">
							  
							</div>
							<div class="col-md-5 text-right">
							
							</div>
						</div>
						 </a>
					</div>
				</div>
               

				<!-- Item 2 -->
				
				<div class="item slide2">
					<div class="row">
					<a href="<?php echo $slide_bed_product_url; ?>">
						<div class="container">
							<div class="col-md-7 text-left">
								
							</div>
							<div class="col-md-5 text-right">
							
								
							</div>
						</div>
						</a>
					</div>
				</div>
				
				<!-- Item 3 -->
				
				<div class="item slide3">
					<div class="row">
					<a href="<?php echo $slide_table_product_url; ?>">
						<div class="container">
							<div class="col-md-7 text-left">
								
							</div>
							<div class="col-md-5 text-right">
								
							</div>
						</div>
						</a>
					</div>
				</div>


				<!-- Item 4-->
				
				<div class="item slide4">
					<div class="row">
					<a href="<?php echo $slide_mirror_product_url; ?>">
						<div class="container">
							<div class="col-md-7 text-left">
								
							</div>
							<div class="col-md-5 text-right">
								
							</div>
						</div>
						</a>
					</div>
				</div>


				<!-- Item 5 -->
				
				<div class="item slide5">
					<div class="row">
					<a href="<?php echo $slide_sofa_product_url; ?>">
						<div class="container">
							<div class="col-md-7 text-left">
							
							</div>
							<div class="col-md-5 text-right">
							
							</div>
						</div>
						</a>
					</div>
				</div>

	
			</div>
			<!-- End Wrapper for slides-->
			<a class="left carousel-control" href="#carousel-example-generic" role="button"
			data-slide="prev"> <i class="fa fa-angle-left"></i><span class="sr-only">Previous</span> </a>
			<a class="right carousel-control" href="#carousel-example-generic"
			role="button" data-slide="next"> <i class="fa fa-angle-right"></i><span class="sr-only">Next</span> </a>
		</div>
	</div>
	<?php /************************************Start, Products**************************************/?>

	<?php
	
	$base_url = $storeManager -> getStore() -> getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);

	$categoryFactory = $objectManager -> get('\Magento\Catalog\Model\CategoryFactory');
	$categoryId = 9;
	// YOUR CATEGORY ID
	$category = $categoryFactory -> create() -> load($categoryId);
	$categoryProducts = $category -> getProductCollection() -> addAttributeToSelect('*');
	?>

	<div class="main-products clearfix">

     <div class="main-products-row row">
			<div class="container-fluid">

			   <h2 class="heading-tag">Shop the Look</h2>
				
				<div class="col-sm-6 col-md-6 col-lg-6 p-l-0 p-r-0">
					<div class="product-box banner-type-hover-effect">
						<div class="box-inner">

                           <div class="lifestyle-container">
                           	

                             <?php /*******************Image1 Details********************************/

                                    $product_ids=array(2549,2539,2542,2657);
                                    $portion_array=array(2549=>array('top'=>61,'left'=>45),2539=>array('top'=>58,'left'=>8),2542=>array('top'=>59,'left'=>27),2657=>array('top'=>60,'left'=>85));
                                   

                                    foreach($product_ids as $product_id):
									$bed_product = $objectManager->create('Magento\Catalog\Model\Product')->load($product_id);
									$bed_product_name=$bed_product->getName();
									
                                    $bed_product_url=$bed_product->getProductUrl();
                                    $bed_product_price=$bed_product->getPrice();
                                    $priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data'); // Instance of Pricing Helper
								    $bed_formattedPrice = $priceHelper->currency($bed_product_price, true, false);

									$imageHelper  = $objectManager->get('\Magento\Catalog\Helper\Image');
									$bed_product_image = $imageHelper->init($bed_product, 'product_page_image_medium')->setImageFile($bed_product->getFile())->resize(252, 246)->getUrl();
                                ?>



                              <div class="lifestyle-overlay inactive">
				              <div class="lifestyle-info-wrapper">
				              <div class="lifestyle-info--centered <?php echo $product_id; ?>-container">
				              <div class="js-lifestyle-close lifestyle-close" data-close="<?php echo $product_id; ?>"></div>
				              <div class="group js-lifestyle-info">
                              <div class="product-cell--plain">
					          <a name="prod14880422" href=""><div class="">
							  <div class="product-cell__inset-container" style="position:relative">
							  <a href="<?php echo $bed_product_url; ?>"><img class="" src="<?php echo $bed_product_image; ?>" alt="" style="display: inline;"></a>
						      </div>
							</div>
							</a></div>

						      <div class="">
							<a href="<?php echo $bed_product_url; ?>"><span class=""><?php echo $bed_product_name; ?><div class="">
									<div class="">
					
										<div class="">
												<span class="">
											     <?php echo $bed_formattedPrice; ?></span>
												
											</div>
										</div>
									
									
										</div>
								</a></div>

						      </div>
				                </div>
				              </div>
				              <a title="<?php echo $bed_product_name; ?>" class="lifestyle-icon" data-id="<?php echo $product_id; ?>" style="top: <?php echo $portion_array[$product_id]['top'] ?>%; left: <?php echo $portion_array[$product_id]['left'] ?>%; display: inline; cursor: pointer;"><i class="fa fa-tag"></i></a>
				            </div>

				        <?php endforeach; 
                              unset($product_ids);
                              unset($portion_array);

				        ?>

                             
                          <img width="" height="" src="<?php echo $pub_media_url;?>images/Bedroom.jpg" class="" alt="">

                           </div>

						
						</div>
						
					</div>
				</div>
				
          
				
				<div class="col-sm-6 col-md-6 col-lg-6 p-l-0 p-r-0">
					<div class="product-box banner-type-hover-effect">
						<div class="box-inner">
							<div class="banner-image">
							 <div class="lifestyle-container">
                           	


                             <?php /*******************Image2 Details********************************/

                                    $product_ids=array(2617,2583,2613);
                                    $portion_array=array(2617=>array('top'=>69,'left'=>70),2583=>array('top'=>43,'left'=>13),2613=>array('top'=>49,'left'=>70));
                         

                                    foreach($product_ids as $product_id):
									$bed_product = $objectManager->create('Magento\Catalog\Model\Product')->load($product_id);
									$bed_product_name=$bed_product->getName();
									
                                    $bed_product_url=$bed_product->getProductUrl();
                                    $bed_product_price=$bed_product->getPrice();
                                    $priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data'); // Instance of Pricing Helper
								    $bed_formattedPrice = $priceHelper->currency($bed_product_price, true, false);

									$imageHelper  = $objectManager->get('\Magento\Catalog\Helper\Image');
									$bed_product_image = $imageHelper->init($bed_product, 'product_page_image_medium')->setImageFile($bed_product->getFile())->resize(252, 246)->getUrl();
                                ?>



                              <div class="lifestyle-overlay inactive">
				              <div class="lifestyle-info-wrapper">
				              <div class="lifestyle-info--centered <?php echo $product_id; ?>-container">
				              <div class="js-lifestyle-close lifestyle-close" data-close="<?php echo $product_id; ?>"></div>
				              <div class="group js-lifestyle-info">
                              <div class="product-cell--plain">
					          <a name="prod14880422" href=""><div class="">
							  <div class="product-cell__inset-container" style="position:relative">
							  <a href="<?php echo $bed_product_url; ?>"><img class="" src="<?php echo $bed_product_image; ?>" alt="" style="display: inline;"></a>
						      </div>
							</div>
							</a></div>

						      <div class="">
							<a href="<?php echo $bed_product_url; ?>"><span class=""><?php echo $bed_product_name; ?><div class="">
									<div class="">
					
										<div class="">
												<span class="">
											     <?php echo $bed_formattedPrice; ?></span>
												
											</div>
										</div>
									
									
										</div>
								</a></div>

						      </div>
				                </div>
				              </div>
				              <a title="<?php echo $bed_product_name; ?>" class="lifestyle-icon" data-id="<?php echo $product_id; ?>" style="top: <?php echo $portion_array[$product_id]['top'] ?>%; left: <?php echo $portion_array[$product_id]['left'] ?>%; display: inline; cursor: pointer;"><i class="fa fa-tag"></i></a>
				            </div>

				        <?php endforeach; 
                              unset($product_ids);
                              unset($portion_array);

				        ?>

                            <img width="" height="" src="<?php echo $pub_media_url;?>images/Dining.jpg" class="" alt="" >
							</div>	
							</div>
						</div>
						
						
					</div>
				</div>
				
           </div>
		</div>




	</div>

	<?php

/**************************************Products**********************************************/

 ?>


<div class="product-filter clearfix home_grid_section">
		<div class="container-fluid">
			<h2 class="heading-tag">Discover our Categories</h2>
			<div class="row">
			<?php
            $inc=0;
            $product_ids=array(2545,2577,2591,2549);
            $cat_ids=array(3,20,11,66);
			$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
            
            foreach($product_ids as $product_id){

             $product = $objectManager->create('Magento\Catalog\Model\Product')->load($product_id);





			$categoryFactory = $objectManager -> get('\Magento\Catalog\Model\CategoryFactory');
            
            if($cat_ids[$inc]!=''){

            	$category = $categoryFactory -> create() -> load($cat_ids[$inc]);
            }
           
			$product_name=$product->getName();
			$product_shortdesc_data= $product->getShortDescription();
			$product_shortdesc = substr($product_shortdesc_data,0,25);
			$_productType = $product->getTypeID();

			if(strlen($product_shortdesc_data)>25){
			$product_shortdesc .='...';
			}
			$product_url=$product->getProductUrl();
			$imageHelper  = $objectManager->get('\Magento\Catalog\Helper\Image');
			$product_image = $imageHelper->init($product, 'product_page_image_medium')->setImageFile($product->getFile())->resize(350, 350)->getUrl();
			
			?>

				<div class="col-md-3 col-xs-6">
					<div class="each-item">


						<a href="<?php echo $product_url; ?>"><img class="port-image prod-<?php echo $product->getId(); ?>"  id="prod-<?php echo $product->getId(); ?>" src="<?php echo $product_image; //$baseUrl.'/pub/media/catalog/product'.$product->getImage();?>" /></a>



						<div class="cap1">
							<h3><a href="<?php echo $product_url; ?>"><?php echo $product_name;?></a></h3>
							<p>
								<?php //echo $product_shortdesc;?>
							</p>
							<div class="product-icons text-center">
								<?php if ($product->isSaleable()):
								?>
								<?php $postParams = $ProdblockObj -> getAddToCartPostParams($product);?>
								<form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action'];?>" method="post">
									<input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product'];?>">
									<input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED;?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED];?>">
									<?php echo $ProdblockObj->getBlockHtml('formkey')
									?>
									<button type="submit"
									title="<?php echo $ProdblockObj -> escapeHtml(__('Add to Cart'));?>"
									class="action towishlist btn btn-addlist float_none" <?php echo ($_productType =='simple')? 'data-toggle="modal" data-target="#addtocart_popup"':''; ?>>
										<i class="fa fa-cart-plus" aria-hidden="true"></i>
									</button>
								</form>
								<?php endif;?>

								<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && !$themeSettings['catalog']['wishlist_button']):
								?>

                                <button href="#" class="action towishlist btn btn-addlist wk-towishlist1 mywork-towishlist float_none send_hidden" data-action="add-to-wishlist1" data-id="<?php echo $product -> getId();?>"  title="<?php echo $ProdblockObj -> escapeHtml(__('Add to Idea Boards'));?>" data-unec="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED];?>"  data-toggle="modal" data-target="#mywork-ideaboard-popup">
 
								<span class="pe-7s-like"></span>
								</button>


                                <button id="trigger-wishlist-<?php echo $product -> getId();?>" class="action towishlist btn btn-addlist float_none like_btn hide" aria-label="Add to Wish List" aria-label="<?php echo $ProdblockObj->escapeHtml(__('Add to Wish List')); ?>"
								data-post='<?php /* @escapeNotVerified */ echo $ProdblockObj->getAddToWishlistParams($product); ?>'
								data-action="add-to-wishlist"
								role="button">
								<i class="fa fa-heart-o" aria-hidden="true"></i>
								</button>
		                        
                                <?php endif;?>

								<?php echo $quickViewHelper -> aroundQuickViewHtml($product);?>
							</div>
						</div>
						<div class="cap2">
							<a class="text-center" href="<?php echo ($cat_ids[$inc]!='')? $category->getUrl() : '';?>">Discover <?php echo ($cat_ids[$inc]!='')? $category->getName() : '';?></a>
						</div>
					</div>
				</div>



				<?php 
                   //  }
				$inc++;
				}?>





			</div>
		</div>
	</div>




	<?php /**************************End, Products********************************************/?>

	<?php

/**************************************New Arrival Products**********************************************/

$productCollectionFactory = $objectManager->get('\Magento\Catalog\Model\ResourceModel\Product\CollectionFactory');
$new_collection = $productCollectionFactory->create();
$new_collection->addAttributeToSelect('*');
//$new_collection->addAttributeToFilter('status', ['in' => 1]);
$new_collection->addAttributeToFilter('new', ['in' => 1]);
$new_collection->setPageSize(4); // selecting only 8 products
$new_collection->addAttributeToSort('position', 'DESC');
$new_collection->load();

/**************************************Trend  Products**********************************************/

$productCollectionFactory1 = $objectManager->get('\Magento\Catalog\Model\ResourceModel\Product\CollectionFactory');
$trendCategoryProducts = $productCollectionFactory1->create()
->addAttributeToSelect('*')
->addAttributeToFilter('trending', ['in' => 1])
->setPageSize(4) // selecting only 8 products
->addAttributeToSort('position', 'DESC')
->load();

/**************************************Special Products**********************************************/

$productCollectionFactory2 = $objectManager->get('\Magento\Catalog\Model\ResourceModel\Product\CollectionFactory');
$specialCategoryProducts = $productCollectionFactory2->create()
->addAttributeToSelect('*')
->addAttributeToFilter('favourites', ['in' => 1])
->setPageSize(4) // selecting only 8 products
->addAttributeToSort('position', 'DESC')
->load();

/**************************************Blog Section**********************************************/

$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
$connection = $resource->getConnection();
$tableName = $resource->getTableName('mgs_blog_post'); //gives table name with prefix

//Select Data from table
$query = "Select title,url_key,image,short_content FROM " . $tableName. " where status=1 Order By post_id Desc limit 3";
$blog_result = $connection->fetchAll($query);

	?>

	<div class="product-filter clearfix home_main_filter">
		<div class="container-fluid">
			<div class="">
				<h2>Must Haves</h2>
			</div>
			<div class="text-center ">
				<button class="btn btn-default filter-button" data-filter="Trend">
					Trending
				</button>
				<button class="btn btn-default filter-button active" data-filter="New-Arrival">
					New Arrivals
				</button>
				<button class="btn btn-default filter-button" data-filter="Special">
					Our Favourites
				</button>
			</div>
			<br/>
			<div class="row">
			<?php
			foreach ($new_collection as $product) {
			$product_name=$product->getName();
			$product_shortdesc_data= $product->getShortDescription();
			$product_shortdesc = substr($product_shortdesc_data,0,25);
			$_productType = $product->getTypeID();

			if(strlen($product_shortdesc_data)>25){
			$product_shortdesc .='...';
			}
			$product_url=$product->getProductUrl();
			$imageHelper  = $objectManager->get('\Magento\Catalog\Helper\Image');
			$product_image = $imageHelper->init($product, 'product_page_image_small')->setImageFile($product->getFile())->resize(350, 350)->getUrl();
			?>

				<div class="col-md-3 col-xs-6 filter New-Arrival">
					<div class="each-item">
						<img class="port-image prod-<?php echo $product->getId(); ?>" id="prod-<?php echo $product->getId(); ?>" src="<?php echo $baseUrl.'pub/media/catalog/product'.$product->getImage();?>" />
						<div class="cap1">
							<h3><a href="<?php echo $product_url; ?>"><?php echo $product_name;?></a></h3>
							<p>
								<?php echo $product_shortdesc;?>
							</p>
							<div class="product-icons text-center">
								<?php if ($product->isSaleable()):
								?>
								<?php $postParams = $ProdblockObj -> getAddToCartPostParams($product);?>
								<form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action'];?>" method="post">
									<input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product'];?>">
									<input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED;?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED];?>">
									<?php echo $ProdblockObj->getBlockHtml('formkey')
									?>
									<button type="submit"
									title="<?php echo $ProdblockObj -> escapeHtml(__('Add to Cart'));?>"
									class="action towishlist btn btn-addlist float_none"  <?php echo ($_productType =='simple')? 'data-toggle="modal" data-target="#addtocart_popup"':''; ?>>
										<i class="fa fa-cart-plus" aria-hidden="true"></i>
									</button>
								</form>
								<?php endif;?>

								<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && !$themeSettings['catalog']['wishlist_button']):
								?>

                                <button href="#" class="action towishlist btn btn-addlist wk-towishlist1 mywork-towishlist float_none send_hidden" data-action="add-to-wishlist1" data-id="<?php echo $product -> getId();?>"  title="<?php echo $ProdblockObj -> escapeHtml(__('Add to Idea Boards'));?>" data-unec="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED];?>"  data-toggle="modal" data-target="#mywork-ideaboard-popup">
 
								<span class="pe-7s-like"></span>
								</button>


                                <button id="trigger-wishlist-<?php echo $product -> getId();?>" class="action towishlist btn btn-addlist float_none like_btn hide" aria-label="Add to Wish List" aria-label="<?php echo $ProdblockObj->escapeHtml(__('Add to Wish List')); ?>"
								data-post='<?php /* @escapeNotVerified */ echo $ProdblockObj->getAddToWishlistParams($product); ?>'
								data-action="add-to-wishlist"
								role="button">
								<i class="fa fa-heart-o" aria-hidden="true"></i>
								</button>
		                        
                                <?php endif;?>

								<?php echo $quickViewHelper -> aroundQuickViewHtml($product);?>
							</div>
						</div>
						<div class="cap2">
							<a class="text-center" href="<?php echo $product_url;?>">Visit</a>
						</div>
					</div>
				</div>
				<?php }?>

				<?php
foreach ($trendCategoryProducts as $product) {
$product_name=$product->getName();
$product_shortdesc_data= $product->getShortDescription();
$product_shortdesc = substr($product_shortdesc_data,0,25);
$_productType = $product->getTypeID();

if(strlen($product_shortdesc_data)>25){
$product_shortdesc .='...';
}
$product_url=$product->getProductUrl();
$imageHelper  = $objectManager->get('\Magento\Catalog\Helper\Image');
$product_image = $imageHelper->init($product, 'product_page_image_small')->setImageFile($product->getFile())->resize(350, 350)->getUrl();

				?>
				<div class="col-md-3  col-xs-6 filter Trend" style="display:none;">
					<div class="each-item">
						<img class="port-image prod-<?php echo $product->getId(); ?>" id="prod-<?php echo $product->getId(); ?>"  src="<?php echo $product_image;?>" />
						<div class="cap1">
							<h3><a href="<?php echo $product_url; ?>"><?php echo $product_name;?></a></h3>
							<p>
								<?php echo $product_shortdesc;?>
							</p>
							<div class="product-icons text-center">
								<?php if ($product->isSaleable()):
								?>
								<?php $postParams = $ProdblockObj -> getAddToCartPostParams($product);?>
								<form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action'];?>" method="post">
									<input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product'];?>">
									<input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED;?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED];?>">
									<?php echo $ProdblockObj->getBlockHtml('formkey')
									?>
									<button type="submit"
									title="<?php echo $ProdblockObj -> escapeHtml(__('Add to Cart'));?>"
									class="action towishlist btn btn-addlist float_none"  <?php echo ($_productType =='simple')? 'data-toggle="modal" data-target="#addtocart_popup"':''; ?>>
										<i class="fa fa-cart-plus" aria-hidden="true"></i>
									</button>
								</form>
								<?php endif;?>

								<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && !$themeSettings['catalog']['wishlist_button']):
								?>

								 <button href="#" class="action towishlist btn btn-addlist wk-towishlist1 mywork-towishlist float_none send_hidden" data-action="add-to-wishlist1" data-id="<?php echo $product -> getId();?>"  title="<?php echo $ProdblockObj -> escapeHtml(__('Add to Idea Boards'));?>" data-unec="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED];?>"  data-toggle="modal" data-target="#mywork-ideaboard-popup">
 
								<span class="pe-7s-like"></span>
								</button>

								
								 <button id="trigger-wishlist-<?php echo $product -> getId();?>" class="action towishlist btn btn-addlist float_none like_btn hide"
								aria-label="<?php echo $ProdblockObj -> escapeHtml(__('Add to Wish List'));?>"
								data-post='<?php /* @escapeNotVerified */ echo $ProdblockObj -> getAddToWishlistParams($product);?>'
								data-action="add-to-wishlist"
								role="button">
									<i class="fa fa-heart-o" aria-hidden="true"></i>
								</button>
								<?php endif;?>

								<?php echo $quickViewHelper -> aroundQuickViewHtml($product);?>
							</div>
						</div>
						<div class="cap2">
							<a class="text-center" href="<?php echo $product_url;?>">Visit</a>
						</div>
					</div>
				</div>
				<?php }?>

				<?php
foreach ($specialCategoryProducts as $product) {
$product_name=$product->getName();
$product_shortdesc_data= $product->getShortDescription();
$product_shortdesc = substr($product_shortdesc_data,0,25);
$_productType = $product->getTypeID();

if(strlen($product_shortdesc_data)>25){
$product_shortdesc .='...';
}
$product_url=$product->getProductUrl();
$imageHelper  = $objectManager->get('\Magento\Catalog\Helper\Image');
$product_image = $imageHelper->init($product, 'product_page_image_small')->setImageFile($product->getFile())->resize(350, 350)->getUrl();

				?>
				<div class="col-md-3 col-xs-6  filter Special" style="display:none;">
					<div class="each-item">
						<img class="port-image prod-<?php echo $product->getId(); ?>" id="prod-<?php echo $product->getId(); ?>"  src="<?php echo $product_image;?>"/>
						<div class="cap1">
							<h3><a href="<?php echo $product_url; ?>"><?php echo $product_name;?></a></h3>
							<p>
								<?php echo $product_shortdesc;?>
							</p>
							<div class="product-icons text-center">
								<?php if ($product->isSaleable()):
								?>
								<?php $postParams = $ProdblockObj -> getAddToCartPostParams($product);?>
								<form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action'];?>" method="post">
									<input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product'];?>">
									<input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED;?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED];?>">
									<?php echo $ProdblockObj->getBlockHtml('formkey')
									?>
									<button type="submit"
									title="<?php echo $ProdblockObj -> escapeHtml(__('Add to Cart'));?>"
									class="action towishlist btn btn-addlist float_none"  <?php echo ($_productType =='simple')? 'data-toggle="modal" data-target="#addtocart_popup"':''; ?>>
										<i class="fa fa-cart-plus" aria-hidden="true"></i>
									</button>
								</form>
								<?php endif;?>

								<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && !$themeSettings['catalog']['wishlist_button']):
								?>

								<button href="#" class="action towishlist btn btn-addlist wk-towishlist1 mywork-towishlist float_none send_hidden" data-action="add-to-wishlist1" data-id="<?php echo $product -> getId();?>"  title="<?php echo $ProdblockObj -> escapeHtml(__('Add to Idea Boards'));?>" data-unec="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED];?>"  data-toggle="modal" data-target="#mywork-ideaboard-popup">
 
								<span class="pe-7s-like"></span>
								</button>


								<button id="trigger-wishlist-<?php echo $product -> getId();?>" class="action towishlist btn btn-addlist float_none like_btn hide"
								aria-label="<?php echo $ProdblockObj -> escapeHtml(__('Add to Wish List'));?>"
								data-post='<?php /* @escapeNotVerified */ echo $ProdblockObj -> getAddToWishlistParams($product);?>'
								data-action="add-to-wishlist"
								role="button">
									<i class="fa fa-heart-o" aria-hidden="true"></i>
								</button>
								<?php endif;?>

								<?php echo $quickViewHelper -> aroundQuickViewHtml($product);?>
							</div>
						</div>
						<div class="cap2">
							<a class="text-center" href="<?php echo $product_url;?>">Visit</a>
						</div>
					</div>
				</div>
				<?php }?>
			</div>
		</div>
	</div>


	<div class="blog-sec clearfix home_blog_section">
		<div class="container">
			<h2 class="heading-tag">The Home and Company Blog</h2>
			<div class="subheading-tag">
				<p>
                  OUR LATEST MUSINGS
				</p>
			</div>
			<div class="row">
				<?php foreach($blog_result as $blogs):
				?>

				<div class="col-sm-4">
					<article class="blog-post-item">
						<div class="blog-item-has-effect">
							<a href="<?php echo $base_url . 'blog/' . $blogs['url_key'];?>"> <img width="370" src="<?php echo $pub_media_url . $blogs['image'];?>" class="" alt=""> <span class="pf-icon pf-icon-link"></span> <div class="item-overlay"></div> </a>
						</div>
						<div class="item-info clearfix">
							<div class="entry-header">
								<h3 class="entry-title"><a href="<?php echo $base_url . 'blog/' . $blogs['url_key'];?>" tabindex="0">
                                <?php echo substr($blogs['title'],0,25);
                               echo (strlen($blogs['title'])>25)?'...':'';
								?>
								</a></h3>
							</div>
							<div class="entry-excerpt">
								<?php echo substr($blogs['short_content'],0,100);
echo (strlen($blogs['short_content'])>100)?'...':'';
								?>
							</div>
							<div class="entry-meta-footer clearfix">
								<a class="btn btn-outline btn-xs" href="<?php echo $base_url . 'blog/' . $blogs['url_key'];?>" tabindex="0">Read more</a>
							</div>
						</div>
					</article>
				</div>
				<?php endforeach;?>
			</div>
		</div>
	</div>


</main>

<?php if (!$ProdblockObj->isRedirectToCartEnabled()) :
?>
<script type="text/x-magento-init">
	{
	"[data-role=tocart-form], .form.map.checkout": {
	"catalogAddToCart": {}
	}
	}
</script>
<?php endif;?>



<?php $helper = $this->helper('Webkul\MultiWishlist\Helper\Data');
 $collectionWishlist = $this->helper('Webkul\MultiWishlist\Helper\Data')->getWishlistNames();
 $wishlist = $objectManager->get('\Magento\Wishlist\Model\ItemFactory');

/***************************Get all postcodes******************************/
$helper = $this->helper('MageArray\CheckDelivery\Helper\Data');
$postcodes = $helper->getPostcodes();
$postalcode = explode(',',$postcodes);


 ?>
<!-- <div id="rejection" data-toggle="modal" data-target="#rejectModal" ><input type="button" value="postalcode"></div> -->
<div class="modal fade" id="rejectModal" role="dialog">
    <div class="modal-dialog">

        
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">All Pincodes</h4>
            </div>
			<div class="modal-body center">
			    <div class="table-responsive">
			        <table class="table">
			        	<thead>
			        		<tr>
			        		
			        			<td>
			        			<div>
				        			<?php foreach($postalcode as $key => $value){
				        					print($value.' ');
				        				}?>
				        		</div>
			        			</td>
			        		</tr>
			        	</thead>
			        	<tbody id="data_all_rejection"></tbody>
			        </table>
			    </div>
			</div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>