<?php
// https://www.mageplaza.com/magento-2-create-product-programmatically.html
/*$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); // instance of object manager
$product = $objectManager->create('\Magento\Catalog\Model\Product');
$product->setSku('sample-product2'); // Set your sku here
$product->setName('Sample Product2'); // Name of Product
$product->setAttributeSetId(4); // Attribute set id
$product->setStatus(1); // Status on product enabled/ disabled 1/0
$product->setWeight(10); // weight of product
$product->setVisibility(4); // visibilty of product (catalog / search / catalog, search / Not visible individually)
$product->setTaxClassId(0); // Tax class id
$product->setTypeId('simple'); // type of product (simple/virtual/downloadable/configurable)
$product->setPrice(100); // price of product
$product->setStockData(
array(
    'use_config_manage_stock' => 0,
    'manage_stock' => 1,
    'is_in_stock' => 1,
    'qty' => 9999
)
);
$product->save();*/

 ?>

<?php $pub_media_url = $this -> getUrl('pub/media'); ?>
<div class="large-12 columns">
<div class="GuestWishList-calloutText u-altFont u-mv15">Collect your favorite pieces, curate your inspiration all in one place with Idea Boards. Share your Idea Boards with family and friends to make shopping from home easier than ever before.</div>

<?php $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');

if(!$customerSession->isLoggedIn()) {
   echo '<div class="text-center register-signin">
<button type="button" class="btn btn-regis" data-toggle="modal" data-target="#myModal">Signup/Login</button>
</div>';
} ?>

<!-- <div class="col-sm-3">
<div class="outer-box">
<div class="whisimg"><img src="<?php //echo $pub_media_url ?>ideaboards-page/cart.png" /></div>
<div class="middle-content">
<h4>CART</h4>
<p>Lorem Ipsum is simply dummy text of the printing.</p>
</div>
</div>
</div> -->
<div class="whishlist-block">
<div class="row">
<div class="col-sm-4">
<div class="outer-box">
<div class="whisimg">
    <div class="whisimg_in">
        <i class="fa fa-bookmark-o"></i>
        <!--    <img src="<?php echo $pub_media_url ?>ideaboards-page/save.png" />-->
    </div>
</div>
<div class="middle-content">
<h4>SAVE</h4>
<p>Save your favorite products to view at a later time.</p>
</div>
</div>
</div>
<div class="col-sm-4">
<div class="outer-box">
<div class="whisimg">
    <div class="whisimg_in">
        <i class="fa fa-life-ring"></i>
    </div>
<!--    <img src="<?php echo $pub_media_url ?>ideaboards-page/organise.png" />-->
</div>
<div class="middle-content">
<h4>ORGANIZE</h4>
<p>Create multiple lists to help you organize collections by room or style.</p>
</div>
</div>
</div>
<div class="col-sm-4">
<div class="outer-box">
<div class="whisimg">
    <div class="whisimg_in">
        <i class="fa fa-share-alt"></i>
    </div>
<!--    <img src="<?php echo $pub_media_url ?>ideaboards-page/share.png" />-->
</div>
<div class="middle-content">
<h4>SHARE</h4>
<p>Share your list with friends, family, or your designer.</p>
</div>
</div>
</div>
<!-- <div class="col-sm-3">
<div class="outer-box">
<div class="whisimg"><img src="<?php //echo $pub_media_url ?>ideaboards-page/cart.png" /></div>
<div class="middle-content">
<h4>CART</h4>
<p>Lorem Ipsum is simply dummy text of the printing.</p>
</div>
</div>
</div> -->
</div>
</div>
</div>







<!-- Trigger the modal with a button -->


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Idea Boards</h4>
      </div>
      <div class="modal-body">
     
       <div class="signup-section">
       <form class="" action="" method="post" id="fideaboardssignup" enctype="multipart/form-data" autocomplete="off" novalidate="novalidate">
       <fieldset class="fieldset create account" data-hasrequired="* Required Fields">
        <div class="title"><span>Signup to create Idea Boards</span></div>
        <div class="signup_errmsg"></div>
        <?php echo $this->getBlockHtml('formkey')?>
        
        <div class="field required">
            <label for="email_address" class="label"><span>Email</span></label>
            <div class="control">
                <input type="email" name="email" autocomplete="email" id="email_address" value="" title="Email" class="input-text mage-error">
                <input type="hidden" name="ajax_signupurl" id="ajax_signupurl" value="<?php echo $this->getUrl().'ajaxsignup/index/signup'; ?>">
            </div>
        </div>
        <div class="field password required">
            <label for="password" class="label"><span>Password</span></label>
            <div class="control">
                <input type="password" name="password" id="password" title="Password" class="input-text mage-error" data-password-min-length="8" data-password-min-character-sets="3"  autocomplete="off" aria-required="true" aria-invalid="true">
            
            </div>

        </div>
        <div class="field confirmation required">
            <label for="password-confirmation" class="label"><span>Confirm Password</span></label>
            <div class="control">
                <input type="password" name="password_confirmation" title="Confirm Password" id="password-confirmation" class="input-text mage-error"  autocomplete="off">
            </div>
        </div>
      </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="button" class="action submit btn btn-primary btn-lg" title="Create an Account" id="ideaboards_signup"><span>Signup</span></button>
             <div class="signup-loader-img" style="display:none;"><img src="<?php echo $this->getUrl('pub/media'); ?>ideaboards-page/three-bar-loader.gif" width="80px;"/></div>
        </div>
        
    </div>
</form>
 </div>

 <div class="login-section">
    <form class="fideaboards_login" action="" method="post" id="fideaboardslogin" enctype="multipart/form-data" autocomplete="off" novalidate="novalidate">
       <fieldset class="fieldset create account" data-hasrequired="* Required Fields">
        <div class="title"><span>Login to create Idea Boards</span></div>
        <?php echo $this->getBlockHtml('formkey')?>
        <div class="login_errmsg"></div>
        <div class="field required">
            <label for="email_address" class="label"><span>Email</span></label>
            <div class="control">
                <input type="email" name="login[username]" autocomplete="email" id="login_email" value="" title="Email" class="input-text mage-error">
                <input type="hidden" name="ajax_loginurl" id="ajax_loginurl" value="<?php echo $this->getUrl().'ajaxsignup/index/login'; ?>">
            </div>
        </div>
        <div class="field password required">
            <label for="password" class="label"><span>Password</span></label>
            <div class="control">
                <input type="password" name="login[password]" id="login_password" title="Password" class="input-text mage-error" data-password-min-length="8" data-password-min-character-sets="3" autocomplete="off">
                

            </div>

        </div>
     
      </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="button" class="action submit btn btn-primary btn-lg" title="Create an Account" id="ideaboards_login"><span>Login</span></button>
            <div class="login-loader-img" style="display:none;"><img src="<?php echo $this->getUrl('pub/media'); ?>ideaboards-page/three-bar-loader.gif" width="80px;"/></div>
        </div>
    </div>
   </form>
 </div>
    
  <div style="clear:both"></div>
  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary close-button-ideaboardspopup" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>




<script type="text/javascript">
       
        require(["jquery"],function($) {
        $(document).ready(function() {

         
          /**************************************************Idea Boards Login******************************************************************/     

                  $('#ideaboards_login').on("click",function() {

                   $('.login-loader-img').show();
                   $("#ideaboards_login").attr("disabled", true);
                   var email_info= $('#login_email').val();
                   var email_password= $('#login_password').val();
                   var ajax_loginurl= $('#ajax_loginurl').val();
                   var customurl = ajax_loginurl;
                   var error=0;
                   var err_message="";

                    if(email_info =='' ){
                     
                    err_message += '<span class="cust_err">Please enter email</span>';
                    error++;
                    
                    }
                    
                    if(email_info!=''){
                    
                    var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                    if (!filter.test(email_info)) {
                      err_message += '<span class="cust_err">Please enter correct email</span>';
                      error=1;
                    }
                     
                   }
                 
                  
                   if(email_password==''){
                    err_message += '<span class="cust_err">Please enter password</span>';
                    error++;

                    }

                    if(error==0)
                     {
                    
                         $.ajax({
                        url: customurl,
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            email: email_info,
                            password: email_password,
                        },
                         success: function(response) {             
                          var loginStatus = response.login_status;
                          var loginMessage = response.login_message;
                           $('.login-loader-img').hide();
                           $("#ideaboards_login").attr("disabled", false);
                          if(loginStatus){
                             
                           window.location.href="<?php echo $this->getUrl(); ?>multiwishlist";

                          }else{
                          
                             $('.login_errmsg').html(loginMessage);
                             $('.login-loader-img').hide();
                             $("#ideaboards_login").attr("disabled", false);
                             return false;

                         }


                        },
                        error: function (xhr, status, errorThrown) {
                            $('.login-loader-img').hide();
                            $("#ideaboards_login").attr("disabled", false);
                        }
                       });

                    }else{
                       
                       $('.login-loader-img').hide();
                       $("#ideaboards_login").attr("disabled", false);
                       $('.login_errmsg').html(err_message);

                       return false;
                    }

                  });


                /**************************************************Idea Boards Signup******************************************************************/


                   $('#ideaboards_signup').on("click",function() {
                   $('.signup-loader-img').show();
                   $("#ideaboards_signup").attr("disabled", true);
                   var ajax_signupurl= $('#ajax_signupurl').val();
                   var customurl = ajax_signupurl;
                   var email= $('#email_address').val();
                   var password= $('#password').val();
                   var password_confirmation= $('#password-confirmation').val();

                   
                   var error=0;
                   var err_message="";


                    if(email =='' ){
                     
                     err_message += '<span class="cust_err">Please enter email</span>';
                     error=1;
                    
                    }

                    if(email!=''){

                    var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                    if (!filter.test(email)) {
                      err_message += '<span class="cust_err">Please enter correct email</span>';
                      error=1;
                    }
                     
                   }
                 
                    if(password==''){
                        
                     err_message += '<span class="cust_err">Please enter password</span>';
                     error=1;

                    }

                  
                    if(password!=''){
                    
                     var re = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/; 
                     var data=re.test(password);
                     if(data == false){
                         err_message += '<span class="cust_err">Please enter minimum 8 digit with at least one char,one special char,one digit</span>';
                         error=1;
                       }
                     }



                     if(password_confirmation==''){
                        
                     err_message += '<span class="cust_err">Please enter confirm password</span>';
                     error=1;

                    }
                   


                    if(password!='' && password_confirmation!='' && password!=password_confirmation){

                      err_message += '<span class="cust_err">Password and Confirm Password must be same</span>';
                      error=1;

                    }

                     
                     if(error==0)
                     {
                    
                        $.ajax({
                        url: customurl,
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            email: email,
                            password: password,
                            password_confirmation: password_confirmation
                           
                        },
                       success: function(response) {             
                       
                         
                        var signupStatus = response.signup_status;
                        var signupMessage = response.signup_message;
                         
                       
                     
                         if(signupStatus){

                           $('.signup-loader-img').hide();
                           $("#ideaboards_signup").attr("disabled", false);
                           window.location.href="<?php echo $this->getUrl(); ?>multiwishlist";
                            

                         }else{
                          
                             $('.signup-loader-img').hide();
                             $("#ideaboards_signup").attr("disabled", false);
                             $('.signup_errmsg').html(signupMessage);
                             return false;

                         }

                         


                        },
                        error: function (xhr, status, errorThrown) {
                            $('.signup-loader-img').hide();
                            $("#ideaboards_signup").attr("disabled", false);
                        }
                       });

                    }else{
                      $('.signup-loader-img').hide();
                      $("#ideaboards_signup").attr("disabled", false);
                      $('.signup_errmsg').html(err_message);
                      return false;
                    }

                  });



      });

    });



</script>