<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Template for filter items block
 *
 * @var $block \Magento\LayeredNavigation\Block\Navigation\FilterRenderer
 */
?>
<?php $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$category = $objectManager->get('Magento\Framework\Registry')->registry('current_category');
?>
<?php
$themeHelper = $this->helper('MGS\Mpanel\Helper\Data');
$design =  preg_replace('/\D/', '', $themeHelper->checkLayoutPage($category)->getPageLayout());
 ?>
<?php if($design =='1'): ?>
<select class="form-control">
		<option value="" selected="selected"><?php echo __('Please choose') ?></option>
		<?php foreach ($filterItems as $filterItem): ?>
			<?php if ($filterItem->getCount() > 0): ?>
				<option value="<?php echo $block->escapeUrl($filterItem->getUrl()) ?>"><?php echo $filterItem->getLabel() ?>
					<?php if ($this->helper('\Magento\Catalog\Helper\Data')->shouldDisplayProductCountOnLayer()): ?>
						&nbsp;&nbsp;(<?php echo $filterItem->getCount()?>)
					<?php endif; ?>
				</option>
			<?php else:?>
				<option value=""><?php echo $filterItem->getLabel() ?>
					<?php if ($this->helper('\Magento\Catalog\Helper\Data')->shouldDisplayProductCountOnLayer()): ?>
						(<?php echo $filterItem->getCount()?>)
					<?php endif; ?>
				</option>
			<?php endif; ?>
		<?php endforeach;?>
</select>
<?php else: ?>
<ol class="items">
    <?php foreach ($filterItems as $filterItem): ?>
        <li class="item">
            <?php if ($filterItem->getCount() > 0): ?>
                <a href="<?php echo $block->escapeUrl($filterItem->getUrl()) ?>">
                    <?php /* @escapeNotVerified */ echo $filterItem->getLabel() ?>
                    <?php if ($this->helper('\Magento\Catalog\Helper\Data')->shouldDisplayProductCountOnLayer()): ?>
                        <span class="count">(<?php /* @escapeNotVerified */ echo $filterItem->getCount()?>)</span>
                    <?php endif; ?>
                </a>
            <?php else:?>
                <?php /* @escapeNotVerified */ echo $filterItem->getLabel() ?>
                <?php if ($this->helper('\Magento\Catalog\Helper\Data')->shouldDisplayProductCountOnLayer()): ?>
                    <span class="count">(<?php /* @escapeNotVerified */ echo $filterItem->getCount()?>)</span>
                <?php endif; ?>
            <?php endif; ?>
        </li>
    <?php endforeach ?>
</ol>

<?php endif;?>
