<div class="MagicToolboxContainer selectorsBottom minWidth"<?php echo $thumbSwitcherOptions ?>>
    
    <div class="MainContainer">
    <?php if (count($selectorsArray) > 1) { ?>
        <a href="#" class="mt-arrow prev"></a>
        <a href="#" class="mt-arrow next"></a>
    <?php } ?>
    <?php echo $mainHTML; ?>
    </div>    
<?php
if (count($selectorsArray) > 1) {
?>
    <div class="MagicToolboxSelectorsContainer">
        <div id="MagicToolboxSelectors<?php echo $id ?>" class="<?php echo $additionalClasses ?>"<?php echo $scrollOptions ?>>
        <?php echo join("\n\t\t", $selectorsArray); ?>
        </div>
    </div>
<?php
}
?>
</div>

<style type="text/css">
@media only screen and (max-width: 767px) {

.MainContainer { position: relative; }
.MainContainer .mt-arrow {
    text-decoration: none;
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    z-index:100000;
    font: 900 18px/32px 'magictoolbox-thin' !important;
    background:rgba(255,255,255,0.6);
    color:rgba(0,0,0,0.3);
    width: 32px;
    height: 32px;
}
.MainContainer .mt-arrow.prev { left: 0px; }
.MainContainer .mt-arrow.next { right: 0px; }
.MainContainer .mt-arrow.prev:before { content: "\a002"; }
.MainContainer .mt-arrow.next:before { content: "\a003"; }

.MagicToolboxSelectorsContainer { display: none; }

}

</style>

<script type="text/javascript">
require([
        'jquery'
    ], function($){

    $('.mt-arrow').on('click touchstart',function(e){
    	var $elm = $('.MagicToolboxSelectorsContainer .active-selector');
        if ($(this).hasClass('prev')) {
        	$elm = $elm.prev();
        	if ($elm.length==0) {
        		$elm = $('.MagicToolboxSelectorsContainer a').last();
        	}
        } else {
        	$elm = $elm.next();
        	if ($elm.length==0) {
        		$elm = $('.MagicToolboxSelectorsContainer a').first();
        	}
        }
        
        MagicZoom.switchTo($('.MagicZoom').attr('id'),$elm[0]);

        if ($elm.hasClass('m360-selector')) {
        	$('#mtImageContainer').hide();
        	$('#mtVideoContainer').hide();
        	$('#mt360Container').show();
        } else if ($elm.hasClass('video-selector')) {
        	$('#mtImageContainer').hide();
        	$('#mt360Container').hide();
        	$('#mtVideoContainer').show();
        } else {
        	$('#mtImageContainer').show();
        	$('#mt360Container').hide();
        	$('#mtVideoContainer').hide();
        }

        $('.MagicToolboxSelectorsContainer a').removeClass('active-selector')
        $($elm).addClass('active-selector')

        $elm.trigger('click');

        e.preventDefault();
    })
})
</script>