<div class="MagicToolboxContainer selectorsBottom minWidth"<?php echo $thumbSwitcherOptions ?>>
    
    <div class="MainContainer">
    <?php if (count($selectorsArray) > 1) { ?>
        <a href="#" class="mt-arrow prev"></a>
        <a href="#" class="mt-arrow next"></a>
    <?php } ?>
    <?php echo $mainHTML; ?>
    </div>    
<?php
if (count($selectorsArray) > 1) {
?>
    <div class="MagicToolboxSelectorsContainer">
        <div id="MagicToolboxSelectors<?php echo $id ?>" class="<?php echo $additionalClasses ?>"<?php echo $scrollOptions ?>>
        <?php echo join("\n\t\t", $selectorsArray); ?>
        </div>
    </div>
<?php
}
?>
</div>

<style type="text/css">


.MainContainer { position: relative; }
.MainContainer .mt-arrow {
    text-decoration: none;
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    z-index:100000;
    font: 900 28px/32px 'magictoolbox-thin' !important;
     background:#fff; 
    color:#777;
    width: 32px;
    height: 32px;
	border-radius:50%;
}
.MainContainer .mt-arrow.prev { left: -13.5px; }
.MainContainer .mt-arrow.next { right: -13px; }
.MainContainer .mt-arrow.prev:before { content: "\2039"; }
.MainContainer .mt-arrow.next:before { content: "\203A"; }

</style>

<script type="text/javascript">
require([
        'jquery'
    ], function($){

    $('.mt-arrow').on('click touchstart',function(e){
    	var $elm = $('.MagicToolboxSelectorsContainer .active-selector');
        if ($(this).hasClass('prev')) {
        	$elm = $elm.closest('.mcs-item').prev().find('a');
        	if ($elm.length==0) {
                if ($('.MagicToolboxSelectorsContainer .mcs-item').length) {
        		  $elm = $('.MagicToolboxSelectorsContainer .mcs-item').last().find('a');
                } else {
                   $elm = $('.MagicToolboxSelectorsContainer a').last();
                }
        	}
        } else {
        	$elm = $elm.closest('.mcs-item').next().find('a');
        	if ($elm.length==0) {
                if ($('.MagicToolboxSelectorsContainer .mcs-item')) {
                    $elm = $('.MagicToolboxSelectorsContainer .mcs-item').first().find('a');
                } else {
                    $elm = $('.MagicToolboxSelectorsContainer a').first();
                }
        	}
        }

        console.warn($elm);
        
        MagicZoom.switchTo($('.MagicZoom').attr('id'),$elm[0]);

        if ($elm.hasClass('m360-selector')) {
        	$('#mtImageContainer').hide();
        	$('#mtVideoContainer').hide();
        	$('#mt360Container').show();
        } else if ($elm.hasClass('video-selector')) {
        	$('#mtImageContainer').hide();
        	$('#mt360Container').hide();
        	$('#mtVideoContainer').show();
        } else {
        	$('#mtImageContainer').show();
        	$('#mt360Container').hide();
        	$('#mtVideoContainer').hide();
        }

        $('.MagicToolboxSelectorsContainer a').removeClass('active-selector')
        $($elm).addClass('active-selector')

        $elm.trigger('click');

        e.preventDefault();
    })
})
</script>