<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Category view template
 *
 * @var $block \Magento\Catalog\Block\Category\View
 */
?>
<?php if ($_description = $block->getCurrentCategory()->getDescription()): ?>
<?php $currentCategory=$block->getCurrentCategory()?>
<div class="page-title">
   <div class="container">
	<?php if($currentCategory->getName()): ?>	
		<h2><?php echo $currentCategory->getName(); ?></h2>
	<?php endif; ?>
	<?php if($currentCategory->getDescription()):?>		
		<?php echo $currentCategory->getDescription(); ?>
	<?php endif;?>
   </div>
 </div>   

<?php endif; ?>
