<?php 
$themeHelper = $this->helper('MGS\Mpanel\Helper\Data');
$themeSettings = $themeHelper->getThemeSettings();
?>
<?php if ($block->getConfig('general_settings/enabled')): ?>
    <?php if ($block->getConfig('product_page_settings/show_related_products_by_brand')): ?>
        <?php if ($brand = $block->getBrand()): ?>
            <?php
            $_productCollection = $block->getProductCollection();
            $_helper = $this->helper('Magento\Catalog\Helper\Output');
            ?>
            <?php if (count($_productCollection)): ?>
                <div class="brand-related-products navigation-top-right border-title">
                    <div class="block-title title">
                        <h3 id="block-heading" role="heading" aria-level="2"><?php echo $block->getConfig('product_page_settings/title_related_products'); ?></h3>
                    </div>
                    <div class="block-content content" aria-labelledby="block-heading">
                        <div class="products wrapper grid products-grid products-related">
                            <ol class="products list items product-items products-grid" id="brand-related-products">
                                <?php $iterator = 1; ?>
                                <?php foreach ($_productCollection as $_product): ?>
									<?php
										$image = 'related_products_list';
										$_itemNameStripped = $block->stripTags($_product->getName(), null, true); 
										$_imagehelper = $this->helper('Magento\Catalog\Helper\Image');
										$size = $themeHelper->getImageSize();
										$productImage = $_imagehelper->init($_product,$image)->resize($size['width'],$size['height'])->getUrl();
										$_productType = $_product->getTypeID();
									?>
                                    <li class="item product product-item">
                                        <div class="product-item-info product-content">
											<div class="product-top">
												<a href="<?php echo $_product->getProductUrl() ?>" class="product photo product-item-photo">
													<img src="<?php echo $productImage?>" alt="<?php echo $_itemNameStripped?>" class="img-responsive"/>
												</a>
											</div>
                                            <div class="product details product-item-details product-desc">
                                                <h4 class="product name product-item-name product-name"><a class="product-item-link" title="<?php echo $block->escapeHtml($_product->getName()) ?>" href="<?php echo $_product->getProductUrl() ?>">
                                                        <?php echo $block->escapeHtml($_product->getName()) ?></a>
                                                </h4>
												<div class="rating-price">
                                                <?php echo $block->getProductPrice($_product); ?>
                                                <?php //echo $block->getReviewsSummaryHtml($_product, 'short',true); ?>
												</div>
                                                <div class="controls1">                                                    
                                                    <div class="controls-hover1 col-md-10" data-role="add-to-links">
                                                        <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
                                                            <button data-post='<?php echo $block->getAddToWishlistParams($_product); ?>' class="action towishlist btn btn-addlist" data-action="add-to-wishlist" title="<?php echo __('Add to Wish List') ?>">
                                                                <span class="fa fa-heart"></span>
                                                            </button>
                                                        <?php endif; ?>
														 <?php if ($_product->isSaleable()): ?>
                                                            <?php if ($_product->getTypeInstance()->hasRequiredOptions($_product)): ?>
                                                                <button class="action tocart primary btn btn-addlist" data-mage-init='{"redirectUrl": {"url": "<?php echo $block->getAddToCartUrl($_product) ?>"}}' type="button" title="<?php echo __('Add to Cart') ?>">
                                                                    <span class="pe-7s-menu"></span>
                                                                </button>
                                                            <?php else: ?>
                                                                <?php $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
                                                                $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_product), ['product' => $_product->getEntityId()])
                                                                ?>
                                                                <button class="action tocart primary btn btn-addlist"
                                                                        data-post='<?php echo $postData; ?>'
                                                                        type="button" title="<?php echo __('Add to Cart') ?>">
                                                                    <span class="fa fa-shopping-cart"></span>
                                                                </button>
                                                            <?php endif; ?>
                                                        <?php endif; ?>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                <?php endforeach ?>
                            </ol>
							<script type="text/javascript">
								require([
									'jquery',
									'mgs/owlcarousel'
								], function(jQuery){
									(function($) {
									$("#brand-related-products").owlCarousel({
										items : 4,
										lazyLoad : true,
										loop: false,
										nav : true,
										dots : false,
										autoPlay: false,
										stopOnHover: false,
										margin: 30,
										navText: ["<i class='fa fa-angle-left'></i>","<i class='fa fa-angle-right'></i>"],
										responsive:{
											0 : {items: 1}, 480 : {items: 2}, 768 : {items: 2}, 980 : {items: 3}, 1200 : {items: 4}
										}
									});
									})(jQuery);
								});
							</script>
                        </div>
                    </div>
                </div>
            <?php endif; ?>
        <?php endif; ?>
    <?php endif; ?>
<?php endif; ?>
