<?php $product = $this->getCurrentProduct(); 
$product->getCheckDeliveryEnable();
?>
<?php //if($product && $product->getCheckDeliveryEnable()==1): ?>
	<form data-mage-init='{"validation": {}}' class="form" id="checkDelivery-form" method="post" autocomplete="off" onSubmit="return checkPostcode()">
	       <div style="clear:both;"></div>
		   <span class="check_delivery"><?php echo __('Check Delivery') ?></span>
			<div class="field required">
			
				<div class="check_delivery_text">
					<input type="text" name="postcode" id="delivery_postcode" placeholder="Enter your pincode" value="" title="<?php echo __('Postcode') ?>" class="input-text" data-validate="{required:true, 'validate-digits':true}">
				</div>

				<div class="check_delivery_butt">
				<button type="submit" class="" title="<?php  echo __('Check') ?>"><span><?php echo __('Check') ?></span></button>
				</div>
			</div>
			
        <div style="clear:both;"></div>
		<div class="message" style="display:none;"></div>
	</form>
	<script type="text/x-magento-init">
		{
			"#checkDelivery-form": {
				"validation": {}
			}
		}
	</script>
	<script>
		function checkPostcode() {
		
			jQuery('#checkDelivery-form .message').show();
			var deliveryMessage = jQuery('#checkDelivery-form .message');
			deliveryMessage.removeClass('success').removeClass('error').hide();
			var deliveryForm = jQuery('#checkDelivery-form');
			if(deliveryForm.valid()) {
				jQuery.ajax({
					type: "POST",
					url: '<?php echo $this->getUrl('checkDelivery/postcode/check',array('id'=>$product->getId())) ?>',
					data: deliveryForm.serialize(),
					dataType: "json",
					showLoader: true,
					success: function(response) {
						
						
						deliveryMessage.addClass(response.type).html(response.message).show();
					}
				});
			}
			return false;
		}
	</script>
<?php //endif; ?>
