<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Your %store_name order confirmation" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var formattedBillingAddress|raw":"Billing Address",
"var order.getEmailCustomerNote()":"Email Order Note",
"var order.increment_id":"Order Id",
"layout handle=\"sales_email_order_items\" order=$order area=\"frontend\"":"Order Items Grid",
"var payment_html|raw":"Payment Details",
"var formattedShippingAddress|raw":"Shipping Address",
"var order.getShippingDescription()":"Shipping Description"
"var shipping_msg":"Shipping message"
} @-->

{{template config_path="design/email/header_template"}}


  <tr>
      <td valign="top" align="left" bgcolor="#b0b1ae" height="50px "><img src="{{store url=""}}pub/media/theme/email/50px.png" width="1" height="50" alt="" style="display: block; border: none"/></td>
    </tr>
    <tr>
      <td valign="top" align="center" bgcolor="#b0b1ae" height="124px "><img src="{{store url=""}}pub/media/theme/email/doorbell_08.png" width="233" height="124" alt="" style="display: block; border: none"/></td>
    </tr>
      <tr>
      <td valign="top" align="left" bgcolor="#b0b1ae" height="30px "><img src="{{store url=""}}pub/media/theme/email/50px.png" width="1" height="30" alt="" style="display: block; border: none"/></td>
    </tr>
      
      <tr>
      <td valign="top" align="left" bgcolor="#b0b1ae"><table width="600" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="53px">&nbsp;</td>
    <td  width="500" bgcolor="#FFFFFF"><table width="500" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="498" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td ><table width="500" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="57"><img src="{{store url=""}}pub/media/theme/email/LEFT_02.png" width="55" height="47"></td>
    <td width="387"  > </td>
    <td width="56"><img src="{{store url=""}}pub/media/theme/email/RIGHT_02.png" width="56" height="47"></td>
  </tr>
</table>
</td>
      </tr>
      <tr>
        <td style="text-align:center; font-family:ARIAL; color:#F27434; font-size:30PX; font-style:italic;">GET EXCITED</td>
      </tr> <tr>
        <td height="25PX"><img src="{{store url=""}}pub/media/theme/email/25px.png" width="1" height="25"></td>
      </tr>
      <tr>
        <td style="text-align:center; font-family:ARIAL; color:#594933; font-size:14PX;" >Your order<strong>{{trans ' <span class="no-link">#%increment_id</span>' increment_id=$order.increment_id |raw}}</strong></td>
      </tr>
       <tr>
        <td height="10PX"></td>
      </tr>
      <tr>
        <td style="text-align:center; font-family:ARIAL; color:#594933; font-size:14PX;">has been confirmed<!--  and will be delivered by {{trans '<span class="no-link">%created_at</span>' created_at=$order.getCreatedAtFormatted(2) |raw}} --></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td style="border-bottom:3PX solid #F27434">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
   <tr>
    <td style="text-align:center; font-family:ARIAL; color:#F27434; font-size:16PX;">Items in your order</td>
  </tr>
   <tr>
    <td>&nbsp;</td>
  </tr>
   <tr>
    <td valign="top" align="center"><table width="435" border="0" cellspacing="0" cellpadding="0">
     {{layout handle="sales_email_order_items" order=$order area="frontend"}}
  <tr>
    <td style="border-bottom:1PX solid#594933" height="10PX"></td>
  </tr>
  <tr>
    <td><table width="435" border="0" cellspacing="0" cellpadding="0" style="text-align:LEFT; font-family:ARIAL; color:#594933; font-size:14PX;">
     <tr>
    <td width="250PX" height="10PX" > </td>
    <td width="185PX"></td>
    </tr>

  <tr>
    <td  height="25PX" >Delivery Charges: </td>
    <td>{{var order.getShippingDescription()}}
                        {{if shipping_msg}}
                        {{var shipping_msg}}
                        {{/if}}</td>
    </tr>
  <tr>
    <td  height="25PX" >Total: </td>
    <td>INR {{var order.getGrandTotal()}}</td>
    </tr>
</table>
</td>
  </tr>
  <tr>
    <td style="border-bottom:1PX solid#594933" height="10PX"></td>
  </tr>
  <tr>
    <td><table width="435" border="0" cellspacing="0" cellpadding="0" style="text-align:LEFT; font-family:ARIAL; color:#594933; font-size:14PX;">
     <tr>
    <td width="250PX" height="10PX" > </td>
    <td width="185PX"></td>
    </tr>
 <!--  <tr>
    <td width="250PX"  height="25PX"  >Status</td>
    <td width="185PX;" style="text-transform: capitalize;">{{trans "%order_status" order_status=$order.getStatusLabel() |raw}}</td>
    </tr>-->
  <tr> 
    <td  height="25PX" >Payment Mode</td>
    <td>{{var payment_html|raw}}</td>
    </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    </tr>
</table></td>
  </tr>
   <tr>
    <td style="border-bottom:1PX solid#594933" height="10PX"></td>
  </tr>
  <tr>
    <td><table width="435" border="0" cellspacing="0" cellpadding="0" style="text-align:LEFT; font-family:ARIAL; color:#594933; font-size:14PX;">
     <tr>
    <td width="250PX" height="10PX" > <td height="25PX"> </td>
    <td width="185PX"></td>
    </tr>
  <tr>
    <td width="250PX"  height="25PX"  >Delivery Details</td>
    <td width="185PX" rowspan="3">{{var formattedShippingAddress|raw}}</td>
    </tr>
  <tr>
    <td>&nbsp;</td>
    </tr>
  <tr>
    <td>&nbsp;</td>
    </tr>
</table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
 
</table>
</td>
  </tr>
    <tr>
        <td style="border-bottom:3PX solid #F27434">&nbsp;</td>
      </tr>
   <tr>
    <td>&nbsp;</td>
  </tr>
   <tr>
    <td style="text-align:center; font-family:ARIAL; color:#F27434; font-size:16PX;">Thank you shopping with us, we hope you had a great time. </td>
  </tr>
   <tr>
    <td>&nbsp;</td>
  </tr>
</table>
</td>
    <td>&nbsp;</td>
  </tr>
</table>
</td>
    </tr>
     <tr>
      <td valign="top" align="left" bgcolor="#b0b1ae"><a href="tel:12433849"><img src="{{store url=""}}pub/media/theme/email/CALL_09.png" width="600" height="16"  style="display: block; border: none"></a></td>
    </tr>
       <tr>
      <td valign="top" align="left" bgcolor="#b0b1ae"><a href="mailto:info@thehomeandcompany.com"><img src="{{store url=""}}pub/media/theme/email/info_11.png" width="600" height="19" alt="" style="display: block; border: none" /></a></td>
    </tr>
        <tr>
      <td valign="top" align="left" bgcolor="#fff" ><img src="{{store url=""}}pub/media/theme/email/foot-logo_11.png" width="600" height="43" alt="" style="display: block; border: none"/ /></td>
    </tr>
   <tr>
      <td height="25px"><img src="{{store url=""}}pub/media/theme/email/25px.png" width="1" height="25" alt="" style="display: block; border: none"/></td>
  </tr>

{{template config_path="design/email/footer_template"}}
