<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Your %store_name order has shipped" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var formattedBillingAddress|raw":"Billing Address",
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var order.getCustomerName()":"Customer Name",
"var order.increment_id":"Order Id",
"var payment_html|raw":"Payment Details",
"var comment":"Shipment Comment",
"var shipment.increment_id":"Shipment Id",
"layout handle=\"sales_email_order_shipment_items\" shipment=$shipment order=$order":"Shipment Items Grid",
"block class='Magento\\\\Framework\\\\View\\\\Element\\\\Template' area='frontend' template='Magento_Sales::email\/shipment\/track.phtml' shipment=$shipment order=$order":"Shipment Track Details",
"var formattedShippingAddress|raw":"Shipping Address",
"var order.shipping_description":"Shipping Description",
"var order.getShippingDescription()":"Shipping Description"
} @-->
{{template config_path="design/email/header_template"}}

  <tr>
      <td valign="top" align="left"><img src="{{store url=""}}pub/media/theme/email/receipt.png" width="600" height="400" alt="" style="display: block; border: none"/></td>
    </tr>
      <tr>
      <td height="25px"><img src="{{store url=""}}pub/media/theme/email/25px.png" width="1" height="25" alt="" style="display: block; border: none"/></td>
    </tr>
    <tr>
      <td bgcolor="#fFF" valign="top" align="center"><img src="{{store url=""}}pub/media/theme/email/GOODNESS_12.png" width="443" height="73" alt="" style="display: block; border: none"/></td>
    </tr>
       <tr>
      <td height="25px" ><img src="{{store url=""}}pub/media/theme/email/25px.png" width="1" height="25" alt="" style="display: block; border: none"/></td>
    </tr>
    <tr>
      <td height="25px" bgcolor="#f7f7f7">&nbsp;</td>
    </tr>
    <tr>
      <td style="text-align: center; font-family: arial; font-size: 14px; color: #f37535; line-height: 25px; font-weight: bold; " bgcolor="#f7f7f7">Just got a call from the delivery team saying that your order has been delivered. 
</td>
    </tr>
       <tr>
      <td style="text-align: center; font-family: arial; font-size: 14px; color: #4d4d4d; line-height: 25px " bgcolor="#f7f7f7">
We hope that the delivery was a smooth experience for you.<BR/> 
And now that you have what you wanted, we hope<BR/> 
 you enjoy it as much as we enjoyed crafting it for you.
</td>
    </tr>
    <tr>
      <td height="25px" bgcolor="#f7f7f7"><img src="{{store url=""}}pub/media/theme/email/25px.png" width="1" height="25" alt="" style="display: block; border: none"/></td>
    </tr>
      <tr>
      <td height="25px"><img src="{{store url=""}}pub/media/theme/email/25px.png" width="1" height="25" alt="" style="display: block; border: none"/></td>
    </tr>
      <tr>
      <td style="text-align: center; font-family: arial; font-size: 14px; color: #f37535; line-height: 25px; font-weight: bold; ">How was your shopping experience with us?  

    </tr>
      <tr>
      <td valign="middle" align="center" ><img src="{{store url=""}}pub/media/theme/email/STAR_14.png" width="443" height="59" alt="" style="display: block; border: none"/>

      </tr>
       <tr>
      <td height="25px" ><img src="{{store url=""}}pub/media/theme/email/25px.png" width="1" height="25" alt="" style="display: block; border: none"/></td>
    </tr>
    <tr>
      <td valign="top" align="center"><img src="{{store url=""}}pub/media/theme/email/logo.jpg" width="219" height="36" alt="" style="display: block; border: none"/></td>
    </tr>

{{template config_path="design/email/footer_template"}}
