<div
        data-bind="
        iwdBlockLoader: isLoading
        "
        id="iwd_opc_review"
        class="iwd_opc_column clearfix">
    <div
            data-bind="hasFocus: reviewFocus"
            tabindex="-1"
            class="iwd_opc_alternative_column">
        <div
                data-bind="
                click: toggleReview,
                css: opened()? 'opened' : 'closed'"
                id="iwd_opc_review_head" class="iwd_opc_button active with_angle">
            <!-- ko foreach: getRegion('grand-total-head') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div
                data-bind="visible: opened"
                id="iwd_opc_review_items_totals">
            <div id="iwd_opc_top_review_items_wrapper" data-bind="afterRender: appendScrollbar">
                <div id="iwd_opc_review_items">
                    <!-- ko foreach: getRegion('itemsBefore') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                    <!--/ko-->
                    <!-- ko foreach: getRegion('cart_items') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                    <!--/ko-->
                    <!-- ko foreach: getRegion('itemsAfter') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                    <!--/ko-->
                </div>
            </div>
            <div id="iwd_opc_review_totals">
                <!-- ko foreach: getRegion('totals') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
            </div>
        </div>
    </div>
</div>
