<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Checkout\Block\Cart\Sidebar */
?>
<?php $helper = $this->helper('MGS\Mpanel\Helper\Data'); ?>
<?php $header = $helper->getStoreConfig('mgstheme/general/header');
    /*New code added*/
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $cart = $objectManager->get('\Magento\Checkout\Model\Cart'); 
    $totalItems = $cart->getQuote()->getItemsCount();
    $totalQuantity = $cart->getQuote()->getItemsQty();
    /*End New code added*/

 ?>
<div data-block="minicart" class="minicart-wrapper block-cart-header switcher minicart-box">
    
     <a class="action showcart" title="Cart" href="<?php echo $block->getShoppingCartUrl(); ?>"
       data-bind="scope: 'minicart_content'">
        <span class=" icon-cart">
            <span class="<?php /*pe-7s-shopbag fa*/ ?>fa fa-cart-plus"></span>
            <?php if($header!='' && $header=='header_1'): ?>

                <span data-bind="css: { empty: !!getCartParam('summary_count') == false }, blockLoader: isLoading" class="count qty">
					<span class="counter-number loaded">
                       <!-- ko ifnot: getCartParam('summary_count') -->
                      
                      0
              
                      <!-- /ko -->
              

                  <!-- ko if: getCartParam('summary_count') > 0 -->
                     
                      <!-- ko text: getCartParam('summary_count') --><!-- /ko -->
                  
                  <!-- /ko -->


                   </span>
				
					
				</span>

                <?php /*
                <span class="count qty cart_count">
             
                    <span class="counter-number counter1">
                    <?php    
                    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                    $cart = $objectManager->get('\Magento\Checkout\Model\Cart'); 
                    $totalItems = $cart->getQuote()->getItemsCount();
                    $totalQuantity = $cart->getQuote()->getItemsQty();
                   
                    echo $totalQuantity + 0;
                   ?>

                   </span>
                </span>
               */ ?>


            <?php endif ?>
        </span>
        <?php if($header!='' && $header!='header_1' && $header!='header_2'): ?>
            <span class="title-shopbag">
                <span class="counter qty empty" data-bind="css: { empty: !!getCartParam('summary_count') == false || getCartParam('summary_count') == 1}, blockLoader: isLoading">
                    <span class="counter-number counter1"><!-- ko text: getCartParam('summary_count') -->0<!-- /ko --> <?php echo __('items') ?></span>
                    <span class="counter-number counter2"><!-- ko text: getCartParam('summary_count') -->0<!-- /ko --> <?php echo __('item') ?></span>
                </span>
                <!-- ko if: getCartParam('subtotal') -->
                    <span data-bind="html: '<span>  -  </span>' + getCartParam('subtotal')"></span>
                <!-- /ko -->
            </span>
        <?php elseif($header == 'header_2'): ?>
            <span class="count qty" data-bind="css: { empty: !!getCartParam('summary_count') == false }, blockLoader: isLoading">
                <span class="count h6 loaded">(<span class="counter-number loaded"><!-- ko text: getCartParam('summary_count') -->0<!-- /ko --></span> <?php echo __('Items') ?>)</span>
                <span class="count h6 firstload">(0 <?php echo __('Item') ?>)</span>
            </span>
        <?php endif ?>
    </a>


<?php /************************************Minicart Details*************************************************/ 


$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$base_url=$storeManager->getStore()->getBaseUrl();
$store = $storeManager->getStore();
$currencyCode = $store->getCurrentCurrencyCode();
$currentcurrency = trim($currencyCode);
$currency = $objectManager->create('Magento\Directory\Model\CurrencyFactory')->create()->load($currentcurrency);
$product_currencysymbol = $currency->getCurrencySymbol(); 




$cart = $objectManager->get('\Magento\Checkout\Model\Cart'); 
// retrieve quote items collection
$itemsCollection = $cart->getQuote()->getItemsCollection();
// get array of all items what can be display directly
$itemsVisible = $cart->getQuote()->getAllVisibleItems();
// retrieve quote items array
$items = $cart->getQuote()->getAllItems();

$totalItems = $cart->getQuote()->getItemsCount();
$totalQuantity = $cart->getQuote()->getItemsQty();

$subTotal = $cart->getQuote()->getSubtotal();
$grandTotal = $cart->getQuote()->getGrandTotal();
?>




<div aria-describedby="ui-id-1" role="dialog" tabindex="-1" style="display: none;" class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-front dropdown-menu minicartpopup">
    <div id="ui-id-1" class="block block-minicart empty ui-dialog-content ui-widget-content" style="" data-role="dropdownDialog">
        <div id="minicart-content-wrapper">

            <div class="block-content">
                <button title="Close" type="button" id="btn-minicart-close" class="action close" data-action="close">
                    <span><span>Close</span></span>
                </button>


                 <?php if($totalItems>0): ?>




                <div data-action="scroll" class="minicart-items-wrapper">
                    <ol style="height: 174px;" id="mini-cart" class="minicart-items">


                    
                     <?php foreach($itemsVisible as $item) {
                             $quote_id=$item->getId();
                             $product_id=$item->getProductId();
                             $product_name=$item->getName();
                             $product_qty=$item->getQty();
                             $product_price=$item->getPrice();
                             $product_url=$item->getProductUrl();
                             $imageHelper  = $objectManager->get('\Magento\Catalog\Helper\Image');
                             $_product = $objectManager->get('Magento\Catalog\Model\Product')->load($product_id);
                             $product_image = $imageHelper->init($_product, 'product_page_image_small')->setImageFile($_product->getFile())->resize(78, 78)->getUrl();
                              
                            
                              
                    
                       ?>


                        <li data-collapsible="true" class="item product product-item odd last" data-role="product-item">
                            <div class="product product-content">
                                <div class="product-left product-top">
                                    <a title="<?php echo $product_name; ?>" href="<?php echo $product_url; ?>" class="product-item-photo">

                                        <span style="width: 78px;" class="product-image-container">
                                        <span style="padding-bottom: 100%;" class="product-image-wrapper">
                                            <img style="width: 78px;" alt="<?php echo $product_name; ?>" src="<?php echo $product_image; ?>" class="product-image-photo">
                                        </span>
                                        </span>

                                    </a>

                                </div>
                                <div class="product-item-details product-right product-details">
                                    <p class="product-item-name h6">

                                        <a title="Zigzag Chest of Drawers" href="<?php echo $product_url; ?>"><?php echo $product_name; ?></a>

                                    </p>

                                    <div data-collapsible="true" role="tablist" class="product options">
                                        
                                        
                                       <?php  $product_type=$_product->getTypeId();
                                                 if($product_type == 'configurable'):
                                               
                                                 // Load the configured product options
                                                 $productAttributeOptions = $item->getProduct()->getTypeInstance(true)->getOrderOptions($item->getProduct());

                                          
                                                 ?>
                                        <span tabindex="0" aria-expanded="false" aria-selected="false" role="tab" data-role="title" class="toggle"><span>See Details</span></span>

                                        <div style="" aria-hidden="true" role="tabpanel" data-role="content" class="content">
                                            <strong class="subtitle"><span>Options Details</span></strong>


                                            <dl class="product options list">
                                                <?php foreach($productAttributeOptions['attributes_info'] as $prod_options): ?>
                                                <dt class="label"><?php echo $prod_options['label']; ?></dt>
                                                <dd class="values">
                                                   <span><?php echo $prod_options['value']; ?></span>
                                                </dd>
                                             <?php endforeach; ?>
                                            </dl>
                                        </div>
                                      <?php   endif; ?>


                                    </div>

                                    <div class="product-item-pricing" style="margin-top: 5px;">

                                        <div class="price-container">
                                            <span class="price-wrapper">

                                        <span class="price-excluding-tax">
                                                <span class="minicart-price">
                                                <span class="price"><?php echo $product_currencysymbol.number_format($product_price,2); ?></span> </span>

                                            </span>
                                            </span>
                                        </div>

                                        <div class="details-qty qty" style="margin-top: 5px;">
                                        <input data-item-qty="<?php echo $product_qty; ?>" data-cart-item="<?php echo $quote_id; ?>" id="cart-item-<?php echo $quote_id; ?>-qty"  size="4" class="item-qty form-control cart-item-qty" maxlength="12" type="number" value="<?php echo $product_qty; ?>" readonly>
                                             
                                        </div>
                                    </div>

                                    <div class="product actions">

                                        <div class="primary">
                                            <a title="Edit item" href="<?php echo $base_url; ?>/checkout/cart/configure/id/<?php echo $quote_id; ?>/product_id/<?php echo $product_id; ?>/"  class="action edit">
                                                <span class="fa fa-pencil"> </span>
                                            </a>
                                        </div>

                                        <div class="secondary">
                                            <a title="Remove item" data-cart-item="<?php echo $quote_id; ?>" href="#"  class="action delete">
                                                <span class="fa fa-trash-o"> </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <?php } ?>

                      

                    </ol>
                </div>

                <div class="subtotal">
                    <span class="label h6">
                  <span>Total: </span>
                    </span>

                    <div class="amount price-container">

                        <span class="price-wrapper"><span class="price"><?php echo $product_currencysymbol.number_format($subTotal,2); ?></span></span>

                    </div>

                </div>

                <div class="actions">
                    <div class="primary">
                        <a href="<?php //echo $block->getUrl('checkout', ['_secure' => true]);?>">
                        <button title="Go to Checkout" id="top-cart-btn-checkout" type="button" class="action primary checkout btn btn-primary btn-lg">
                            <span>Checkout</span>
                        </button>
                        </a>
                    </div>
                </div>

                <!-- <div class="items-total no-display">
                    <span class="count">2</span>

                    <span>items</span>

                </div> -->

                <div class="actions">
                    <div class="secondary">
                        <a href="<?php echo $block->getShoppingCartUrl(); ?>" class="action viewcart btn btn-default btn-lg">
                            <span><span>View Cart</span></span>
                        </a>
                    </div>
                </div>

                <div id="minicart-widgets" class="minicart-widgets">

                </div>

              <?php else:

                   echo 'there is no item in the cart.';


                   endif;
               ?>
              


            </div>

        </div>
    </div>
</div>



    <?php /*if ($block->getIsNeedToDisplaySideBar()): ?>
        <div class="block block-minicart empty" style="display:none;"
             data-role="dropdownDialog"
             data-mage-init='{"dropdownDialog":{
                "appendTo":"[data-block=minicart]",
                "triggerTarget":".showcart",
                "timeout": "2000",
                "closeOnMouseLeave": false,
                "closeOnEscape": true,
                "triggerClass":"active",
                "parentClass":"active",
                "defaultDialogClass":"dropdown-menu",
                "buttons":null}}'>
            <div id="minicart-content-wrapper" data-bind="scope: 'minicart_content'">
                <!-- ko template: getTemplate() --><!-- /ko -->
            </div>
            <?php echo $block->getChildHtml('minicart.addons'); ?>
        </div>
    <?php endif */ ?>
    <script>
        window.checkout = <?php /* @escapeNotVerified */ echo \Zend_Json::encode($block->getConfig()); ?>;
    </script>
    <script type="text/x-magento-init">
    {
        "[data-block='minicart']": {
            "Magento_Ui/js/core/app": <?php /* @escapeNotVerified */ echo $block->getJsLayout();?>
        },
        "*": {
            "Magento_Ui/js/block-loader": "<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/loader-1.gif'); ?>"
        }
    }
    </script>
</div>

