<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Checkout\Block\Cart\Sidebar */
?>
<?php $helper = $this->helper('MGS\Mpanel\Helper\Data') ?>
<?php $header = $helper->getStoreConfig('mgstheme/general/header') ?>
<?php
    $quote = $block->getTotalsCache();
    $getSubTotal = $quote['subtotal']->getData('value');
	
	/*New code added*/
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$cart = $objectManager->get('\Magento\Checkout\Model\Cart'); 
	$totalItems = $cart->getQuote()->getItemsCount();
	$totalQuantity = $cart->getQuote()->getItemsQty();
	/*End New code added*/
?>
<ul class="cart">
<?php if($totalQuantity):?>
    <li><a href="<?php echo $block->getShoppingCartUrl(); ?>"><i class="fa fa-cart-plus" aria-hidden="true"></i><span class="cart_count"> <?php echo $totalQuantity + 0; ?></span> </a></li>
<?php else:?>
    <li><a href="<?php echo $block->getShoppingCartUrl(); ?>"><i class="fa fa-cart-plus" aria-hidden="true"></i><span class="cart_count"> 0</span> </a></li>
<?php endif; ?>
</ul>

<style>

.cart li a{position:relative;}
.cart_count{    position: absolute;top: -9px;  right: -9px; background: #5d957b;     padding: 6px;     font-size: 13px;     width: 20px;     height: 20px;     line-height: 10px;     border-radius: 50%;     color: #fff;}	
	
	
	
</style>
