/*
Style sheet for customize and override the classes of bootstrap.

*/
/* ==== Google font ==== */


/* ===================================
 General
==================================== */
html {
  position: relative;
  min-height: 100%;
  height:100%;
}

body {
	font-family: 'Century Gothic'!important;
	font-size:14px;
	font-weight:300;
	line-height:1.6em;
	color:#656565;
	background:#f5f5f5;
	min-height:100%;
  overflow-x: hidden;
}
a {
    color: #3c3c3c;
    text-decoration: none;
}
a:active {
	outline:0;
}

.clear {
	clear:both;
}

h1,h2, h3, h4, h5, h6 {
	font-family: 'Optima'!important;
	font-weight:700;
	line-height:1.1em;
	color: #F37336; /*#575757;*/
	margin-bottom: 20px;
}

/*====================================
Global Css
======================================*/

.m-0{margin:0!important;}
.m-t-0{margin-top:0 !important;}
.m-t-5{margin-top:5px!important;}
.m-t-10{margin-top:10px !important;}
.m-t-15{margin-top:15px !important;}
.m-t-20{margin-top:20px !important;}
.m-t-25{margin-top:25px !important;}
.m-t-30{margin-top:30px!important;}
.m-b-0{margin-bottom:0!important;}
.m-b-5{margin-bottom:5px!important;}
.m-b-10{margin-bottom:10px!important;}
.m-b-15{margin-bottom:15px!important;}
.m-b-20{margin-bottom:20px!important;}
.m-b-25{margin-bottom:25px!important;}
.m-b-30{margin-bottom:30px!important;}
.m-l-0{margin-left:0!important;}
.m-l-5{margin-left:5px!important;}
.m-l-10{margin-left:10px!important;}
.m-l-15{margin-left:15px!important;}
.m-l-20{margin-left:20px!important;}
.m-l-25{margin-left:25px!important;}
.m-l-30{margin-left:30px!important;}
.m-r-0{margin-right:0!important;}
.m-r-5{margin-right:5px!important;}
.m-r-10{margin-right:10px!important;}
.m-r-15{margin-right:15px!important;}
.m-r-20{margin-right:20px!important;}
.m-r-25{margin-right:25px!important;}
.m-r-30{margin-right:30px!important;}

.p-0{padding:0!important;}
.p-t-0{padding-top:0!important;}
.p-t-5{padding-top:5px!important;}
.p-t-10{padding-top:10px!important;}
.p-t-15{padding-top:15px!important;}
.p-t-20{padding-top:20px!important;}
.p-t-25{padding-top:25px!important;}
.p-t-30{padding-top:30px!important;}
.p-b-0{padding-bottom:0!important;}
.p-b-5{padding-bottom:5px!important;}
.p-b-10{padding-bottom:10px!important;}
.p-b-15{padding-bottom:15px!important;}
.p-b-20{padding-bottom:20px!important;}
.p-b-25{padding-bottom:25px!important;}
.p-b-30{padding-bottom:30px!important;}
.p-l-0{padding-left:0!important;}
.p-l-5{padding-left:5px!important;}
.p-l-10{padding-left:10px!important;}
.p-l-15{padding-left:15px!important;}
.p-l-20{padding-left:20px!important;}
.p-l-25{padding-left:25px!important;}
.p-l-30{padding-left:30px!important;}
.p-r-0{padding-right:0!important;}
.p-r-5{padding-right:5px!important;}
.p-r-10{padding-right:10px!important;}
.p-r-15{padding-right:15px!important;}
.p-r-20{padding-right:20px!important;}
.p-r-25{padding-right:25px!important;}
.p-r-30{padding-right:30px!important;}


/*====================================
 Header
======================================*/

.custom-nav.navbar{background:#ffffff;height:80px;border:0;}
.custom-nav .navbar-header{}
.custom-nav .navbar-header a.navbar-brand{margin-left: 0!important;font-weight: 600;height: auto;}
.custom-nav .navbar-nav li a{color: #444444; background: none; line-height: 50px; text-shadow: none; letter-spacing: 0.3em; font-size: 11px; font-weight: 400;    padding: 15px 25px;}
.custom-nav .navbar-nav li ul li a{color:#000;line-height: 50px;text-shadow: none;}
.custom-nav .navbar-nav>li>a:focus, .custom-nav .navbar-nav>li>a:hover {color:#000; background-color: transparent;}

.custom-nav .navbar-nav>.open>a, .custom-nav .navbar-nav>.open>a:focus, .custom-nav .navbar-nav>.open>a:hover {
    color: #fff;
    background:rgba(0,0,0,0.7)!important;box-shadow: none;
}




/* Borrowed from http://bootsnipp.com/snippets/featured/mega-menu-with-tabs-navigation */
.mega-dropdown {
    position: static !important;
}
.mega-dropdown-menu {
  padding: 20px 15px 15px;
  width: 100%;
}
.dropdown-slide:not(.open) > .dropdown-menu {
  padding: 0;
}

.dropdown-slide.open.current > .dropdown-menu {
  z-index: 2000;
}
.dropdown-slide.dropdown-sliding:not(.open) > .dropdown-menu {
  display: none !important;
}
.dropdown-slide.dropdown-slide-y > .dropdown-menu {
  max-height: 0;
  -webkit-transition: max-height 0.25s ease-out;
  -o-transition: max-height 0.25s ease-out;
  transition: max-height 0.25s ease-out;
  overflow: hidden;
  display: block;
  border: none;
}
.dropdown-slide.dropdown-slide-y.open > .dropdown-menu {
  max-height: 600px;
  -webkit-transition: max-height 0.25s ease-in;
  -o-transition: max-height 0.25s ease-in;
  transition: max-height 0.25s ease-in;
  background:rgba(255,355,255,0.7);
}
.dropdown-slide.dropdown-slide-x > .dropdown-menu {
  -webkit-transform: translate(100%, 0%);
  -ms-transform: translate(100%, 0%);
  -o-transform: translate(100%, 0%);
  transform: translate(100%, 0%);
  -webkit-transition: -webkit-transform 0.25s ease-out;
  -moz-transition: -moz-transform 0.25s ease-out;
  -o-transition: -o-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  display: block;
  border: none;
}
.dropdown-slide.dropdown-slide-x.open > .dropdown-menu {
  -webkit-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  -o-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  -webkit-transition: -webkit-transform 0.25s ease-in;
  -moz-transition: -moz-transform 0.25s ease-in;
  -o-transition: -o-transform 0.25s ease-in;
  transition: transform 0.25s ease-in;
}
.sub-menu-1{margin:  0 auto}
.sub-menu{}
.sub-menu ul{margin: 0;padding: 0;}
.sub-menu ul li{display: inline-block;}


/* ===================================
page styles
==================================== */


body{}
.main-wrapper {width: 100%;margin-top: 190px;}


/********************************/
/*          Main CSS     */
/********************************/


#first-slider .main-container {
  padding: 0;
}


#first-slider .slide1 h3, #first-slider .slide2 h3, #first-slider .slide3 h3, #first-slider .slide4 h3{
    color: #000;
    font-size: 30px;
      text-transform: uppercase;
      font-weight:300;
}

#first-slider .slide1 h4,#first-slider .slide2 h4,#first-slider .slide3 h4,#first-slider .slide4 h4{
    color: #000;
    font-size: 30px;
      text-transform: uppercase;
      font-weight:300;
}
#first-slider .slide1 .text-left ,#first-slider .slide3 .text-left{
    padding-left: 40px;
}


#first-slider .carousel-indicators {
  bottom: 0;
}
#first-slider .carousel-control.right,
#first-slider .carousel-control.left {
  background-image: none;
}
#first-slider .carousel .item {
  min-height:700px; 
  height: 100%;
  width:100%;
}

.carousel-inner .item .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}


#first-slider h3{
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
#first-slider h4 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
#first-slider h2 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}


#first-slider .carousel-control {
    width: 6%;
        text-shadow: none;
}


#first-slider h1 {
  text-align: center;  
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
}

#first-slider .p {
  padding-top: 125px;
  text-align: center;
}

#first-slider .p a {
  text-decoration: underline;
}
#first-slider .carousel-indicators li {
    width: 14px;
    height: 14px;
    background-color: rgba(255,255,255,.4);
  border:none;
}
#first-slider .carousel-indicators .active{
    width: 16px;
    height: 16px;
    background-color: #fff;
  border:none;
}


.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.carousel-control .fa-angle-right, .carousel-control .fa-angle-left {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}
.carousel-control .fa-angle-left{
    left: 50%;
    width: 38px;
    height: 38px;
    margin-top: -15px;
    font-size: 30px;
        color: #777;
    border: 0;
    border-radius: 50%;
    background: #FFF;
    line-height: 36px;
}
.carousel-control .fa-angle-right{
    right: 50%;
    width: 38px;
    height: 38px;
    margin-top: -15px;
    font-size: 30px;
    color: #777;
    border: 0;
    border-radius: 50%;
    background: #fff;
    line-height: 36px;
}
.carousel-control {
    opacity: 1;
    filter: alpha(opacity=100);
}


/********************************/
/*       Slides backgrounds     */
/********************************/


#first-slider .carousel .item.slide1 {
    background:url("../homeimages/banner-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
#first-slider .carousel .item.slide2 {
     background: url("../homeimages/banner-2.png");
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
}
#first-slider .carousel .item.slide3 {
     background: url("../homeimages/banner-3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#first-slider .carousel .item.slide4 {
     background: url("../homeimages/banner-4.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#first-slider .carousel .item.slide5 {
     background: url("../homeimages/banner-5.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.product-box {}
.banner-type-hover-effect{}
.product-box .box-inner {
    position: relative;
    overflow: hidden;
/*    height:760px;*/
}


.banner-image{}
.banner-image img{vertical-align: middle;
    max-width: 100%;
    height: auto;    width: 100%;    -webkit-transition: opacity .35s,-webkit-transform 1s;
    transition: opacity .35s,transform 1s;}


.item-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 250ms ease-out;
}

.banner-type-hover-effect .item-overlay {
    visibility: visible;
    opacity: 1;
    background-color: transparent;
    transition: all 450ms ease-out;
}


.banner-type-hover-effect:hover .item-overlay {
    background-color:rgba(243, 243, 243, 0.8);
}


.product-box .banner-info {
    position: absolute;
    bottom: 5%;
    width: 88%;
    left: 6%;
    transition: all 450ms ease-out;
    z-index: 2;
}


.banner-type-hover-effect .banner-info {
    width: 90%;
    left: 5%;
    z-index: 9;
    bottom: 50%;
    opacity: 0;
    visibility: hidden;
    transform: translate(0,50%) scale(2);
    -ms-transform: translate(0,50%) scale(2);
    -webkit-transform: translate(0,50%) scale(2);
}


.banner-type-hover-effect:hover .banner-info {
    visibility: visible;
    opacity: 1;
    transform: translate(0,50%) scale(1);
    -ms-transform: translate(0,50%) scale(1);
    -webkit-transform: translate(0,50%) scale(1);
}


.product-box .banner-link-overlay {
    position: absolute; left: 0; top: 0; right: 0; bottom: 0;
}
.main-products-row h2.heading-tag{
    position:relative; font-weight: 400; text-transform: capitalize; font-size:26px; letter-spacing:1px; text-align: center; padding-top:20px; margin-bottom: 30px; padding-bottom:10px; color:#2a2a2a;
}


.product-filter{background: #fff;padding: 2em 0;}

.product-filter h2{
  position:relative; font-weight: 400; text-transform: capitalize; font-size:26px; letter-spacing: 1px; text-align: center; padding-bottom:10px; color:#2a2a2a; margin-bottom: 30px; margin-top:10px;
}

.main-products-row h2.heading-tag:after, .product-filter h2:after, .blog-sec .heading-tag:after {
    position: absolute;  content: "";  width: 90px; left: 0; right: 0; bottom: 0; margin: 0 auto; border-bottom: 1px solid #ED7745;
}


.btn.filter-button{border: 0;font-size: 16px;text-transform: uppercase;box-shadow: none;border-radius: 0;border-bottom: 1px solid transparent;}
.btn.filter-button:hover,.btn.filter-button:focus{color: #66CC99;border-bottom: 1px solid #66CC99;background: none;outline: 0;}

.port-image{width: 100%;height:100%;}
.each-item{position:relative; overflow:hidden; margin-bottom:20px; /*height:300px;*/}
.each-item:hover .cap2, .each-item:hover .cap1{left:0px;}
.cap1{
    position:absolute; width:100%; height: calc(100% - 50px); /* background:rgba(243, 243, 243, 0.8); */ background:rgba(237, 114, 59, 0.55); top:0px; left:-100%; padding:10px;  transition: all .5s;
}
.cap1 h3{text-transform: uppercase;font-size: 20px;letter-spacing: 1px;font-weight: 300;margin:15px 0 10px;color:#000;}
.cap1 p{font-size:15px;font-weight: 300;letter-spacing: 1px;color:/* #8a8a8a */#000;}
.cap1 p:empty{display:none;}	


.product-icons{position: absolute;left: 50%;top: 55%;transform: translate(-50% , -50%);width:180px;}
.cap1 button.action.towishlist.btn.btn-addlist.float_none,.cap1 a.btn-view{margin: 5px;
    padding: 8px;
    text-align: center;
    background-color:transparent;
    font-size: 16px;
    border-radius: 50%;
    border:2px solid #fff;
    color:#fff;
	color:rgba(90, 74, 52, 0.5);
	width: 44px;
    height: 44px;
    line-height: 24px;}

.cap1 button.action.towishlist.btn.btn-addlist.float_none:hover,.cap1 a.btn-view:hover{background:#66CC99;border-color:#66CC99;color: #fff;}


.cap2
{
    position:absolute;
    width:100%;
    height:50px;
    background-color: #66CC99;
    bottom:0px;
    left:100%;
    padding:10px;
    transition: all .5s;
}

.cap2 a{margin: 0;line-height: 30px;color: #fff;text-transform: capitalize;display: block;text-decoration: none;}

.countdown-sec{padding: 4em 0;background: url("../homeimages/m-2-parallax-1.jpg") no-repeat 0 0/cover;}



.product-thumbnail {
    -webkit-box-shadow: 20px 20px 0 rgba(35,35,36,.6);
    box-shadow: 20px 20px 0 rgba(35,35,36,.6);
}

.product-thumbnail .item-image-holder {
    text-align: center;
}

.product-thumbnail .item-image-holder a {
    display: block;position: relative;
}

.product-thumbnail .item-image-holder a:hover .item-overlay{ background-color: rgba(234, 234, 234, 0.9);
    opacity: 1;
    visibility: visible;}
.item-image-holder img{max-width: 100%;}

.save-percentage{position: absolute;
    left: 40px;
    top: 20px;font-size: 18px;
    padding: 15px 30px;color: #fff;
    line-height: 20px;
    border-radius: 30px;background-color:#66CC99;z-index: 9;}

.product-info{color: #fff;    padding-left: 40px;}
.product-info .product-title{margin: 20px 0 30px;}
.product-title a{    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 28px;
    letter-spacing: 1px;
    text-decoration: none;}

.product-info .price {margin: 0 0 20px; display: block; color: #fff!important; }
.product-info .price del{font-size: 22px;}
.product-info .price ins{font-size: 32px; text-decoration: none; margin-left: 10px;}
.item-excerpt{    margin:30px 0;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1px;}

.elm-countdown {
    padding:20px 0 60px;
}

.countdown-row{display: block;font-size: 0;}

.countdown-section{display: inline-block;color: #fff;width: 25%;}
.countdown-section{}
.countdown-amount,.countdown-period{display: block;text-align:left;font-size: 18px;}
.countdown-amount{font-size: 40px; line-height: 44px; font-weight: 600;}
.countdown-period{    line-height: 30px; font-weight: 400; letter-spacing: 1px; font-size: 16px; font-style: italic;}

.product-action a{font-size: 14px;
    text-transform: uppercase;
    line-height: 30px;
    padding: 16px 52px;
    letter-spacing: 1px;
    color: #343538;
    background-color: #fff;}
.product-action a:hover{    background-color: #545454; color: #fff; text-decoration: none;}

.blog-sec{background: #ffffff; padding: 2em 0 4em; border-top: 1px solid #f3f3f3; }
.blog-sec .heading-tag {
    position:relative; font-weight: 400; text-transform: capitalize; font-size:26px; letter-spacing: 1px; text-align: center; padding-bottom:10px; color:#2a2a2a; margin-bottom:12px; margin-top:20px;
}
.subheading-tag{text-align: center;margin-bottom: 2em;}
.subheading-tag p{font-weight: 400; font-style: italic; font-size: 20px;}
.blog-post-item{position: relative;}
.blog-post-item .item-overlay{background: #000;}
.blog-item-has-effect{position: relative;/*height: 240px;*/overflow: hidden;}
.blog-item-has-effect img{max-width: 100%;}
.blog-post-item:hover .blog-item-has-effect .item-overlay {
    visibility: visible;
    opacity: .3;
}
.item-info{margin-top: 10px;}
.blog-item-has-effect .cat-links {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;color: #9d9d9d;
}

.cat-links a{    font-size: 14px; font-weight: 300; line-height: 1.6em; color: #656565; text-transform: uppercase;}
.blog-post-item:hover .blog-item-has-effect .cat-links{color:#35d56a;}


.blog-post-item .entry-title {
    margin: 0 0 10px;
}
.blog-post-item .entry-title a {
    color: #343538;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
}
.blog-post-item:hover .entry-title a{color:#66CC99;}
.blog-post-item .entry-excerpt {
    line-height: 1.875;
}

.blog-post-item .entry-meta-footer {
    padding:12px 0 0;
    border: 0;
    margin: 0;
}

.entry-meta-footer .btn {
    color: #fff;
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
    padding: 15px 50px;
    transition: all 300ms ease;
    line-height: 22px;
}


.entry-meta-footer .btn.btn-outline {
    border-width: 1px;
    border-style: solid;
    background-color: transparent;
}

.entry-meta-footer .btn.btn-outline {
   border-color: rgba(150,150,150,0.30);
    color: #343538;
    padding: 4px 15px;
    box-shadow: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}
.entry-meta-footer .btn.btn-outline:hover{color:#fff; background-color: #5a4a34 !important; border-color: #5a4a34 !important;}

.product-pack .product-box .banner-info {
    bottom: auto;
    top: 50%;
    transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
} 

.product-pack .product-box:hover .banner-image img {
    transform: scale(1.05) translate(2%,0);
    -ms-transform: scale(1.05) translate(2%,0);
    -webkit-transform: scale(1.05) translate(2%,0);
}
.product-pack .banner-type-hover-effect:hover .item-overlay {
    background-color:rgba(224, 224, 224, 0.9);
}
.product-pack .banner-type-hover-effect:hover .banner-info {
    left: 10%;
}
.product-pack .product-box .banner-info .subheading-tag{text-align: left;}
.product-pack .product-box .banner-info .subheading-tag .btn.btn-outline {border-color: rgba(150,150,150,0.30); color: #343538; border-width: 1px; border-style: solid; background-color: transparent; padding: 10px 20px; font-style: normal;}
.product-pack .product-box .banner-info .subheading-tag .btn.btn-outline:hover{color: #fff; background-color: #35d56a; border-color: #35d56a;}
.product-pack .product-box .banner-info .subheading-tag h5{color: #343538; font-weight: 400; font-size: 20px;}
.visible-inline,.visible-inline-block{display: inline-block;margin-bottom: 10px;}
.visible-inline-block{font-size: 30px; color: #333;}




/* ===================================
Responsive styles
==================================== */


@media (min-width:1300px){



}
@media (min-width:1200px) and (max-width:1380px) {
 

}
@media (min-width:1200px){



}

@media (min-width: 992px) and (max-width: 1199px) {



}
@media (min-width: 768px) and (max-width: 991px) {
.custom-nav .navbar-nav li a {padding: 15px 10px;}

}
@media (max-width: 991px) {
    .product-filter{padding:0;}
}
@media (min-width: 768px) {
    
}

@media (max-width: 767px) {
.custom-nav.navbar {height: 54px; } 
.custom-nav .navbar-header a.navbar-brand{padding:8px 15px;}
.custom-nav .navbar-brand>img {max-width: 200px;}
.custom-nav .navbar-toggle{border-color: #444444;margin-top:10px;}
.custom-nav .navbar-toggle:focus, .custom-nav .navbar-toggle:hover{background: none;opacity: 0.8;}
.custom-nav .navbar-toggle .icon-bar{background-color: #444444;}
.custom-nav .navbar-collapse {background: #fff; position: relative; top: -5px;}
.custom-nav .navbar-nav{margin-top: 0;}
.custom-nav .navbar-nav li a {line-height: 20px;padding: 10px 15px;}
.custom-nav .navbar-nav li ul li a {color: #000; line-height: 34px; text-shadow: none; }
.mega-dropdown.open{border-bottom: 1px solid #ddd;}
.landing-page {
    padding-top: 54px;
    padding-bottom: 71px;
}


.footer{line-height: initial;}
.footer ul{text-align: center;}
.footer ul li a {line-height:20px;padding:6px 15px;}
}

@media (max-width: 320px) {

}


.item .slide1 a{color:#fff;}
.item .slide2 a{color:#fff;}
.item .slide3 a{color:#fff;}
.item .slide1 a:focus, a:hover{color:#fff; text-decoration:none;}
.item .slide2 a:focus, a:hover{color:#fff; text-decoration:none;}
.item .slide3 a:focus, a:hover{color:#fff; text-decoration:none;}

/****************Blog css******************/
/*.blog-post-view img{ display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;}*/

    /*--------------Ankur-------------*/
    .main-wrapper-edit{margin-top:125px!important;}