<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

/**  @var $block \Magento\Checkout\Block\Cart */
?>
<div class="cart-empty">
    <?php echo $block->getChildHtml('checkout_cart_empty_widget'); ?>
    <?php /*
    <p><?php  echo __('You have no items in your shopping cart.') ?></p>
    <p><?php  echo __('Click <a href="%1">here</a> to continue shopping.',
            $block->escapeUrl($block->getContinueShoppingUrl())) ?></p>
    <?php echo $block->getChildHtml('shopping.cart.table.after'); ?>
    <?php */ ?>

    <?php $_objectManager = \Magento\Framework\App\ObjectManager::getInstance(); //instance of\Magento\Framework\App\ObjectManager
$storeManager = $_objectManager->get('Magento\Store\Model\StoreManagerInterface'); 
$currentStore = $storeManager->getStore(); 
$mediaUrl = $currentStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
$empty_cart_img=$mediaUrl.'ideaboards-page/empty-cart.svg';
?>
<div align="center">
<img src="<?php echo $empty_cart_img; ?>" />
<div class="" style="padding:10px;">Your shopping cart is empty</div>
<a href="<?php echo $_SERVER["HTTP_REFERER"]; ?>"><div class="btn btn-secondary btn-orange">Continue Shopping</div></a>

</div>
</div>
